<!--ko if: hasResults()-->
    <div class="sp-text-center sp-px-8 md:sp-px-0 md:sp-container sp-mb-8">
        <h1 class="sp-plan__title sp-h1 sp-text-green-1">
            <div>
                <div data-bind="text: customerFirstName()+'\'s'"></div>
                Lawn Plan
            </div>
        </h1>

        <p class="sp-text-center sp-max-w-md sp-mx-auto">
            Get ready to grow! You'll receive everything you need each season, so that all
            <strong data-bind="if: subscription().lawn_size > 0"><span data-bind="html: formatNumber(subscription().lawn_size)"></span> square feet</strong>
            of your
            <span data-bind="if: subscription().lawn_type"><strong data-bind="html: subscription().lawn_type"></strong></span>
            lawn is taken care of.
            All you have to do is apply it when it arrives in the mail and enjoy a healthier-looking lawn.
        </p>
    </div>

    <!-- ko if: results().plan -->
        <div class="sp-container sp-mb-12 sp-text-center">
            <div class="sp-plan__your-plan sp-inline-block sp-bg-white sp-pt-8 sp-pb-4 sp-px-4 lg:sp-mx-8 md:sp-mx-auto sp-relative sp-rounded sp-my-8 md:sp-my-12">
                <h2 class="sp-text-center sp-h4 sp-m-0 sp-mb-4 sp-uppercase">Your Plan</h2>

                <ul
                    class="sp-plan__list sp-flex sp-flex-row sp-flex-wrap lg:sp-flex-no-wrap sp-m-0 sp--mx-2 sp-p-0 sp-justify-around sp-relative"
                    data-bind="foreach: seasons()"
                >
                    <li class="sp-plan__your-plan-product sp-text-center sp-mx-4 md:sp-mx-0 sp-px-2">
                        <div class="sp-flex sp-items-center sp-justify-center sp--mx-1" data-bind="foreach: products">
                            <div class="sp-px-1">
                                <img
                                    class="sp-align-center sp-block sp-mb-1 sp-plan__product-image"
                                    data-bind="attr: { src: thumbnailImage, alt: meta_title }"
                                />
                            </div>
                        </div>
                        <div
                            class="sp-plan__your-plan-label sp-text-center sp-p2"
                            data-bind="html: season"
                        >
                        </div>
                        <strong
                            class="sp-text-center sp-label"
                            data-bind="html: $parent.formatCurrency(total)"
                        >
                        </strong>
                    </li>
                </ul>
            </div>
        </div>

        <div class="sp-container sp-mb-16">
            <div class="sp-mx-auto sp-w-full lg:sp-w-5/6">
                <div class="sp-flex sp-justify-end sp-mr-8 md:sp-mr-0 sp-my-4">
                    <a class="sp-link" data-qa="ManagePlanLink" href="/account/subscription">Manage Plan</a>
                </div>

                <!-- Sidebar -->
                <div class="sp-plan-tabs-container">
                    <ul class="sp-p-0 sp-plan__tabs accordion"
                        data-bind="foreach: seasons()">
                        <li class="sp-plan__list sp-mb-0">
                            <button type="button"
                                    data-bind="click: function() { $parent.toggleAccordion($index()) },
                                        attr: { 'data-qa': $parent.formatId($data.products[0].season) + 'ButtonMobile' }"
                                    class="sp-plan__tabs-button sp-flex sp-align-center sp-py-8 sp-px-4 lg:sp-hide mobile"
                            >
                                <img class="sp-mr-4 sp-results__icon--small"
                                     data-bind="attr: { src: $parent.getSeasonIcon($data.products[0]), alt: $data.products[0].season }"  />
                                <div>
                                    <strong class="sp-h4 sp-mb-2 lg:sp-mb-0"
                                            data-bind="html: $data.products[0].season"></strong>
                                    <div class="sp-p2"
                                         data-bind="if: $parent.nextAvailableProduct() === $index()">(Next Shipment)</div>
                                </div>
                            </button>
                            <button type="button"
                                    class="sp-plan__tabs-button sp-flex sp-align-center sp-py-8 sp-px-4 desktop"
                                    data-bind="click: function() { $parent.activeSeasonIndex($index()) },
                                        css: {'sp-bg-green-4': ($index() === $parent.activeSeasonIndex())},
                                        attr: { 'data-qa': $parent.formatId($data.products[0].season) + 'ButtonDesktop' }"
                                    >
                                <img class="sp-mr-4 sp-plan__icon--small"
                                     data-bind="attr: { src: $parent.getSeasonIcon($data.products[0]), alt: $data.products[0].season }" />
                                <div>
                                    <strong class="sp-h4 sp-mb-2 lg:sp-mb-0"
                                            data-bind="html: $data.products[0].season"></strong>
                                    <div
                                        class="sp-p2"
                                        data-bind="if: $parent.nextAvailableProduct() === $index()"
                                    >(Next Shipment)
                                    </div>
                                    <div
                                        class="sp-p2"
                                        data-bind="attr: { 'data-qa': $parent.formatId($data.products[0].season) + 'ApplyBetween' }"
                                    >
                                        <span data-bind="html: $parent.formatDate($data.products[0].applicationStartDate)"></span> -
                                        <span data-bind="html: $parent.formatDate($data.products[0].applicationEndDate)"></span>
                                    </div>
                                </div>
                            </button>
                            <!-- ko with: { season: $data, formatDate: $parent.formatDate, formatId: $parent.formatId, productFeatures: $parent.productFeatures, context: $parentContext.$rawData, formfactor: 'Mobile' } -->
                                <div class="lg:sp-hide">
                                    <!-- ko template: "SMG_SubscriptionPlan/active-season.html" --><!-- /ko -->
                                </div>
                            <!-- /ko -->
                        </li>
                    </ul>

                    <!-- Product Detail -->
                    <!-- ko if: activeSeason() -->
                    <!-- ko with: { season: $data.activeSeason(), formatDate: $data.formatDate, formatId: $data.formatId, productFeatures: $data.productFeatures, context: $context.$rawData, formfactor: 'Desktop' } -->
                    <div class="sp-hide lg:sp-block">
                        <!-- ko template: "SMG_SubscriptionPlan/active-season.html" --><!-- /ko -->
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
        </div>

        <div class="sp-container">
            <div class="sp-success__articles sp-mx-auto sp-mb-16 sp-w-5/6 md:sp-w-full lg:sp-w-5/6">
                <h4 class="sp-h4 sp-mb-4 sp-mt-0 sp-uppercase">How to make the most of your lawn</h4>
                <hr class="sp-mt-4 sp-mb-8">
                <div class="sp-flex sp-flex-column md:sp-flex-row sp--mx-2 lg:sp--mx-8">
                    <div class="sp-mb-8 sp-px-2 lg:sp-px-8 md:sp-w-1/3">
                        <div class="sp-success__article-image-container sp-mb-4 sp-relative">
                            <img
                                alt="Article"
                                class="sp-success__article-image"
                                src="https://test-magento-image-repo.storage.googleapis.com/article1.png"
                            >
                            <a
                                class="sp-success__article-link sp-bg-green-1 sp-text-center sp-text-white sp-uppercase"
                                data-qa="WhatDoGrassClippingsReadMoreLink"
                                href="https://www.scotts.com/en-us/library/lawn-food/what-do-grass-clippings"
                                target="_blank"
                            >
                                Read More
                                <img
                                    alt="Read More"
                                    class="sp-success__article-link-out"
                                    src="https://test-magento-image-repo.storage.googleapis.com/LinkOut.svg"
                                />
                            </a>
                        </div>
                        <div>
                            <h3 class="sp-h3 sp-mb-2 sp-mt-0">
                                What to Do With Grass Clippings
                            </h3>
                            <p class="sp-p1">Don't throw those grass clippings away! They're cheap and nourishing mulch for your lawn.</p>
                        </div>
                    </div>
                    <div class="sp-mb-8 sp-px-2 lg:sp-px-8 md:sp-w-1/3">
                        <div class="sp-success__article-image-container sp-mb-4 sp-relative">
                            <img
                                alt="Article"
                                class="sp-success__article-image"
                                src="https://test-magento-image-repo.storage.googleapis.com/article2.png"
                            >
                            <a
                                class="sp-success__article-link sp-bg-green-1 sp-text-center sp-text-white sp-uppercase"
                                data-qa="BenefitsMulchingReadMoreLink"
                                href="https://www.scotts.com/en-us/library/mulch-garden/benefits-mulching"
                                target="_blank"
                            >
                                Read More
                                <img
                                    alt="Read More"
                                    class="sp-success__article-link-out"
                                    src="https://test-magento-image-repo.storage.googleapis.com/LinkOut.svg"
                                />
                            </a>
                        </div>
                        <div>
                            <h3 class="sp-h3 sp-mb-2 sp-mt-0">
                                Benefits of Mulching
                            </h3>
                            <p class="sp-p1">Learn about this simple way to turn your landscape from blah to beautiful.</p>
                        </div>
                    </div>
                    <div class="sp-mb-8 sp-px-2 lg:sp-px-8 md:sp-w-1/3">
                        <div class="sp-success__article-image-container sp-mb-4 sp-relative">
                            <img
                                alt="Article"
                                class="sp-success__article-image"
                                src="https://test-magento-image-repo.storage.googleapis.com/article3.png"
                            >
                            <a
                                class="sp-success__article-link sp-bg-green-1 sp-text-center sp-text-white sp-uppercase"
                                data-qa="HowReadyYourLawnMowerSpringReadMoreLink"
                                href="https://www.scotts.com/en-us/library/spreaders-mowing-tools/how-ready-your-lawn-mower-spring"
                                target="_blank"
                            >
                                Read More
                                <img
                                    alt="Read More"
                                    class="sp-success__article-link-out"
                                    src="https://test-magento-image-repo.storage.googleapis.com/LinkOut.svg"
                                />
                            </a>
                        </div>
                        <div>
                            <h3 class="sp-h3 sp-mb-2 sp-mt-0">
                                How to Ready Your Lawn Mower For Spring
                            </h3>
                            <p class="sp-p1">Have your mower ready to go with this checklist of basic annual maintenance for power mowers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ko if: pdp().visible && pdp().product -->
            <!-- ko template: "SMG_SubscriptionPlan/product-detail-modal.html" -->
        <!-- /ko -->
    <!-- /ko -->
<!-- /ko -->
