<div class="sp-flex sp-flex-column md:sp-flex-row sp-justify-center md:sp-justify-between sp-items-center sp-mt-8 md:sp-mt-0">
	<h2 class="sp-h2 sp-mt-0 sp-text-center md:sp-text-left">Account Settings</h2>
</div>

<form method="POST"
	  class="sp-flex sp-flex-column lg:sp-flex-row sp-my-8 md:sp-my-0">
	<div class="sp-flex-auto sp-p-4 lg:sp-p-0 lg:sp-w-1/2">
		<h4 class="sp-h4 sp-m-0 sp-pb-4 sp-mb-8">Account Information</h4>
		<div class="sp-form-group">
			<input type="text"
				   class="sp-input"
				   placeholder="First Name"
				   name="firstname"
				   id="firstname"
				   data-bind="textInput: account.firstName, enable: accountInfoEditable" />
			<label class="sp-form-label"
				   for="firstname">First Name</label>
		</div>
		<div class="sp-form-group">
			<input type="text"
				   class="sp-input"
				   placeholder="Last Name"
				   name="lastname"
				   id="lastname"
				   data-bind="textInput: account.lastName, enable: accountInfoEditable" />
			<label class="sp-form-label"
				   for="lastname">Last Name</label>
		</div>
	</div>

	<div class="sp-flex-auto sp-p-4 lg:sp-p-0 lg:sp-ml-4 lg:sp-w-1/2">
		<h4 class="sp-h4 sp-m-0 sp-pb-4 sp-mb-8">Change Email and Password</h4>
		<div class="sp-form-group">
			<input type="email"
				   class="sp-input"
				   placeholder="Email"
				   name="email"
				   id="email"
				   data-bind="textInput: account.email, enable: accountInfoEditable" />
			<label class="sp-form-label"
				   for="email">Email</label>
		</div>

		<div class="sp-form-group">
			<input type="password" data-bind="textInput: account.currentPassword, enable: accountInfoEditable"
				   placeholder="Current Password*"
				   class="sp-input"
				   name="password"
				   id="password"/>
			<label class="sp-form-label"
				   for="password">Current Password*</label>
		</div>

		<div class="sp-form-group">
			<input type="password"
				   class="sp-input"
				   placeholder="New Password"
				   name="newPassword"
				   id="newPassword"
				   data-bind="event: { keyup: passwordStrength }, textInput: account.newPassword, enable: accountInfoEditable" />
			<label class="sp-form-label"
				   for="newPassword">New Password</label>
			<div class="form-tooltip">
				<h6 class="sp-mt-0 sp-mb-2">Password Strength:</h6>
				<div id="pass_type" class="sp-font-bold sp-text-center sp-mb-2">Too Weak</div>
				<div id="meter_wrapper" class="sp-mb-2">
					<div id="meter"></div>
				</div>
				<p class="sp-mb-0">Password must contain at least 8 characters and the 3 of the following: An uppercase
				letter, a lowercase latter, a number, a special symbol</p>
			</div>
		</div>

		<div class="sp-form-group">
			<input type="password"
				   class="sp-input"
				   placeholder="Confirm New Password"
				   name="passwordRetype"
				   id="passwordRetype"
				   data-bind="textInput: account.newPasswordConfirm, enable: accountInfoEditable" />
			<label class="sp-form-label"
				   for="passwordRetype">Confirm New Password</label>
		</div>

		<div class="sp-flex sp-justify-end">
			<button type="button" class="sp-button sp-button--primary"
					data-bind="toggleClick: accountInfoEditable, visible: !accountInfoEditable()">Change</button>
			<button type="button" class="sp-link sp-flex-none md:sp-mr-6 sp-order-0 md:sp-order-0"
					data-bind="toggleClick: accountInfoEditable, click: resetFields, visible: accountInfoEditable(), enable: accountInfoEditable">Cancel</button>
			<button type="submit"
					class="sp-button sp-button--primary"
					data-bind="click: saveAccount, visible: accountInfoEditable() && !saving()">Save</button>
			<button type="button"
					class="sp-button sp-button--inactive sp-button--loading"
					data-bind="visible: accountInfoEditable() && saving()">&emsp;&emsp;&emsp;</button>

		</div>
	</div>
	<div class="sp-flex-auto sp-p-4">
</form>

<div id="popup-modal"
     class="modal-popup--subscriptions sp-hide sp-p-8">
    <button
        class="modal-popup--subscriptions__close"
        data-bind="click: hideModal"
    ></button>
    <h2 class="sp-h2 sp-text-black sp-text-center" data-bind="text: modalValues().header"></h2>
    <p class="sp-text-black sp-mb-10 sp-text-center" data-bind="text: modalValues().message"></p>

    <div class="sp-flex sp-justify-center sp-items-center">
        <button
            class="sp-button sp-button--primary"
            type="button"
            data-bind="click: hideModal"
        >
            Close
        </button>
    </div>
</div>
