<h1>Account Settings</h1>
<form method="POST">
	<h4>Account Information</h4>
	<div>
		<label for="firstname">First Name</label>
		<input type="text" name="firstname" id="firstname" data-bind="value: account().firstname" />
	</div>
	<div>
		<label for="lastname">Last Name</label>
		<input type="text" name="lastname" id="lastname" data-bind="value: account().lastname" />
	</div>

	<h4>Change Email and Password</h4>
	<div>
		<label for="email">Email</label>
		<input type="email" name="email" id="email" data-bind="value: account().email" />
	</div>

	<div>
		<label for="current_password">Current Password</label>
		<input type="password" name="current_password" id="current_password" value="" />
	</div>

	<div>
		<label for="new_password">New Password</label>
		<input type="password" name="new_password" id="new_password" value="" />
	</div>

	<div>
		<label for="confirm_new_password">Confirm New Password</label>
		<input type="password" name="confirm_new_password" id="confirm_new_password" value="" />
	</div>
	<button type="submit" class="sp-button sp-button--primary" data-bind="click: saveAccount">Save</button>
</form>