<!-- ko if: success() -->
<div
    class="sp-bg-green-4 sp-p1 sp-px-4 sp-py-2 sp-mb-4 sp-rounded sp-text-green-1 sp-text-bold"
    data-bind="text: success()"
>
</div>
<!-- /ko -->

<h2 class="sp-h2 sp-mt-0 sp-text-center lg:sp-text-left">Billing Information</h2>

<form id="recurlyForm" class="sp-flex sp-flex-column lg:sp-flex-row">
	<div class="sp-flex-auto sp-p-4 lg:sp-p-0">
        <div class="sp-form-group">
            <input type="text"
                placeholder="First Name"
                class="sp-input"
                data-recurly="first_name"
                data-bind="value: billing().first_name"
                name="first_name"
            >
            <label class="sp-form-label">First Name</label>
        </div>
        <div class="sp-form-group">
            <input type="text"
                placeholder="Last Name"
                class="sp-input"
                data-recurly="last_name"
                data-bind="value: billing().last_name"
                name="last_name"
            >
            <label class="sp-form-label">Last Name</label>
        </div>

        <div class="sp-form-group">
            <label class="sp-form-label">Card Number</label>
            <div data-recurly="card"
                class="sp-form-group sp-px-2 sp-w-full"></div>
        </div>

        <div class="sp-form-group sp-hidden">
            <div class="sp-select sp-block sp-w-full">
                <select name="country"
                        placeholder="Country"
                        class="sp-block sp-w-full"
                        data-recurly="country"
                        data-bind="options: countries(), optionsText: function(item) { return item.label }, optionsValue: function(item) { return item.value }, value: billing().country"></select>
                </div>
            <label class="sp-form-label">Country</label>
        </div>
    </div>

	<div class="sp-flex-auto sp-p-4 lg:sp-p-0 lg:sp-ml-4">
        <div class="sp-form-group">
            <input type="text"
                placeholder="Address line 1"
                class="sp-input"
                data-recurly="address1"
                data-bind="value: billing().address1"
                name="address_1"
            >
            <label class="sp-form-label">Address line 1</label>
        </div>
        <div class="sp-form-group">
            <input type="text"
                placeholder="Address line 2"
                class="sp-input"
                data-recurly="address2"
                data-bind="value: billing().address2"
                name="address_2">
            <label class="sp-form-label">Address line 2</label>
        </div>
        <div class="sp-form-group">
            <input type="text"
                placeholder="City"
                class="sp-input"
                data-recurly="city"
                data-bind="value: billing().city"
                name="city">
            <label class="sp-form-label">City</label>
        </div>
        <div class="sp-form-group">
            <input type="text"
                placeholder="Zip/Postal Code"
                class="sp-input"
                data-recurly="postal_code"
                data-bind="value: billing().zip"
                name="zip_code">
            <label class="sp-form-label">Zip/Postal Code</label>
        </div>
        <div class="sp-form-group">
            <div class="sp-select">
                <select name="state"
                        placeholder="State"
                        data-recurly="state"
                        data-bind="options: Object.values(states()), optionsText: function(item) { return item.text }, optionsValue: function(item) { return item.value }, value: billing().state"></select>
            </div>
            <label class="sp-form-label">State</label>
        </div>
        <div class="sp-flex sp-justify-end">
            <input type="hidden"
                name="recurly-token"
                data-recurly="token">
            <button type="submit"
                    data-bind="click: saveBilling"
                    class="sp-button sp-button--primary">Save</button>
        </div>
    </div>
</form>
