<div class="sp-flex sp-flex-column md:sp-flex-row sp-justify-center md:sp-justify-between sp-items-center sp-mt-8 md:sp-mt-0">
    <h2 class="sp-h2 sp-mt-0 sp-text-center md:sp-text-left">Billing Information</h2>
</div>

<div class="sp-px-4 md:sp-px-0 sp-my-8 sp-text-center md:sp-text-left" data-bind="visible: !billing.card_on_file()">
    <p class="sp-p1 sp-strong">You do not have a current subscription with Scotts Program.</p>
    <p class="sp-p1 sp-max-w-md">Ready to get a subscription lawn care plan made just for your yard?</p>
    <a href="/quiz" class="sp-button sp-button--primary sp-button--get-started sp-relative sp-text-center sp-mt-4">Get Started</a>
</div>
<form data-bind="visible: billing.card_on_file" id="recurlyForm" class="sp-flex sp-flex-column lg:sp-flex-row"
data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
      data-mage-init='{"validation":{}}'>
    <div class="sp-flex-auto sp-p-4 lg:sp-p-0">
        <div class="sp-form-group">
            <input type="text"
                placeholder="First Name"
                class="sp-input"
                data-recurly="first_name"
                data-bind="value: billing.first_name, enable: billingInfoEditable"
                name="first_name"
                data-validate="{required:true}" aria-required="true"
                >
            <label class="sp-form-label">First Name</label>
        </div>
        <div class="sp-form-group">
            <input type="text"
                placeholder="Last Name"
                class="sp-input"
                data-recurly="last_name"
                data-bind="value: billing.last_name, enable: billingInfoEditable"
                name="last_name"
                data-validate="{required:true}" aria-required="true"
            >
            <label class="sp-form-label">Last Name</label>
        </div>
         
        <div class="sp-form-group">
            <input type="text"
                placeholder="Card Number"
                class="sp-input"
                data-recurly="card_no_file"
                data-bind="value: billing.card_on_file, visible: !billingInfoEditable(), enable: billingInfoEditable"
                name="card_no_file"
            >
            <label class="sp-form-label">Card on file</label>
        </div> 
        
        <div class="cardedit" data-bind="visible: billingInfoEditable">
            <div class="sp-form-group">
                <label class="sp-form-label">Card Number</label>
                <div data-recurly="card"
                    class="sp-form-group sp-px-2 sp-w-full"></div>
                <p data-bind="text: creditCardErrorMessage" class="sp-form-error recurly-form-error"></p>
            </div>

        </div>
         
        <div class="sp-form-group sp-hidden">
            <div class="sp-select sp-block sp-w-full">
                <select name="country"
                        placeholder="Country"
                        class="sp-block sp-w-full"
                        data-recurly="country"
                        data-bind="options: countries, optionsText: function(item) { return item.label }, optionsValue: function(item) { return item.value }, value: billing.country, enable: billingInfoEditable"></select>
                </div>
            <label class="sp-form-label">Country</label>
        </div>
    </div>

    <div class="sp-flex-auto sp-p-4 lg:sp-p-0 lg:sp-ml-4">
        <div class="sp-form-group">
            <input type="text"
                placeholder="Address line 1"
                class="sp-input"
                data-recurly="address1"
                data-bind="value: billing.address1, enable: billingInfoEditable"
                name="address_1"
                data-validate="{required:true}" aria-required="true"
            >
            <label class="sp-form-label">Address line 1</label>
        </div>
        <div class="sp-form-group">
            <input type="text"
                placeholder="Address line 2"
                class="sp-input"
                data-recurly="address2"
                data-bind="value: billing.address2, enable: billingInfoEditable"
                name="address_2">
            <label class="sp-form-label">Address line 2</label>
        </div>
        <div class="sp-form-group">
            <input type="text"
                placeholder="City"
                class="sp-input"
                data-recurly="city"
                data-bind="value: billing.city, enable: billingInfoEditable"
                name="city" data-validate="{required:true}" aria-required="true">
            <label class="sp-form-label">City</label>
        </div>
        <div class="sp-form-group">
            <div class="sp-select">
                <select name="state"
                        placeholder="State"
                        data-recurly="state"
                        data-bind="options: states, optionsText: 'text', optionsValue: 'value', value: billing.state, enable: billingInfoEditable" data-validate="{required:true}" aria-required="true"></select>
            </div>
            <label class="sp-form-label">State</label>
        </div>
        <div class="sp-form-group">
            <input type="text"
                placeholder="Zip/Postal Code"
                class="sp-input validate-zip-us"
                data-recurly="postal_code"
                data-bind="value: billing.zip, enable: billingInfoEditable"
                name="zip_code" 
                data-validate="{required:true}" aria-required="true"
                >
            <label class="sp-form-label">Zip/Postal Code</label>
        </div>
        <div class="sp-flex sp-justify-end">
            <input type="hidden"
                name="recurly-token"
                data-recurly="token">
            <button type="button" class="sp-button sp-button--primary"
                    data-bind="click: hideChange, visible: !billingInfoEditable()">Change</button>
            <button type="button" class="sp-link sp-flex-none md:sp-mr-6 sp-order-0 md:sp-order-0"
                    data-bind="toggleClick: billingInfoEditable, click: cancelBilling, visible: billingInfoEditable(), enable: billingInfoEditable">Cancel</button>
            <button type="submit"
                    class="sp-button sp-button--primary"
                    data-bind="click: saveBilling, visible: billingInfoEditable() && !saving()">Save</button>
            <button type="button"
                    class="sp-button sp-button--inactive sp-button--loading"
                    data-bind="visible: billingInfoEditable() && saving()">&emsp;&emsp;&emsp;</button>
        </div>
    </div>
</form>

<div id="popup-modal"
     class="modal-popup--subscriptions sp-hide sp-p-8">
    <button
        class="modal-popup--subscriptions__close"
        data-bind="click: hideSuccess"
    ></button>
    <h2 class="sp-h2 sp-text-black sp-text-center" data-bind="visible: !modalErrorMessage().length">Changes Saved</h2>
    <h3 class="sp-h3 sp-text-black sp-text-center" data-bind="visible: modalErrorMessage().length">A problem has occurred.</h3>
    <p class="sp-text-black sp-text-center" data-bind="visible: !modalErrorMessage().length">The changes to your account have been saved.</p>
    <p class="sp-text-black sp-text-center" data-bind="visible modalErrorMessage().length, text: modalErrorMessage"></p>
    <div class="sp-flex sp-justify-center sp-items-center">
        <button
            class="sp-button sp-button--primary"
            type="button"
            data-bind="click: hideSuccess"
        >
            Close
        </button>
    </div>
</div>
