<h2 class="sp-h2 sp-mt-12 md:sp-mt-0 sp-text-center md:sp-text-left sp-mb-8 sp-subscription-details__title">
    <!-- ko if: subscriptions().subscription.entity_id -->
    Subscription Details
    <!-- /ko -->

    <!-- ko ifnot: subscriptions().subscription.entity_id -->
    No Subscriptions
    <!-- /ko -->
</h2>

<!-- ko ifnot: subscriptions().subscription.entity_id -->
<div class="md:sp-px-0 sp-my-8 sp-text-center md:sp-text-left">
    <p class="sp-p1 sp-strong">You do not have a current subscription with Scotts Program.</p>
    <p class="sp-p1 sp-max-w-md">Ready to get a subscription lawn care plan made just for your yard?</p>
    <a href="/quiz" class="sp-button sp-button--primary sp-button--get-started sp-relative sp-text-center sp-mt-4">
        Get Started
    </a>
</div>
<!-- /ko -->

<!-- ko if: subscriptions().subscription.entity_id -->
<div class="sp-flex sp-items-baseline sp-py-2 sp-mt-8 sp-subscription-details--border-bottom">
    <h3 class="sp-h4 sp-uppercase">Subscription</h3>
    <div class="sp-subscription-details__subscription-active sp-flex-auto sp-label sp-uppercase sp-mx-8">Active</div>

    <div class="sp-hide md:sp-block sp-subscription-details__desktop-links">
        <a
            href="/quiz"
            class="sp-link"
        >
            Lawn conditions changed?
        </a>
        <button
            data-bind="click: displaySubscriptionModal"
            class="sp-link sp-inline-block sp-ml-4 cancel-subscription-modal"
        >
            Cancel Subscription
        </button>
    </div>
</div>

<div class="lg:sp-flex sp-my-8 sp--mx-2">
    <div class="sp-px-2 sp-py-8 lg:sp-w-1/2">
        <table>
            <tbody>
            <tr>
                <th class="sp-label">Type</th>
                <td data-bind="text: capitalizeString(type())"></td>
            </tr>
            <tr>
                <th class="sp-label">Start date</th>
                <td data-bind="text: subscriptions().startDate"></td>
            </tr>
            <tr>
                <th class="sp-label">Renewal date</th>
                <td data-bind="text: subscriptions().renewalDate"></td>
            </tr>
            <tr>
                <th class="sp-label">Latest invoice</th>
                <td>
                    <!-- ko if: latestInvoice -->
                    <a
                        class="sp-link"
                        data-bind="attr: { href: '/account/subscription/pdf/invoice/' + latestInvoice().invoice_number }"
                    >
                        #<span data-bind="text: latestInvoice().invoice_number"></span>
                    </a>
                    <!-- /ko -->
                    <!-- ko ifnot: latestInvoice -->
                    <div>N/A</div>
                    <!-- /ko -->
                </td>
            </tr>
            <tr>
                <th class="sp-label">Billing Information</th>
                <td>
                    Ending in <span data-bind="text: subscriptions().lastFour"></span>
                    <a
                        class="sp-link sp-ml-2"
                        href="/account/billing"
                    >
                        Edit
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="md:sp-hide sp-mt-8">
            <a href="/quiz" class="sp-link sp-block sp-mb-2">Lawn conditions changed?</a>
            <button data-bind="click: displaySubscriptionModal" class="sp-link sp-block">Cancel Subscription</button>
        </div>
    </div>

    <!-- ko if: type() == 'seasonal' && subscriptions().nextBillingDate -->
    <div class="sp-px-2 lg:sp-w-1/2">
        <div class="sp-subscription-details__next-billing sp-h-full sp-p-12">
            <h3 class="sp-label sp-mb-2 sp-mt-0">
                Next Billing on
                <span data-bind="text: subscriptions().nextBillingDate"></span>
            </h3>
            <table class="sp-p1">
                <tbody>
                <tr class="screen-reader-text">
                    <th class="sp-label">Item</th>
                    <th class="sp-label">Cost</th>
                </tr>
                <tr>
                    <td>
                        <div data-bind="css: { 'sp-pb-2': !subscriptions().initialOrder || !subscriptions().addonOrder }, text: subscriptions().nextOrder.season_name + ' Shipment'"></div>
                    </td>
                    <td>
                        <div data-bind="css: { 'sp-pb-2': !subscriptions().initialOrder || !subscriptions().addonOrder }, text: '$' + (+subscriptions().nextOrder.order.subtotal).toFixed(2) + ' USD'"></div>
                    </td>
                </tr>
                <!-- ko if: subscriptions().initialOrder && subscriptions().addonOrder -->
                <tr>
                    <td class="sp-pb-4">Add On Item</td>
                    <td class="sp-pb-4">$<span data-bind="text: (+subscriptions().addonOrder.order.subtotal).toFixed(2)"></span> USD</td>
                </tr>
                <!-- /ko -->
                <tr class="sp-subscription-details__next-billing-taxes">
                    <td class="sp-pt-4">Taxes</td>
                    <td class="sp-pt-4">$<span data-bind="text: taxes()"></span> USD</td>
                </tr>
                <tr class="sp-subscription-details__next-billing-total">
                    <td>Total</td>
                    <td>$<span data-bind="text: total()"></span> USD</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->
<!-- ko if: subscriptions().invoices && subscriptions().invoices.length > 0 -->
<div class="sp-py-2 sp-subscription-details--border-bottom">
    <h3 class="sp-h4 sp-mt-0">INVOICES</h3>
</div>

<div class="sp-mb-8">
    <table class="sp-subscription-details__invoices">
        <thead>
        <tr>
            <th class="sp-label sp-py-2">Invoice Number</th>
            <th class="sp-label sp-py-2">Issued On</th>
            <th class="sp-label sp-py-2">Due On</th>
            <th class="sp-label sp-py-2">Paid</th>
            <th class="sp-label sp-py-2">Total</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: { data: subscriptions().invoices, as: 'invoice' }">
        <tr>
            <td data-label="Invoice Number"><a
                class="sp-link"
                data-bind="attr: { href: '/account/subscription/pdf/invoice/' + invoice.invoice_number }"
            >#<span
                data-bind="text: invoice.invoice_number"
            ></span></a></td>
            <td
                data-label="Issued On"
                data-bind="text: invoice.created_at"
            ></td>
            <td
                data-label="Due On"
                data-bind="text: invoice.due_on || '-'"
            ></td>
            <td
                data-label="Paid"
                data-bind="attr: { class: invoice.origin == 'refund' || invoice.origin == 'credit' ? 'sp-text-green-2' : invoice.state == 'paid' ? '' : 'sp-text-red-1' }"
            >
                <span data-bind="text: invoice.state == 'paid' ? 'Yes' : invoice.origin == 'refund' ? 'Refund' : invoice.origin == 'credit' ? 'Credit' : 'No'"></span>
            </td>
            <td
                data-label="Total"
                class="sp-subscription-details__bold"
                data-bind="text: '$' + (invoice.total_in_cents / 100).toFixed(2), css: { 'sp-text-green-2': invoice.origin == 'refund' || invoice.origin == 'credit' }"
            ></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- /ko -->

<div
    id="popup-modal"
    class="modal-popup--subscriptions sp-hide sp-pb-8"
>
    <div id="before">
        <h5 class="sp-h5 sp-text-black sp-text-center">Before You Cancel</h5>
        <h6 class="sp-h6 sp-text-black sp-text-center">We understand lawn care can be tough. Can we help you get your best results?</h6>
        <div class="content">
            <div>
                <p class="sp-mb-0"><strong>Still seeing weeds?</strong></p>
                <p>It may take up to a month for complete control. Fluctuating temperature or the condition of the weeds can
                    delay results.</p>
            </div>
            <div>
                <p class="sp-mb-0"><strong>Lawn not as green as you’d expect?</strong></p>
                <p>Make sure your product is getting to the soil. Check to see if there is heavy thatch (layer of dead or
                    decomposing grass just above the soil) in your lawn and if there is, rake well before applying
                    products.</p>
            </div>
            <div>
                <p class="sp-mb-0"><strong>Grass not growing?</strong></p>
                <p>Consistent moisture and warm soil are keys to seeding success. Herbicides can also prevent good
                    germination.</p>
            </div>
            <div class="divider"></div>
            <p class="sp-text-center"><strong>For questions, email us at scotts-orders@scotts.com or <span class="sp-nobr">call us at <a href="tel:18772203091">1-877-220-3091</a>.</span></strong></p>
        </div>

        <hr class="sp-my-8"/>

        <div class="sp-flex sp-flex-column sp-justify-center sp-items-center">
            <button
                class="sp-button sp-button--primary"
                type="button"
                data-bind="click: toggleModalContent('confirm')"
            >
                I want to cancel
            </button>
            <button
                data-bind="click: closeSubscriptionModal"
                class="sp-link close-subscription-modal sp-block sp-mt-4"
            >
                Never mind, take me back
            </button>
        </div>
    </div>

    <div id="confirm" class="sp-hide">
        <h5 class="sp-h5 sp-text-black sp-text-center">Confirm Your Cancellation</h5>
        <h6 class="sp-h6 sp-text-black sp-text-center">By cancelling your subscription, the following will happen:</h6>
        <div class="content">
            <ul>
                <li>Please see your email for your refund amount. This should appear in your account within 7 days.</li>
                <li>You will no longer be billed</li>
                <li>You will no longer receive product shipments</li>
                <li>You will still have an online account with Scotts</li>
            </ul>
            <p class="sp-text-center"><strong>For questions, email us at scotts-orders@scotts.com or <span class="sp-nobr">call us at <a href="tel:18772203091">1-877-220-3091</a>.</span></strong></p>
            <hr class="sp-my-8"/>
            <div class="sp-flex sp-flex-column sp-justify-center sp-items-center">
                <button
                    class="sp-button sp-button--primary"
                    type="button"
                    data-bind="
                        click: cancelSubscription,
                        css: { 'sp-button--inactive sp-button--loading': loading() }
                    "
                >
                   Cancel My Subscription
                </button>
                <button
                    data-bind="click: closeSubscriptionModal"
                    class="sp-link close-subscription-modal sp-block sp-mt-4"
                >
                    Never mind, take me back
                </button>
            </div>
        </div>
    </div>

    <div id="success" class="sp-hide">
        <h5 class="sp-h5 sp-text-black sp-text-center">Your Subscription is Canceled</h5>
        <h6 class="sp-h6 sp-text-black sp-text-center">We're sorry to see you go.</h6>
        <div class="content">
            <div class="sp-flex sp-flex-column sp-justify-center sp-items-center">
                <button
                    class="sp-button sp-button--primary"
                    type="button"
                    data-bind="click: closeCancellation"
                >
                   Close
                </button>
            </div>
        </div>
    </div>
</div>
