//  MyGro Brand Colors
$mygro-green                                                  : #008065;
$mygro-dark-green                                             : #00634f;
$mygro-light-green                                            : #59988b;
$mygro-dark-gray                                              : #383838;
$mygro-gray                                                   : #909090;
$mygro-gray-alt                                               : #636363;
$mygro-accent-blue                                            : #2c5999;
$mygro-black                                                  : #222222;
$mygro-black-alt                                              : #231f20;