.checkout-cart-index {
    .page-main {
        .page-title-wrapper {
            .cart-total-container {
                float: none;
                text-transform: uppercase;
                letter-spacing: normal;
                font-size: inherit;
                text-align: inherit;
            }
            .icon-bag {
                font-size: inherit;
                margin: auto;
            }
        }
        .columns {
            .column {
                .cart-container {
                    .cart-summary {
                        .summary.title {
                            @include font-hellix-heavy(1.6rem, $mygro-gray-alt);
                        }
                        .block.shipping,
                        .block.discount,
                        .block.giftcard {
                            .title {
                                #block-shipping-heading,
                                #block-discount-heading,
                                #block-giftcard-heading {
                                    @include font-hellix-regular(1rem, $mygro-gray-alt);
                                }
                            }
                        }
                        .checkout-methods-items {
                            .item {
                                .action.multicheckout {
                                    color: $mygro-green;
                                    text-decoration: underline;
                                    &:hover {
                                      text-decoration: none;
                                    }
                                }
                            }
                            div.upd-cust-btn {
                                .action.checkout {
                                    //background: $mygro-green;
                                    //&:hover {
                                    //    background: $mygro-dark-green;
                                    //}
                                }
                            }
                        }
                    }
                    .form-cart {
                        .cart.table-wrapper {
                            #shopping-cart-table {
                                .cart.item {
                                    .item-info {
                                        .item {
                                            .product-item-details {
                                                .product-item-name {
                                                    a {
                                                      color: $mygro-black;
                                                    }
                                                }
                                            }
                                        }
                                        .qty {
                                            .field.qty {
                                                .control.qty {
                                                    .qty {
                                                      border: 1px solid $mygro-black;
                                                    }
                                                }
                                            }
                                            .action.update {
                                                color: $mygro-accent-blue;
                                            }
                                            .actions-toolbar {
                                                a.action-delete {
                                                    color: $mygro-accent-blue;
                                                }
                                            }
                                        }
                                        .price-including-tax,
                                        .price-excluding-tax {
                                            color: $mygro-black;
                                        }
                                    }
                                }
                            }

                        }
                    }
                    #gift-options-cart {
                        .cart-gift-item {
                            .gift-item-block {
                                .title {
                                    @include font-hellix-regular(1rem, $mygro-black, 400);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .field-tooltip {
        .field-tooltip-action:before {
            opacity: 1;
            color: $mygro-green;
        }
    }
}