
// Font Sizes //
$font10: 10px;
$font12: 12px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font18: 18px;
$font19: 19px;
$font20: 20px;
$font27: 27px;
$font32: 32px;

$font_normal: normal;

// Screen Sizes //
$screen_1023: 1023px;
$screen_1024: 1024px;
$screen_768: 768px;
$screen_769: 769px;
$screen_568: 568px;

$h2__font-color: #2c5999;








//test
// Headings //
//$heading__color__base           : $color-black;
//$heading__font-family__base     : $hellixheavy;
//$heading__font-weight__base     : $font-weight__bold;
//$heading__line-height__base     : 1.1;
//$heading__letter-spacing__base  : 0.5px;

//test
//$h2__font-size                  : 2.5rem; // 26px
//$h2__font-color                 : $heading__color__base;
//$h2__font-family                : $heading__font-family__base;
//$h2__font-weight                : $heading__font-weight__base;
//$h2__line-height                : $heasding__line-height__base;
//$h2__letter-spacing             : $heading__letter-spacing__base;