// MyGro Brand Colors //
$mygro-green: #008065;
$mygro-dark-green: #00634f;
$mygro-light-green: #59988b;
$mygro-dark-gray: #383838;
$mygro-gray: #909090;
$mygro-gray-alt: #636363;
$mygro-accent-blue: #2c5999;
$mygro-black: #222222;
$mygro-black-alt: #231f20;



// Scotts Brand Colors //
$scotts-green: #075534;
$scotts-secondary-green: #138E51;
$scotts-black: #2A2A2A;
$scotts-gray: #4d4d4e;
$scotts-light-gray: #959393;
$scotts-white: #f3f3f3;
$scotts-accent-orange: #fcaf19;



// Additional Colors //
$color_grey_shade: #64686e;
$color_dark30_green_shade: #4d4e4e;
$color_black15_shade: #262626;
$color_black20_shade: #333333;
$color_blue54_shade: #2196F3;
$color_lightyellow_shade: #ffc;



// Font Family //
$opensans: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$lato: 'Lato', sans-serif;
$hellix: 'Hellix-Regular', Lucida Grande, Arial, Helvetica, sans-serif;
$hellixheavy: 'Hellix-Heavy', Lucida Grande, Arial, Helvetica, sans-serif;



// Headings //
$heading__color__base           :$color-black !default;
$heading__font-family__base     :$hellixheavy !default;
$heading__font-weight__base     :$font-weight__bold !default;
$heading__line-height__base     :1.1 !default;


$h1__font-size                  : 2.5rem !default; // 26px
$h1__font-color                 : $heading__color__base !default;
$h1__font-family                : $heading__font-family__base !default;
$h1__font-weight                : $heading__font-weight__base !default;
$h1__line-height                : $heading__line-height__base !default;



// Font Normal //
$font_normal: normal;



// Font Sizes //
$font10: 10px;
$font12: 12px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font18: 18px;
$font19: 19px;
$font20: 20px;
$font25: 25px;
$font27: 27px;
$font32: 32px;



// Screen Sizes //
$screen_1023: 1023px;
$screen_1024: 1024px;
$screen_769: 769px;
$screen_768: 768px;
$screen_569: 569px;
$screen_568: 568px;