// Checkout Styles
.checkout-index-index {
    .page-wrapper {
        .page-main {
            .columns {
                .column.main {
                    .checkout-container {
                        .opc-wrapper {
                            .checkout-validate-address {
                                .step-content {
                                    .instructions.noError {
                                      color: $mygro-green;
                                    }
                                }
                            }
                            .checkout-payment-method {
                                .step-content {
                                    .form.payments {
                                        .fieldset {
                                            .opc-payment {
                                                .items.payment-methods {
                                                    .payment-group {
                                                        .payment-method._active {
                                                            .payment-method-content {
                                                                .actions-toolbar {
                                                                    .primary {
                                                                        .action.primary.checkout:last-child {
                                                                            //background: $mygro-green;
                                                                            //&:hover {// test - this should be removed
                                                                            //    background: $mygro-dark-green;
                                                                            //}
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .opc-payment-additional {
                                            .payment-option-title {
                                                .action-toggle {
                                                    color: $mygro-green;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    [type="radio"] + label:before {
                        border-color: $mygro-dark-green;
                    }
                    [type="radio"] + label:after {
                        background: $mygro-dark-green;
                    }
                }
            }
        }
    }
}
