// Checkout Styles
.checkout-index-index {
    .page-wrapper {
        .page-main {
            .columns {
                .column.main {
                    .checkout-container {
                        .opc-progress-bar {
                            .opc-progress-bar-item {
                                &._active {
                                    &:before {
                                        background: $color_dark30_green_shade;
                                    }
                                    span {
                                        &:before {
                                            background: $color_dark30_green_shade;
                                        }
                                    }
                                }
                            }
                        }
                        .opc-wrapper {
                            .checkout-shipping-method {
                                .actions-toolbar {
                                    .action.primary {
                                        background: $mygro-green;
                                        &:hover {
                                            background: $mygro-dark-green;
                                        }
                                    }
                                    .action.primary:disabled {
                                        background: $color_dark30_green_shade;
                                    }
                                }
                            }
                            .checkout-validate-address {
                                .step-content {
                                    .instructions.noError {
                                      color: $mygro-green;
                                    }
                                }
                            }
                            .checkout-payment-method {
                                .step-content {
                                    .form.payments {
                                        .fieldset {
                                            .opc-payment {
                                                .items.payment-methods {
                                                    .payment-group {
                                                        .payment-method._active {
                                                            .payment-method-content {
                                                                .actions-toolbar {
                                                                    .primary {
                                                                        .action.primary.checkout:last-child {
                                                                            background: $mygro-green;
                                                                            &:hover {
                                                                                background: $mygro-dark-green;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .opc-payment-additional {
                                            .payment-option-title {
                                                .action-toggle {
                                                    color: $mygro-green;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $screen_568) {
    #popup {
        width: 90%;
    }
    .options-cont-wrp {
        width: 70%;
    }
}

.opc-payment {
    .payment-method-content {
        .actions-toolbar {
            .primary {
                .action.primary.checkout {
                    @include max-screen($screen__s) {
                        padding: 0px 0px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

#checkout-step-shipping_method {
    .message.notice {
        font-size: 16px;
    }
}

div[name="shippingAddress.postcode"] {
    .control {
        .message.warning {
            display: none;
        }
    }
}

@media screen and (max-width: $screen_768) {
    .checkout-index-index {
        .modal-custom {
            .action-close {
                background: none !important;
                padding: 0 !important;
            }
        }
    }
}