// MyGro Base
body {
    @include font-hellix-regular();
    font-size: 1.2rem;

    h2 {
        font-weight: bold;
    }
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: 'gro';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
// Base Page Styles
.page-wrapper {
    .page-header {
        padding: 12px 0 12px;
        border-bottom: 1px solid #dcdcdc;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        text-align: center;
        .panel.wrapper {
            display: none;
        }
        .header.content {
            @include max-screen($screen__l) {
                .nav-toggle {
                    float: left;
                    position: relative;
                    left: 0;
                    top: 0.5rem;
                }
            }
            position: relative;
            box-sizing: border-box;
            padding: 0 22px 0 22px;
            max-width: 1440px;
            width: 100%;
            margin: 0 auto;
            .logo {
                display: inline-block;
                float: left;
                padding: 0.25rem 0;
                @include max-screen($screen__l) {
                    float: none;
                    padding: 0;
                    max-width: 6rem;
                    position: relative;
                    left: 1.25rem;
                    top: 0.5rem;
                }
            }
            .minicart-wrapper {
                float: right;
                @include max-screen($screen__l) {
                    display: block;
                    float: right;
                    margin-top: 0;
                    position: relative;
                    right: 0;
                }
                .showcart {
                    color: $mygro-green;
                    float: left;
                    font-size: 1rem;
                    margin: 0.5rem 0 0 0;
                    position: relative;
                    text-decoration: none;
                    text-align: right;
                    width: 85px;
                    @include max-screen($screen__l) {
                        margin: 0.8rem 0.5rem 0 0;
                    }
                    &:before {
                        display: none;
                        visibility: hidden;
                    }
                    .icon-bag {
                        position: absolute;
                        top: 12px;
                        left: 0;
                        &:before {
                            content: '\e902';
                        }
                        @include max-screen($screen__s) {
                            display: none;
                            visibility: hidden;
                        }
                    }
                    .cart-total-container {
                        color: $mygro-black;
                        display: inline-block;
                        position: relative;
                        bottom: 0.5rem;
                        .cart-total-title {
                            font-size: 0.7rem;
                            text-transform: uppercase;
                            @include max-screen($screen__s) {
                                margin-right: 0;
                            }
                        }
                        .total-amt {
                            display: block;
                            font-size: 1.2rem;
                            line-height: 0;
                            margin-top: 0.5rem;
                            @include max-screen($screen__s) {
                                font-size: 1rem;
                                font-weight: 700;
                            }
                        }
                    }
                }
                .ui-dialog {
                    .block-minicart {
                        font-size: 1rem;
                        text-align: left;
                        #minicart-content-wrapper {
                            .block-content {
                                .actions {
                                    .primary {
                                        font-size: 1.2rem;
                                        padding: 0;
                                    }
                                }
                                .minicart-items-wrapper {
                                    .minicart-items {
                                        .product-item {
                                            .product {
                                                .product-item-pricing {
                                                    .details-qty {
                                                        .label {
                                                            width: auto;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .sections.nav-sections {
                background: $white;
                display: inline-block;
                margin-bottom: 0;
                transform: translateX(-1vw);
                @include max-screen($screen__l) {
                    max-width: 250px;
                    text-align: left;
                    transform: none;
                }
                .icon-close {
                    display: none;
                    @include max-screen($screen__l) {
                        color: $mygro-green;
                        display: block;
                        padding: 1rem;
                        font-size: 2.2rem;
                        text-align: right;
                        text-decoration: none;
                        &:before {
                            content: "\e95f";
                        }
                        &:hover {
                            color: $mygro-green;
                        }
                    }
                }
                .nav-sections-item-content {
                    @include font-hellix-regular(0.875rem, $mygro-black, false, false, 1px);
                    text-transform: uppercase;
                    @include max-screen($screen__l) {
                        margin-top: 0;
                        padding: 0;
                    }
                    .navigation {
                        background: transparent;
                        .level0 {
                            @include max-screen($screen__l) {
                                border: none;
                                font-size: 0.875rem;
                            }
                        }
                        ul {
                            .first {
                                .level-top {
                                    span {
                                        @include font-hellix-heavy(false, $mygro-green);
                                    }
                                }
                            }
                            .category-item {
                                span {
                                    color: $mygro-black;
                                    &:hover {
                                        color: $mygro-green;
                                        transition: color 0.2s linear;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .page-main {
        color: $mygro-gray;
        font-size: 1rem;
        margin-top: 6rem;

        .page-title-wrapper {
            display: none;
        }

        a:active,
        .alink:active {
            text-decoration: none;
        }

        a:hover,
        .alink:hover {
            text-decoration: none;
        }

        .column.main {
            .cart-empty {
                font-size: 1rem;
                a {
                    color: $mygro-green;
                }
            }
        }
        body > section,
        .column.main > section {
            max-width: 1440px;
            width: 100%;
            margin: 0 auto;
        }
        .column.main > section.hero-video {
            @include max-screen($screen__l) {
                margin: 0 16px 0 16px;
                width: auto;
                height: 350px;
            }
        }
        .col-2 {
            p {
                margin: 0 0 1em;
            }
        }
        .products.grid:after {
            display: none;
        }
        .grid:after {
            content: '';
            display: table;
            clear: both;
        }
        .col-3 {
            .item {
                width: calc(33.33% - 28px);
            }
        }
        button {
            background: $mygro-green;
            border-radius: 4px;
            color: $white;
            font-family: "Hellix-Heavy", Lucida Grande, Arial, Helvetica, sans-serif;
            font-size: 1.0rem;
            line-height: 0px;
            height: 48px;
            text-align: center;
            display: inline-block;
            box-sizing: border-box;
            width: 100%;
            max-width: 200px;
            transition: background 0.2s linear;
            letter-spacing: 0.5px;
        }
        button:hover {
            background: $mygro-dark-green;
        }
        button:active {
            background: $mygro-light-green;
        }
        .hero-video {
            background: url(../images/bg-hero.jpg) 50% 0% no-repeat;
            background-size: cover;
            height: 720px;
            position: relative;
            margin: 16px 16px;
            @include max-screen($screen__l) {
                background: url(/pub/media/gro/120417_RW_A_0122edit-2.png) 50% 0% no-repeat;
                background-size: cover;
            }
            .mobile-tablet,
            .mobile-only {
                display: none;
            }
            .content {
                width: 50%;
                max-width: 605px;
                padding-left: 115px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: $white;
                @include max-screen($screen__l) {
                    width: auto;
                    padding: 0 25px;
                }
            }
            h2 {
                font-size: 48px;
                line-height: 56px;
                margin-bottom: 25px;
                @include max-screen($screen__l) {
                    font-size: 35px;
                    line-height: 40px;
                }
            }
            p {
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 25px;
                padding-right: 25px;
                @include max-screen($screen__l) {
                    display: none;
                }
            }
        }
    }

    .page-footer {
        border-top: 1px solid #dcdcdc;
        .inner-footer-container {
            overflow: auto;
            padding: 0 10rem;
            text-align: center;
            @include max-screen($screen__l) {
                padding: 0;
            }
            h3 {
                @include font-hellix-heavy(1.2rem, $mygro-black-alt, false, 34px, 0.5px);
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    @include font-hellix-regular(0.875rem, $mygro-gray);
                    a {
                        @include font-hellix-regular(0.875rem, $mygro-gray);
                    }
                }
            }
            .mygro-footer-copyright {
                @include font-hellix-regular(0.875rem, $mygro-gray);
                border-top: 1px solid #f0f2f5;
                clear: both;
                padding: 2rem 0;
            }
        }
    }
}

//Product Page Styles
.product.info.detailed {
    display: none;
}

// PDP Page Styles
.page-product-grouped {
    .product-info-main {
        .product-info-price {
            display: none;
        }
        .product-add-form {
            form {
                .grouped-title-section {
                    h2.grouped-product-header {
                        color: #000000;
                    }
                    p {
                        font-size: 1.3rem;
                    }
                }
                .grouped-product-wrapper {
                    margin-bottom: 20px;
                    h5 {
                        font-family: "Hellix-Heavy", Lucida Grande, Arial, Helvetica, sans-serif;
                        color:#222222;
                        font-size: 1.2rem;
                        margin: 0 0 10px 0;
                    }
                    select {
                        border-radius: 0px;
                        border: 0px;
                        outline: 1px inset #909090;
                        outline-style: solid;
                        height: 45px;
                        font-size: 1.2rem;
                    }
                }
                .table-wrapper {
                    margin-bottom: 0;
                    table {
                        thead {
                            tr.grouped-table-titles {
                                display: none;
                            }
                        }
                        tbody {
                            tr.grouped-row {
                                td {
                                    color: #000000;
                                    font-size: 1.2rem;
                                    p{
                                        color: #909090;
                                        font-size: 1.0rem;
                                    }
                                  .price-box {
                                        .price-container {
                                            .price {
                                                color: #008065;
                                                font-size: 1.5rem;
                                            }
                                        }
                                    }
                                }
                                td.product-detail-td {
                                    width: 70%;
                                    margin: 0;
                                    padding: 0;
                                }
                                td.product-qty-td {
                                    width: 30%;
                                    text-align: right;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
                .box-tocart {
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    .fieldset {
                        .actions {
                            display: inline-block;
                            position: relative;
                            width: 100%;
                            button {
                                display: inline-block;
                                position: relative;
                                width: 100%;
                                max-width: inherit;
                                padding: 45px 0;
                                height: inherit;
                                line-height: 0;
                            }
                        }
                    }
                }
            }
        }
        .product-social-links {
            display: none;
        }
        .product.attribute.overview {
            display: none;
        }
    }
    .product.media {
        background: #F0F2F5;
    }
}

// Cart Styles
.checkout-cart-index {
    .page-main {
        .page-title-wrapper {
            .page-title {
                @include font-hellix-heavy(2.2rem, $mygro-black, false, false, 0.5px);
            }
        }
        .columns {
            .column {
                .cart-container {
                    .cart-summary {
                        .summary.title {
                            @include font-hellix-heavy(1.6rem, $mygro-gray-alt);
                        }
                        .block.shipping,
                        .block.discount,
                        .block.giftcard {
                            .title {
                                #block-shipping-heading,
                                #block-discount-heading,
                                #block-giftcard-heading {
                                    @include font-hellix-regular(1rem, $mygro-gray-alt);
                                }
                            }
                        }
                        .checkout-methods-items {
                            .item {
                                .action.checkout {
                                    @include font-hellix-regular(1.4rem, $white);
                                    -webkit-transition: background 0.2s;
                                    -moz-transition: background 0.2s;
                                    -ms-transition: background 0.2s;
                                    -o-transition: background 0.2s;
                                    transition: background 0.2s;
                                    background: $mygro-green;
                                    border: none;
                                    &:hover {
                                        -webkit-transition: background 0.2s;
                                        -moz-transition: background 0.2s;
                                        -ms-transition: background 0.2s;
                                        -o-transition: background 0.2s;
                                        transition: background 0.2s;
                                        background: #005d49;
                                    }
                                }
                                .action.multicheckout {
                                    color: $mygro-green;
                                    text-decoration: underline;
                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                    .form-cart {
                        .cart.table-wrapper {
                            thead {
                                tr {
                                    .col {
                                        margin: 0;
                                        padding: 0;
                                        width: 25%;
                                        @include max-screen($screen__m) {
                                            padding: 0.5rem;
                                        }
                                    }
                                }
                            }
                            .cart.item {
                                .item-info {
                                    .col {
                                        margin: 0;
                                        padding: 1rem 0;
                                        width: 25%;
                                    }
                                    .item {
                                        .product-item-photo {
                                            @include max-screen($screen__m) {
                                                max-width: none;
                                                position: static;
                                                text-align: center;
                                            }
                                        }
                                        .product-item-details {
                                            @include max-screen($screen__m) {
                                                text-align: center;
                                            }
                                            .product-item-name {
                                                a {
                                                    color: $mygro-black;
                                                }
                                                @include max-screen($screen__m) {
                                                    font-size: 0.75rem;
                                                }
                                            }
                                        }
                                    }
                                    .qty {
                                        .control.qty {
                                            .qty {
                                                border: 1px solid $mygro-black;
                                            }
                                        }
                                    }
                                    .price-including-tax,
                                    .price-excluding-tax {
                                        color: $mygro-black;
                                        font-size: 1.4rem;
                                        @include max-screen($screen__m) {
                                            font-size: 1rem;
                                        }
                                    }
                                }
                                .item-actions {
                                    td {
                                        padding: 0;
                                    }
                                    .actions-toolbar {
                                        height: 3rem;
                                        .action-edit {
                                            display: none;
                                            visibility: hidden;
                                        }
                                        .action-delete {
                                            -webkit-transition: background 0.2s;
                                            -moz-transition: background 0.2s;
                                            -ms-transition: background 0.2s;
                                            -o-transition: background 0.2s;
                                            transition: background 0.2s;
                                            background: $mygro-black-alt;
                                            color: $white;
                                            font-size: 0.85rem;
                                            padding: 0.25rem 1rem;
                                            border-radius: 5px;
                                            &:hover {
                                                -webkit-transition: background 0.2s;
                                                -moz-transition: background 0.2s;
                                                -ms-transition: background 0.2s;
                                                -o-transition: background 0.2s;
                                                transition: background 0.2s;
                                                background: #505050;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .cart.actions {
                            .action.continue,
                            .action.clear,
                            .action.update {
                                @include font-hellix-regular(1rem, $mygro-black, 400);
                            }
                            .action.continue {
                                &:before {
                                    line-height: 1.4rem;
                                }
                            }
                        }
                    }
                    #gift-options-cart {
                        .cart-gift-item {
                            .gift-item-block {
                                .title {
                                    @include font-hellix-regular(1rem, $mygro-black, 400);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// Checkout Styles
.checkout-index-index {
    .page-wrapper {
        .page-header {
            .header.content {
                .logo {
                    @include max-screen($screen__m) {
                        // Specific Style for logo when menu isn't present
                        left: 0;
                    }
                }
            }
        }
        .page-main {
            .columns {
                .column.main {
                    .checkout-container {
                        .opc-progress-bar {
                            .opc-progress-bar-item {
                                &._active {
                                    &:before {
                                        background: $mygro-green;
                                    }
                                    span {
                                        &:before {
                                            background: $mygro-green;
                                        }
                                    }
                                }
                                span {
                                    font-size: 1.4rem;
                                    &:after {
                                        font-size: 1.4rem;
                                    }
                                }
                            }
                        }
                        .opc-estimated-wrapper {
                            .minicart-wrapper {
                                .action.showcart {
                                    .counter.qty {
                                        background: $mygro-green;
                                    }
                                }
                            }
                        }
                        .opc-wrapper {
                            @include max-screen($screen__m) {
                                padding: 1rem;
                            }
                            .opc {
                                .checkout-shipping-address {
                                    .step-content {
                                        .form-login {
                                            border-bottom: 1px solid #c2c2c2;
                                            padding-bottom: 1rem;
                                        }
                                        .form-login,
                                        .form-shipping-address {
                                            .fieldset {
                                                .label {
                                                    width: auto;
                                                }
                                                .control {
                                                    float: none;
                                                    width: auto;
                                                }
                                            }
                                            .hidden-fields {
                                                .actions-toolbar {
                                                    margin-left: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                                .checkout-shipping-method {
                                    .checkout-shipping-method {
                                        .step-title {
                                            font-size: 2rem;
                                        }
                                        .step-content {
                                            .methods-shipping {
                                                .actions-toolbar {
                                                    .primary {
                                                        .action.primary {
                                                            @include font-hellix-heavy(1.2rem, $white, 400);
                                                            line-height: 0;
                                                            padding: 1rem 2rem;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .checkout-payment-method {
                                    .step-content {
                                        .form.payments {
                                            .fieldset {
                                                .opc-payment {
                                                    .items.payment-methods {
                                                        .payment-group {
                                                            .payment-method._active {
                                                                .payment-method-content {
                                                                    .actions-toolbar {
                                                                        .primary {
                                                                            .action.primary.checkout {
                                                                                @include font-hellix-regular(1.4rem, $white);
                                                                                -webkit-transition: background 0.2s;
                                                                                -moz-transition: background 0.2s;
                                                                                -ms-transition: background 0.2s;
                                                                                -o-transition: background 0.2s;
                                                                                transition: background 0.2s;
                                                                                background: $mygro-green;
                                                                                border: none;
                                                                                &:hover {
                                                                                    -webkit-transition: background 0.2s;
                                                                                    -moz-transition: background 0.2s;
                                                                                    -ms-transition: background 0.2s;
                                                                                    -o-transition: background 0.2s;
                                                                                    transition: background 0.2s;
                                                                                    background: #005d49;
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            .opc-payment-additional {
                                                .payment-option-title {
                                                    .action-toggle {
                                                        color: $mygro-green;
                                                    }
                                                }
                                                .payment-option-content {
                                                    .form-discount {
                                                        .actions-toolbar {
                                                            .primary {
                                                                button {
                                                                    @include font-hellix-regular(1rem, $white);
                                                                    -webkit-transition: background 0.2s;
                                                                    -moz-transition: background 0.2s;
                                                                    -ms-transition: background 0.2s;
                                                                    -o-transition: background 0.2s;
                                                                    transition: background 0.2s;
                                                                    background: $mygro-dark-gray;
                                                                    border: none;
                                                                    &:hover {
                                                                        -webkit-transition: background 0.2s;
                                                                        -moz-transition: background 0.2s;
                                                                        -ms-transition: background 0.2s;
                                                                        -o-transition: background 0.2s;
                                                                        transition: background 0.2s;
                                                                        background: $mygro-black-alt;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                    .form-giftcard-account {
                                                        .actions-toolbar {
                                                            .primary {
                                                                margin-left: 1rem;
                                                                .action-add.primary {
                                                                    @include font-hellix-regular(1rem, $white);
                                                                    -webkit-transition: background 0.2s;
                                                                    -moz-transition: background 0.2s;
                                                                    -ms-transition: background 0.2s;
                                                                    -o-transition: background 0.2s;
                                                                    transition: background 0.2s;
                                                                    background: $mygro-dark-gray;
                                                                    border: none;
                                                                    &:hover {
                                                                        -webkit-transition: background 0.2s;
                                                                        -moz-transition: background 0.2s;
                                                                        -ms-transition: background 0.2s;
                                                                        -o-transition: background 0.2s;
                                                                        transition: background 0.2s;
                                                                        background: $mygro-black-alt;
                                                                    }
                                                                }
                                                            }
                                                            .secondary {
                                                                .action-check {
                                                                    @include font-hellix-regular(1rem, $white);
                                                                    -webkit-transition: background 0.2s;
                                                                    -moz-transition: background 0.2s;
                                                                    -ms-transition: background 0.2s;
                                                                    -o-transition: background 0.2s;
                                                                    transition: background 0.2s;
                                                                    background: $mygro-dark-gray;
                                                                    border: none;
                                                                    &:hover {
                                                                        -webkit-transition: background 0.2s;
                                                                        -moz-transition: background 0.2s;
                                                                        -ms-transition: background 0.2s;
                                                                        -o-transition: background 0.2s;
                                                                        transition: background 0.2s;
                                                                        background: $mygro-black-alt;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .opc-sidebar.custom-slide {
                            left: 0;
                            .modal-inner-wrap {
                                .modal-content {
                                    #opc-sidebar {
                                        .opc-block-summary {
                                            .title {
                                                font-size: 2rem;
                                            }
                                            .table-totals {
                                                tbody {
                                                    .totals.discount {
                                                        .mark {
                                                            .title {
                                                                font-size: 1rem;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            .items-in-cart {
                                                .minicart-items {
                                                    margin-top: 0.5rem;
                                                    @include max-screen($screen__m) {
                                                        margin-top: 0.5rem;
                                                    }
                                                    .product-item {
                                                        .product {
                                                            .product-item-details {
                                                                .product-item-name-block {
                                                                    .product-item-name {
                                                                        margin: 0;
                                                                        @include max-screen($screen__m) {
                                                                            margin: 0;
                                                                        }
                                                                    }
                                                                    .details-qty {
                                                                        margin: 0;
                                                                        @include max-screen($screen__m) {
                                                                            margin: 0;
                                                                        }
                                                                    }
                                                                }
                                                                .subtotal {
                                                                    .price-excluding-tax,
                                                                    .price-including-tax {
                                                                        .cart-price {
                                                                            .price {
                                                                                font-size: 1.2rem;
                                                                                font-weight: 700;
                                                                                @include max-screen($screen__m) {
                                                                                    font-size: 1.2rem;
                                                                                    font-weight: 700;
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .opc-block-shipping-information {
                                            .shipping-information {
                                                .ship-to {
                                                    .shipping-information-title {
                                                        span {
                                                            font-size: 2rem;
                                                        }
                                                    }
                                                }
                                                .ship-via {
                                                    .shipping-information-title {
                                                        span {
                                                            font-size: 2rem;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



