<div class="sp-results__tabs-detail sp-bg-green-4 sp-flex-auto sp-p-8 md:sp-p-12">
    <div class="md:sp-flex sp-mb-12">
        <div class="md:sp-w-1/2">
            <h3
                class="sp-my-0 sp-h2 sp-text-green-1 sp-mb-2 lg:sp-mb-0"
                data-bind="html: season.products[0].season, attr: { id: formatId(season.products[0].season) + 'Title' + formfactor }"
            >
            </h3>
            <div class="sp-p1" data-bind="html: formfactor">Apply between</div>
            <div class="sp-p1 sp-mb-4 lg:sp-mb-0" data-bind="attr: { id: formatId(season.products[0].season) + 'SelectedShipmentApplyBetween' + formfactor }">
                <span data-bind="html: formatDate(season.products[0].applicationStartDate)"></span>
                -
                <span data-bind="html: formatDate(season.products[0].applicationEndDate)"></span>
            </div>
        </div>

        <ul class="sp-results__list sp-p-0 sp-m-0 md:sp-w-1/2 md:sp-justify-end sp-flex sp-flex-wrap sp--mx-2"
            data-bind="foreach: productFeatures(season.products[0])">
            <li
                class="sp-results__product-addon-image sp-text-center sp-m-0 sp-mx-1 sp-flex sp-flex-column sp-items-center ">
                <img class="sp-results__icon--medium sp-mb-2"
                     data-bind="attr: { src: $data.image, alt: $data.text }"/>
                <span class="sp-p2" data-bind="html: $data.text"></span>
            </li>
        </ul>
    </div>

    <div class="sp-results__in-this-box sp-flex sp-flex-wrap sp-justify-between sp-mb-4">
        <h4 class="sp-my-0 sp-h4 sp-uppercase">Products in this box</h4>
    </div>

    <div data-bind="foreach: season.products">

        <div class="sp-results__product sp-m--4 sp-bg-white sp-rounded">
            <div class="sp-flex">
                <img class="sp-mx-auto sp-m-4 sp-results__product-image sp-block"
                     data-bind="attr: { src: $data.thumbnailImage, alt: $data.meta_title, id: $parent.formatId(season) + 'SelectedShipmentImage' + $parent.formfactor }"
                />
                <div class="sp-m-4">
                    <div class="sp-flex sp-mb-2">
                        <div class="sp-results__bag-count sp-label sp-mr-2 sp-flex sp-justify-center sp-items-center sp-label sp-uppercase"
                             data-bind="html: $data.quantity, attr: { id: $parent.formatId(season) + 'SelectedShipmentBagCount' + $parent.formfactor }"></div>
                        <span>Bag Count</span>
                    </div>

                    <h5 class="sp-mt-0 sp-mb-4 sp-h4"
                        data-bind="html: $data.displayName">
                    </h5>
                    <div class="sp-p2"
                         data-bind="html: $data.short_description">
                    </div>
                </div>
            </div>
            <button class="sp-link sp-uppercase"
                    data-bind="click: function() { $parent.context.togglePDP($data) }, attr: { id: $parent.formatId(season) + 'MoreAboutThisProductLink' + $parent.formfactor }">More about this product</button>
        </div>
    </div>
</div>
