<div
    id="pdp-modal-wrapper"
    data-bind="click: togglePDP"
>
    <div
        id="pdp-modal"
        class="sp-max-w-lg sp-bg-white sp-px-8 sp-py-12 sp-text-center md:sp-text-left sp-rounded"
        data-bind="click: function () { return true;}, clickBubble: false"
    >

        <button
            class="pdp-modal-close"
            data-bind="click: togglePDP"
        ></button>

        <div class="md:sp-flex sp-max-w-xl sp-mx-auto sp-mb-8">
            <img
                data-bind="attr: { src: pdp().product.mediumImage }"
                class="sp-mx-auto sp-block sp-w-1/3 sp-max-w-xs md:sp-w-2/5 sp-mb-8"
            />

            <div class="md:sp-ml-8">
                <!-- ko if: pdp().mode === 'subscription' -->
                <strong
                    class="sp-block sp-h4 sp-my-0 sp-mb-2"
                    data-bind="html: formatCurrency(pdp().product.price)"
                ></strong>
                <!-- /ko -->

                <h2
                    class="sp-h2 sp-my-0 sp-mb-4"
                    data-bind="html: pdp().product.displayName"
                ></h2>

                <div
                    class="sp-p2"
                    data-bind="html: pdp().product.description"
                >
                </div>

                <hr class="sp-my-8"/>

                <!-- ko if: pdp().mode === 'subscription' && addOn() -->
                <div
                    class="sp-flex sp-flex-column md:sp-flex-row sp-items-center"
                    data-bind=""
                >
                    <label
                        class="sp-flex-none sp-mb-2 md:sp-mb-0 md:sp-mr-8"
                    >
                        <input
                            class="sp-checkbox sp-options__add-on-checkbox sp-mr-1"
                            name="addon_products"
                            type="checkbox"
                            data-bind="checkedValue: addOn().sku, checked: selectedAddOns, attr: { checked: selectedAddOns.indexOf(addOn().sku) >= 0 }"
                        />
                        <span class="sp-options__add sp-label sp-text-green-1">
                            Add to Order
                        </span>
                        <span class="sp-options__added sp-hide sp-label sp-text-green-1">
                            Added to Order
                        </span>
                    </label>
                    <div class="sp-flex-auto">
                        If you add this product to your order, it will
                        only be included in the first shipment.
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>

        <div class="sp-tabs sp-max-w-lg sp-mb-12 sp-mx-auto">
            <button
                class="sp-tab"
                data-bind="
                        click: setPDPTab.bind($data, 'learn'),
                        css: { 'active': pdp().activeTab === 'learn' },
                    "
                type="button"
            >
                learn
            </button>

            <button
                class="sp-tab"
                data-bind="
                        click: setPDPTab.bind($data, 'product_specs'),
                        css: { 'active': pdp().activeTab  === 'product_specs' },
                    "
                type="button"
            >
                product specs
            </button>
        </div>



        <div
            data-bind="if: pdp().activeTab === 'learn'"
            class="sp-px-8 sp-max-w-lg sp-mx-auto"
        >
            <h3 class="sp-h4">How To Use</h3>
            <div data-bind="html: pdp().product.howToApply"></div>

            <h3 class="sp-h4">When To Use</h3>
            <p data-bind="html: pdp().product.season"></p>

            <h3 class="sp-h4">Spreader Settings</h3>
            <div data-bind="html: pdp().product.spreaderSettings"></div>

            <hr/>
            <p>Please always follow package instructions.</p>
        </div>

        <div
            data-bind="if: pdp().activeTab === 'product_specs'"
            class="sp-px-8 sp-max-w-lg sp-mx-auto"
        >
            <h3 class="sp-h4">Label</h3>
            <div data-bind="html: pdp().product.howToApply"></div>
            <img data-bind="attr { src: pdp().product.image_label }"/>

            <h3 class="sp-h4">Weight</h3>
            <div>
                <span data-bind="html: pdp().product.weight"></span>
                <span data-bind="html: pdp().product['Product Weight UOM']"></span>
            </div>

            <h3 class="sp-h4">Coverage Area</h3>
            <div data-bind="html: pdp().product.coverageArea"></div>

            <!-- ko if: pdp().product.fertilizerAnalysis -->
            <h3 class="sp-h4">Fertilizer Analysis</h3>
            <div data-bind="html: pdp().product.fertilizerAnalysis"></div>
            <!-- /ko -->
        </div>
    </div>
</div>
