<div
    id="pdp-modal-wrapper"
    data-bind="click: toggleSaveAndSendSuccessModal"
>
    <div
        id="pdp-modal"
        class="sp-max-w-lg sp-bg-white sp-px-8 sp-py-12 sp-text-center md:sp-text-left sp-rounded"
        data-bind="click: function () { return true;}, clickBubble: false"
    >

        <button
            class="pdp-modal-close"
            data-bind="click: toggleSaveAndSendSuccessModal"
        ></button>

        <div class="sp-max-w-xl sp-mx-auto">
            <div class="sp-text-center sp-mb-8">
                <h2 class="sp-h2 sp-text-black">Plan sent!</h2>
                <p class="sp-p1 sp-text-black sp-max-w-sm sp-mx-auto sp-mb-8">Get ready to grow a thick, strong, green lawn! Your plan details should arrive to your inbox within a couple of hours.</p>
                <button type="button" data-bind="click: toggleSaveAndSendSuccessModal" class="sp-button sp-button--primary">Close</button>
            </div>
        </div>

    </div>
</div>
