<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="yourresults" frontName="your-results">
            <module name="SMG_RecommendationResults"/>
        </route>
    </router>
</config>
