<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fraud_check>
            <cron>
                <date_from>2021-06-15 12:00:00</date_from>
                <batch_size>100</batch_size>
            </cron>
        </fraud_check>
    </default>
</config>