.sp-results__loading-screen {
  position: absolute;
  top: 0;
  width: 100vw;
}

.sp-results__your-plan {
  border: 2px solid #1d5632;
  margin: 0 auto;
  position: relative;
}

.sp-results__your-plan::after {
  content: '';
  background-color: #fff;
  background-image: url(https://test_magento_image_repo.storage.googleapis.com/grass-icon.svg);
  border-radius: 100%;
  display: block;
  height: 38px;
  left: 50%;
  margin-left: -19px;
  position: absolute;
  top: -20px;
  width: 38px;
}

.sp-results__list {
  list-style: none;
}

.sp-results__product-image {
  flex-shrink: 0;
  height: 100px;
  width: 68px;
}

.sp-results__product-image--lg {
  height: 224px;
  width: 174px;
}

.sp-results__your-plan-label {
  line-height: 1.25;
  margin: 0 auto;
  max-width: 6rem;
}

.sp-results__tabs {
  flex-shrink: 0;
}

.sp-results__tabs-tab {
  list-style: none;
}

.sp-results__icon--small {
  width: 40px;
  height: auto;
}

.sp-results__icon--medium {
  width: 50px;
  height: auto;
}

.sp-results__product {
  border: 2px solid #1d5632;
  align-items: flex-start;
}

.sp-results__in-this-box {
  border-bottom: 2px solid #1d5632;
}

.sp-results__tabs-button {
  border: none;
  background: transparent;
  color: inherit;
  align-items: center;
  text-align: left;
  width: 100%;
}

.sp-results__tabs-button:hover,
.sp-results__tabs-button:active {
  /* Not ideal, should be styling the li */
  background-color: #edf4e1;
  outline: none;
  border: none;
}

.sp-results__bag-count {
  background-image: url(https://test_magento_image_repo.storage.googleapis.com/bag-count.svg);
  color: white;
  width: 17px;
  height: 22px;
}

.sp-results__title {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sp-results__title::before,
.sp-results__title::after {
  content: '';
  background-image: url(https://test_magento_image_repo.storage.googleapis.com/grass-land.svg);
  display: block;
  height: 22px;
  flex: 0 0 45px;
  position: relative;
  bottom: 7px;
}

.sp-results__title::before {
  margin-right: 1rem;
}

.sp-results__title::after {
  margin-left: 1rem;
  transform: scaleX(-1);
  filter: FlipH;
}

.sp-results__your-plan-product {
  text-align: center;
}

/* ====================================
PDP MODAL
==================================== */

#pdp-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0 2rem;
}

#pdp-modal {
  position: relative;
  margin: 2rem auto;
  border: 2px solid #1d5632;
}

.pdp-modal-close, .pdp-modal-close:hover {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-image: url(https://test_magento_image_repo.storage.googleapis.com/icon-close.svg);
  width: 20px;
  height: 20px;
  display: block;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}


.sp-results__product-addon-image {
  flex: 0 1 75px;
}
