/* Widget Start - Location - App / design / frontend / Scottsbase / default / SMG_ProdcutCallout / styles */

.product-callout-widget.product-info-container {
    .product-info.text-right {
        display: flex;
        @media only screen and (max-width: 1024px) {
            display: block;
        }
        .content {
            h2 {
                padding: 0 0 0 20px;
                color: $black;
                width: 80%;
                @media only screen and (max-width: 1024px) {
                    width: 100%;
                    font-size: 32px;
                    padding: 0;
                    line-height: 32px;
                    margin-bottom: 15px;
                    margin-top: 15px;
                }
            }
            p {
                padding: 0 0 0 20px;
                width: 80%;
                font-size: 20px;
                @media only screen and (max-width: 1024px) {
                    width: 100%;
                    padding: 0;
                    margin-bottom: 100px;
                }
            }
        }
    }
    .product-info.text-left {
        display: flex;
        flex-direction: row-reverse;
        @media only screen and (max-width: 1024px) {
            display: block;
        }
        .content {
            h2 {
                color: $black;
                padding: 0 20px 0 0;
                width: 80%;
                @media only screen and (max-width: 1024px)  {
                    width: 100%;
                    font-size: 32px;
                    padding: 0;
                    line-height: 32px;
                    margin-bottom: 15px;
                    margin-top: 15px;
                }
            }
            p {
                padding: 0 20px 0 0;
                width: 80%;
                font-size: 20px;
                @media only screen and (max-width: 1024px) {
                    width: 100%;
                    padding: 0;
                    margin-bottom: 100px;
                }
            }
        }
    }
}

