/* Widget Start - Location - App / design / frontend / Scottsbase / default / SMG_ProdcutCallout / styles */

.product-callout-widget.product-info-container {
    display: inline-block;
    position: relative;
    .product-info {
        .productCallout-imageContainer {
            display: inline-block;
            position: relative;
            text-align: center;
            img {
                  width: 50%;
                  max-width: inherit;
            }
        }
        @media only screen and (max-width: 1024px) {
            display: block;
        }
        .productCallout-contentContainer.text-left {
            float: left;
            @media only screen and (max-width: $screen__s) {
                width: 98%;
          }
            h2 {
                width: 70%;
                text-align: left;
                @media only screen and (max-width: 1024px) {
                    width: 100%;
                    font-size: 32px;
                    padding: 0;
                    line-height: 32px;
                    margin-bottom: 15px;
                    margin-top: 15px;
                }
            }
            p {
                text-align: left;
                width: 70%;
                @media only screen and (max-width: 1024px) {
                    width: 100%;
                    padding: 0;
                    margin-bottom: 100px;
                }
            }
            .selected-bannerTextImage {
                img {
                    width:25%;
                }
            }
        }

        .productCallout-contentContainer.text-right {
            float: right;
            @media only screen and (max-width: $screen__s) {
                float: left;
                width: 98%;
            }
            h2 {
                text-align: left;
                width: 70%;
                @media only screen and (max-width: 1024px) {
                    width: 100%;
                    font-size: 32px;
                    padding: 0;
                    line-height: 32px;
                    margin-bottom: 15px;
                    margin-top: 15px;
                }
                @media only screen and (max-width: $screen__s) {
                    font-size: 2.0rem;
                }
            }
            p {
                text-align: left;
                width: 70%;
                @media only screen and (max-width: 1024px) {
                    width: 100%;
                    padding: 0;
                    margin-bottom: 100px;
                }
            }
            .selected-bannerTextImage {
                img {
                    width:25%;
                }
            }
        }
    }
}


