/* Widget Start - Location - App / design / frontend / Scottsbase / default / SMG_ProdcutCallout / styles */

.product-callout-widget.product-info-container {
  .product-info.text-right {
    margin: 0 0 0 5px;
    .content {
      h2,
      p {
        padding: 15px;
      }
    }
  }

  .product-info.text-left {
    flex-direction: row-reverse;
    .content {
      h2,
      p {
        padding: 15px;
      }
    }
  }
}