<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="recommendation" translate="label" type="text" sortOrder="3001" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Recommendation Settings</label>
            <tab>smg</tab>
            <resource>SMG_RecommendationApi::settings</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Recommendations Module</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>validate-no-html-tags</validate>
                    <config_path>recommendations/module/active</config_path>
                </field>
                <field id="usecsrf" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enforce CSRF</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>validate-no-html-tags</validate>
                    <config_path>recommendations/module/usecsrf</config_path>
                </field>
            </group>
            <group id="recommendation_api_paths" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Recommendations API Paths</label>
                <field id="quiz_api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <comment>Set the API key required to authenticate the recommendation requests</comment>
                    <validate>validate-no-html-tags</validate>
                    <config_path>recommendations/api/key</config_path>
                </field>
                <field id="new_quiz_api_path" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Quiz API Path</label>
                    <comment>[GET] Fetches quizzes data</comment>
                    <validate>validate-no-html-tags</validate>
                    <config_path>recommendations/api/new</config_path>
                </field>
                <field id="save_quiz_api_path" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Save Quiz API Path</label>
                    <comment>[POST] Saves quizzes data. Accepts array of IDs. Use the markup {quizTemplateId} to inject the returned Quiz Template ID.</comment>
                    <validate>validate-no-html-tags</validate>
                    <config_path>recommendations/api/save</config_path>
                </field>
                <field id="quiz_results_api_path" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Quiz Results API Path</label>
                    <comment>[GET] Returns quiz data by ID</comment>
                    <validate>validate-no-html-tags</validate>
                    <config_path>recommendations/api/result</config_path>
                </field>
                <field id="map_to_user_api_path" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Map to User API Path</label>
                    <comment>[PUT] Updates Quiz to a specific user by Gigya ID</comment>
                    <validate>validate-no-html-tags</validate>
                    <config_path>recommendations/api/map</config_path>
                </field>
                <field id="completed_quizzes_api_path" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Completed Quizzes API Path</label>
                    <comment>[GET] Returns completed quizzes</comment>
                    <validate>validate-no-html-tags</validate>
                    <config_path>recommendations/api/previous</config_path>
                </field>
                <field id="products_api_path" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Products Flat File Path</label>
                    <comment>[GET] Returns the information for the Scotts products</comment>
                    <validate>validate-no-html-tags</validate>
                    <config_path>recommendations/api/products</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
