<!-- ko if: quiz && quiz.currentGroup() && quiz.currentGroup().questions[0].questionType === 3 -->

    <div
            class="sp-quiz__question sp-container sp-quiz__slider-box"
    >
        <!-- Showing banner image if it exists -->
        <div class="sp-quiz__banner sp-text-center" data-bind="if: quiz.currentGroup().imageUrl">
            <img data-bind="attr:{src: quiz.currentGroup().imageUrl}" alt="Quiz Banner" />
        </div>

        <h2
                class="sp-quiz__question-title sp-h2 sp-max-w-md sp-mt-0 sp-mx-auto sp-text-center"
                data-bind="text: quiz.currentGroup().title"
        >
        </h2>

        <p class="sp-text-center" data-bind="text: quiz.currentGroup().subtitle"></p>

        <!-- Process Questions -->
        <!-- @todo this class needs adjusted for the slider card -->
        <div class="sp-quiz__slider-box sp-bg-white sp-shadow-md sp-rounded sp-text-center sp-p-4 sp-wrapper">

            <!-- Slider Image 3 -->
            <div
                    id="sliderImage"
            >
                <img src="https://picsum.photos/id/10/570/280" alt="Grass Health Image" />
                <!-- @todo temporary image as mock is sending the same bad image each time (quiz.currentGroup().questions[0].options[0].imageUrl) -->
            </div>

            <div
                    class="sp-mx-auto lg:sp-w-3/4 xs:sp-w-full whole_box"
                    data-bind="foreach: { data: quiz.currentGroup().questions, as: 'question', noChildContext: true }"
            >

                <div
                        class="sliderContainer"
                        data-bind="attr: { id: 'slider_' + question.label }"
                >
                    <div
                            class="sp-quiz__options sp-flex sp-flex-wrap sp-justify-center sp--mx-1"
                            data-bind="foreach: { data: question.options, as: 'option', noChildContext: true }"
                    >
                        <!-- ko if: $index() === 0 -->
                        <span class="sp-p2 sp-quiz__green-text sp-quiz__strong-text" data-bind="text: option.label, attr: { 'data-optid': option.value }"></span>
                        <!-- /ko -->
                        <!-- ko if: $index() !== 0 -->
                        <span class="hide sp-p2 sp-quiz__green-text sp-quiz__strong-text" data-bind="text: option.label, attr: { 'data-optid': option.value }"></span>
                        <!-- /ko -->
                    </div>

                    <input class="slider range blue" type="range" min="1" value="1" max="1" step="1" data-bind="attr: { max : question.options.length, list: 'sideticks_' + question.label, 'data-sliderid': $index() }">

                    <datalist
                            data-bind="attr: { id: 'sideticks_' + question.label }, foreach: { data: question.options, as: 'option', noChildContext: true }"
                    >
                        <option data-bind="attr: { value: option.value }"></option>
                    </datalist>

                    <div data-bind="foreach: { data: question.options, as: 'option', noChildContext: true }">
                        <div data-bind="attr: { for: option.id }">
                            <div data-bind="if: option.value === '1'">
                                <label id="slider_label_left" data-bind="text: option.label"> </label>
                            </div>
                        </div>
                        <div data-bind="attr: { for: option.id }">
                            <div data-bind="if: option.value === '5'">
                                <label id="slider_label_right" data-bind="text: option.label"> </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

<!-- /ko -->



    
