<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Akeneo\Connector\Job\Attribute" type="SMG\AkeneoConnector\Job\Attribute" />
    <preference for="Akeneo\Connector\Job\Product" type="SMG\AkeneoConnector\Job\Product" />
</config>
