sudo: required
dist: xenial
language: php
group: edge
env:
  global:
  - LOCAL_URL=https://store.cruthine.test
  - ADMIN_EMAIL=smgwebsupport@scotts.com
  - ADMIN_FIRST=SMG
  - ADMIN_LAST=Developer
  - ADMIN_USERNAME=admin
  - ADMIN_PASSWORD=passw0rd
  - DB_NAME=cruithne
  - DB_ROOT_USER=root
  - DB_ROOT_PASSWORD=password
  - DB_APP_USER=varien
  - DB_APP_PASSWORD=j7K9u3Lm2wA6
  - SSL_DIR="/etc/ssl"
  - COMMON="store.cruithne.test"
  - MYGRO_COMMON="www.mygro.test
  - PASSPHRASE=""
  - COUNTRY="US"
  - STATE="Ohio"
  - ORGANIZATION="The Scotts Miracle-Gro Company"
  - CITY="Marysville"
  - ORGNAME="eCommerce"
  - EMAIL="smgwebsupport@scotts.com"
  - SUBJ="/C=$COUNTRY/ST=$STATE/O=$ORGANIZATION/localityName=$CITY/commonName=$COMMON/organizationalUnitName=$ORGNAME/emailAddress=$EMAIL"
  - MYGRO_SUBJ="/C=$COUNTRY/ST=$STATE/O=$ORGANIZATION/localityName=$CITY/commonName=$MYGRO_COMMON/organizationalUnitName=$ORGNAME/emailAddress=$EMAIL"
  - secure: 1buG9UEWgLrrQmgiCMyz9s5B5rvI4wtI/41VXkZEF02cUKQueFRFTSSEV8bqLR6KOkZcSHsyG6PHn1aIYFlOnsVCxhEYiYpbTdbJtLJqIK9SWaIZJKtWrUiO5uW0W1E5ElYzXG/utnYInfXBzrX8lMbXE+vzk4cBzn2SnxM2sQwwLVG6c3tq7/DpfLunHawgMycmkw6YU2DYiRcAA/GRkiO1Zz7h26te7QD5W4ntFr0+Brup8gh/dPEDkfI9JtmUjPpBcSMkDBoLDD22cNAZ00BrTZwUXZwDWkVE1M7TfnssXdUJEfXZJ4tRZVLtkA8wixEIlzCBsIYdpK0lOy36mT5APKH7NVzWgVZ5MkqvP78x/YhBZT44cs/8eddooiikXRhD+mkpR+VGGQ3P4DzsbDa3pQSYPvGt/pEI+UW5ujQy/jg3eKv5MItgbdZpotVxXu8yqbfOnYh3WkLFXAq0Bq04uQTlvBGPNVhyxEg+9YIjPnlzwAxhUDJGH7ocK82BNsGck1lzjQ9MLlMtvmPXUtQwu/CoPBCZpyZ2vT2YBzW7kia+iFKTjsxvbuAy/MHvT7NP/M8F3XrV1hFO2W9cx/LSMmVQfgUsnhZuhJXxF5CQ6aAJUfL/cfVUU0kOx0l+TWk/UZgdBM8MHRP4m+VItEilcnV6QLDZIoaXyLD3d44=
  - secure: EPEVWgFDI8pQ4rqEEtz4F5hCIwGzxpBtrSehHTEAiXj4n32ZtthZPbi4x9NRRZK3rHDTbIPKQcCCbgZ8BY4rmrt/ljZH19wNpka7yyzizcnTAci/QQGi5Sx3X9Q+7MzhIxdG/H0bJz9g99BsPo2gh9JddiaaqLMbJsYIeNJW8oGCqPrJND7MWoYXOjg27/XfUsh6LBdwR9tUDut4slE0BqLieSf6LCz0mY1mhdXmaMXy63hcHb5E5SWs+wKAdQjULYH+8OLwyjCSafTCYcPgoyEWzxACHNoB75QbTFyXNsSzGQ8saunwo7dIZkRBs+mRRNtIn5BeRflKIPVZTjh1mONJygQg85YCR9G1VjNmDpWAE/7fSczOLnNU5TO+QC/O6bcfU4p1AwaHLqo8DG1TJ5LbhSPreDJLcVbKHTJAF6/I2Vjreoyqd+Tj2ozDKI1ufpVbz2FauBifjsaK2Q5Avb79oGF9od3FAL30Yrvw73MX20TIM5uzPj9+ZRSTB4Wxb16Danbmh0/dykxYxNoXZLv4k8tSYatr9hXnq1lyydyVnjOiaurMqyft5vWl+KK53HK3L5cweX9IJUVZ8fZ/cMPMrHe9HP2WciID6BiGyuTKq3wJWmpDuqQyczCGsTjJKPZAbZAHbkZVAlTLPHvQMjWHPguyV6Z3/BSLC9wV0B4=
  - secure: v9N5bJSgDDf9TUmtakuk4acl5CGZvkeQTIWp5FAPXFVAAW/iR777p9wFUrA4cZV3YsoOAUY3mlx0FQmk59r0bo3IHtjVgKGd/d6FQwh5gBAB0CRPpdyQw1l9dEvKrAf6eC/psDtKzNfAQ5wUYLRJ5uI+me46cvsgdnXfuenwspKyOyJXyGLWnc7r63kJnRUzOYIBgf7a3m6qHs1CoMgS8ZmAT6MrUZ1xhhLF2tKne4L5BtEMaLfcVpttl+Kb11246SC6fmYLrtllt5jS6FQiiaMAvrMUwV0NnVc1MkFKJpNpnZTRXo7nG4h+7Iq2OKlra3UpXSQvFYP0TSqB1IQPS+ijIT8St/JxVOkw6CwTTBFsx8hyt6+UiaVeWj8uaSVX7MZE0eeU6G2Y0tpYZIxBXfnTWdaAsGOG0pz35FDQKzmCjpDVlOVOdyrErPDmOkLUVxgEhJHi4TwrTgAuyxhmusxXD2bkG7rMjguO15lTTEHdHJFZLaI6tZQZ30ls31tIo/Bjm/+gfNEB4eA3612t9rDpcDALH2QOFzg0Ole5IcubNZwQTfKzfay1F+ybq/RP/4Kgzrk1cpsNQlYj45AJvnt09qvUOZcc3uGxUwq8xuZlZA9QlVesyiGABo2C+ytf4Guf5TF5F2GPoDkcG/owpR7E3oNX0aWXW2TOlg3AY6Y=
  - secure: qnerD5GJ+rEhi2PJazHaemwHy3z6kDTYAyl69xm/sPczOa+Zc0FM9GwjUHT7mq1JdW5zq29fj0KMHcsPK5N9kzrwP51PcHeRU7LcnrMD8HYrNi/JYD2Uk6iY4uvff8Vb5uGJbR6c1IgLYpsOICHjk/aKudtbJEo7jEPVpZ9KK9AaRIKmZGsSqcvyzuHTw5f7rwbqshZl8ltNCBlvTQLfhcwd46uww7qcx5OL/sgdEigmpnKmglClzShKzNGk+7/6CG1IYz1QMnET2rL5Etky1RZpNkryaKbcHfzTVD85iSpSwDRN5OU0UgZDygwdbnNNxyeDp00tFpsw59ZgQDGhchQ3vODNO7wrcasxyiA3NfW5YpNUuCejotvN7UU2ZqdrlQ0wbYY6WOs2D8hHA4/5g3TGhFrPsj6SsVuA85USiLnm862l6O29kQI4N71Q21BrZv57s8Jaab8Odo0RBXgFMOc+C9hpI4R3l9kE8mLY06SM4TjBh43VGfn7EauUennlEuaY6Zv2cUEzihRMW7OaA04jB5t9jfZrt9ZgGF9FBlTj+BDJjg9yVCrUfrAsOejHc9rv6ULw+Ddq94yRtDE+ffpQttlvtT5IarFe8H6H0mx/rFPLhVQ4JEi/3i6vgPJ2UFZPnzpbIW8cWOm6hhIZolwgPnh7plG3GVmzengHpCU=

php:
- 7.2

addons:
  apt:
    packages:
    - mysql-server
    - mysql-client
  hosts:
  - $LOCAL_URL
services:
- mysql
- docker

matrix:
  fast_finish: true

cache:
  apt: true
  directories:
  - "$HOME/.composer/cache"
  - "$HOME/.nvm"
  - "$HOME/node_modules"
  - "$HOME/yarn.lock"
  - vendor

notifications:
  slack: smg-developers:vcBHeIcYxtoP1Pnv7nuT6ZGv

before_install:
# Check Docker build:
- openssl aes-256-cbc -K $encrypted_b17a4b75f504_key -iv $encrypted_b17a4b75f504_iv -in ecommerce-platform-211419-cb2647450c4d.json.enc -out ecommerce-platform-211419-cb2647450c4d.json -d
- cat ecommerce-platform-211419-cb2647450c4d.json | docker login -u _json_key --password-stdin https://gcr.io
- docker build build/
# Apache
- sudo apt-get -y install apache2
- sudo a2enmod ssl
- sudo a2ensite default-ssl
- sudo mkdir -p "$SSL_DIR"
- sudo openssl genrsa -out "$SSL_DIR/cruithne.key" 2048
- sudo openssl req -new -subj "$(echo -n "$SUBJ" | tr "\n" "/")" -key "$SSL_DIR/cruithne.key" -out "$SSL_DIR/cruithne.csr" -passin pass:$PASSPHRASE
- sudo openssl x509 -req -days 365 -in "$SSL_DIR/cruithne.csr" -signkey "$SSL_DIR/cruithne.key" -out "$SSL_DIR/cruithne.crt"
- sudo openssl genrsa -out "$SSL_DIR/mygro.key" 2048
- sudo openssl req -new -subj "$(echo -n "$MYGRO_SUBJ" | tr "\n" "/")" -key "$SSL_DIR/mygro.key" -out "$SSL_DIR/mygro.csr" -passin pass:$PASSPHRASE
- sudo openssl x509 -req -days 365 -in "$SSL_DIR/mygro.csr" -signkey "$SSL_DIR/mygro.key" -out "$SSL_DIR/mygro.crt"
- sudo cp -f $TRAVIS_BUILD_DIR/environment/config/000-default.conf /etc/apache2/sites-available/000-default.conf
- sudo cp -f $TRAVIS_BUILD_DIR/environment/config/default-ssl.conf /etc/apache2/sites-available/default-ssl.conf
- sudo openssl genrsa -out "$SSL_DIR/mygro.key" 2048
- sudo openssl req -new -subj "$(echo -n "$MYGRO_SUBJ" | tr "\n" "/")" -key "$SSL_DIR/mygro.key" -out "$SSL_DIR/mygro.csr" -passin pass:$PASSPHRASE
- sudo openssl x509 -req -days 365 -in "$SSL_DIR/mygro.csr" -signkey "$SSL_DIR/mygro.key" -out "$SSL_DIR/mygro.crt"
- sudo chmod 644 /etc/apache2/sites-available/000-default.conf
- sudo chmod 644 /etc/apache2/sites-available/default-ssl.conf
- sudo apachectl configtest
- sudo service apache2 restart
- npm install -g gulp-cli

# Add Amasty (2FA) Repo
- composer config repositories.amasty composer https://composer.amasty.com/enterprise/

# Travis Env
- shopt -s expand_aliases
- composer selfupdate
- gem install travis
- phpenv config-rm xdebug.ini
- echo 'variables_order = "EGPCS"' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
- echo "always_populate_raw_post_data = -1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
- sudo git config --global user.name "Travis-CI"
- sudo git config --global user.email "noreply@travis-ci.org"

#MySQL
- sudo mysql -e "use mysql; update user set authentication_string=PASSWORD('$DB_ROOT_PASSWORD')
  where User='$DB_ROOT_USER'; update user set plugin='mysql_native_password';FLUSH
  PRIVILEGES;"
- sudo service mysql restart
- mysql -u "$DB_ROOT_USER" -p$DB_ROOT_PASSWORD -e "create database cruithne;"
- mysql -u "$DB_ROOT_USER" -p$DB_ROOT_PASSWORD -e "grant all on cruithne.* to 'varien'@'%'
  identified by 'j7K9u3Lm2wA6';"
- sed  '/skip-external-locking/a wait_timeout=30000' /etc/mysql/my.cnf

# PHP
- php -m
install:
# Set Magento Enterprise Creds
- echo "{\"http-basic\":{\"repo.magento.com\":{\"username\":\"${MAGENTO_USER}\",\"password\":\"${MAGENTO_PASSWORD}\"},\"composer.amasty.com\":{\"username\":\"${AMASTY_USER}\",\"password\":\"${AMASTY_PASSWORD}\"}}}" > auth.json
- composer install --prefer-dist

before_script:
- echo 'date.timezone = "America/New_York"' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
- echo '' > ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini
- phpenv rehash

# Magento 2 installation
- php bin/magento setup:install --base-url="$LOCAL_URL" --admin-email="$ADMIN_EMAIL"
  --admin-firstname="$ADMIN_FIRST" --admin-lastname="$ADMIN_LAST" --admin-user="$ADMIN_USERNAME"
  --admin-password="$ADMIN_PASSWORD" --language="en_US" --backend-frontname="admin"
  --base-url="$LOCAL_URL" --db-host="localhost" --db-name="$DB_NAME" --db-user="$DB_APP_USER"
  --db-password="$DB_APP_PASSWORD" --currency="USD" --timezone="America/New_York" --use-rewrites="1"
  --use-secure="1" -n

# Copy repo to /var/www
- sudo cp -r $TRAVIS_BUILD_DIR /var/www/

script:
#  Move permissions to before script once unit tests are set.
# Permissions
- cd vendor/snowdog/frontools/ && npm install && gulp clean && npm rebuild node-sass && gulp styles --ci
# - sudo chown -R www-data:www-data /var/www/
# - sudo chmod -R 666 /var/www/
# - sudo find /var/www/ -type f -exec chmod ug+rw {} \;
# - sudo find /var/www/ -type d -exec chmod ug+rwxs {} \;

#deploy:
#  provider: gae
#  keyfile: ecommerce-platform-09cafe6cc096.json
#  project: ecommerce-platform-211419
#  on: master
