<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SMG\Iframes\Api\DrupalProductInfoInterface"
                type="SMG\Iframes\Model\DrupalProductInfo" />
<!--    <type name="Magento\Framework\App\Response\HeaderManager">-->
<!--        <arguments>-->
<!--            <argument name="headerProviderList" xsi:type="array">-->
<!--                <item name="content-security-policy" xsi:type="object">SMG\Framework\App\Response\HeaderProvider\ContentSecurityPolicy</item>-->
<!--                <item name="x-content-security-policy" xsi:type="object">SMG\Framework\App\Response\HeaderProvider\XContentSecurityPolicy</item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </type>-->
</config>
