// Colors
$white: #fff;
$black: #000;
$primary-green: #075534;
$primary-light-green: #138e51;
$secondary-dark-gray: #2a2a2a;
$secondary-gray: #4d4d4e;
$secondary-light-gray: #959393;
$secondary-lighter-gray: #f3f3f3;
$accent-orange: #fcaf19;

$scottsprogram-gray: #636363;
$scottsprogram-orange: #ed9016;

// Fonts
$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
