// ScottsProgram Brand Colors //
$scottsprogram-gray: #636363;
$scottsprogram-orange: #ed9016;

// Additional Colors //
$color_dark_green_shade: #008065;

// Fonts //
$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;

// Font Sizes //
$font12: 12px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font27: 27px;
$font32: 32px;

$font_normal: normal;

// Screen Sizes //
$screen_1024: 1024px;
$screen_769: 769px;
$screen_768: 768px;
$screen_568: 568px;
$screen_569: 569px;
