// Scotts Program Base
// HP Only Style 
@import 'mixins/media-queries';

.cms-return-policy .page-title-wrapper {
    display: none;
}

body {
    h1 {
      color: $scottsprogram-gray;
    }
}

  .page-wrapper {
    .page-header {
        background: $primary-green;
        height: 3.25rem;
        @include max-screen($screen_m){
        	position: fixed;
    		z-index: 99999;
    		width: 100%;
    		top: 0;
        }
        .header.content {
            padding: 0;
            .logo {
                position: absolute; 
                top: 1rem;
                @include max-screen($screen__m) {
                    float: left;
                    position: relative;
                    top: 22px;  
                }
                > img {
                    @include max-screen($screen__m) {
                        margin: 0 auto;
                    }
                }
            }
            .shipping-message {
                text-align: center;
                color: white;
                font-size: 0.9rem;
                padding: 1rem 0;
                @include max-screen($screen__m) {
                    display: none;
                    visibility: hidden;
                }
            }
			.cart-cta{
				max-width: 100%;
				position: absolute;
				top: 5px;
				right: 0;
				display: inline-block;
				width: 40px;
                @media (max-width:767px){
                    right: 30px;
                }
					
					a { 
						color: #fff;
						display: inline-block;
						width: 25px;
						text-align: center;
						font-size: 14px;
						
						&:hover {
							text-decoration: none;
						}
					}
			}
        }
    }
    .page-footer {
        @include max-screen($screen__m) {
            padding: 3rem 10%;
        } 
        .footer {
            letter-spacing: 0.35px;
            .social-links {
                @include font-roboto(0.65rem, #515356, 400, 1.2rem);
                border-left: none;
                text-align: left;
                @include max-screen($screen__m) {
                    text-align: center;
                }
                .footer__social-links {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: start;
                    -ms-flex-align: start;
                    align-items: start;
                    -webkit-box-pack: start;
                    -ms-flex-pack: start;
                    justify-content: left;
                    font-size: 1rem;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li {
                        display: inline-block;
                        margin-right: 1rem;
                        @include max-screen($screen__m) {
                            margin-right: 0;
                        }
                    }
                    a {
                        color: inherit;
                        text-decoration: none;
                    }
                    svg {
                        fill: #515356;
                        height: 3em;
                        width: 3em;
                        -webkit-transition: fill 0.3s ease-out;
                        transition: fill 0.3s ease-out;
                        @include max-screen($screen__m) {
                            margin: 0 0.5rem;
                        }
                        &:hover {
                            fill: #76797d;
                        }
                    }
                    @include max-screen($screen__m) {
                        justify-content: center;
                    }
                }
            }
            .contact-info {
                border-left: 1px solid #ededee;
                box-sizing: border-box;
                padding: 2rem;
                text-align: left;
                @include max-screen($screen__m) {
                    border-left: none;
                    text-align: left;
                    padding: 2rem 0rem;
                }
                div{
                    @include max-screen($screen__m) {
                        text-align: left !important;
                    }
                }
                .footer__section--header {
                    @include font-roboto(0.75rem, $scottsprogram-gray, 700, 1.2rem);
                    letter-spacing: 1.2px;
                    margin: 1rem 0;
                    text-transform: uppercase;
                }
                ul {
                    list-style-type: none;
                    margin-bottom: 1rem;
                    padding: 0;
                    li {
                        @include font-roboto(0.85rem, #515356, 400, 1.2rem);
                        margin: 0;
                    }
                }
            }
            .company-links {
                border-left: 1px solid #ededee;
                box-sizing: border-box;
                padding: 2rem;
                text-align: left;
                @include max-screen($screen__m) {
                    border-left: none;
                    border-top: 1px solid #ededee;
                    text-align: left;
                    padding: 2rem 0rem;
                }
                div{
                    @include max-screen($screen__m) {
                        text-align: left !important;
                    }
                }
                ul {
                    padding: 0;
                    li {
                        list-style-type: none;
                        margin-bottom: 0.25rem;
                        a {
                            @include font-roboto(0.85rem, #515356, 400);
                            -webkit-transition: color 0.2s ease-in-out;
                            transition: color 0.2s ease-in-out;
                            text-decoration: none;
                            &:hover {
                                color: #ed9016;
                            }
                        }
                    }
                }
            }
        }
    }
}
.page-main {
    .columns {
        .column.main {
            .turfbuilder__wrap {
                .std {
                    .section__tabs {
                        @include min-screen(771px) {
                            background-image: linear-gradient(to bottom, #fafafa 0%, #fff 12.5%)
                        }
                        .section__tabs--wrapper {
                            margin: 0 auto;
                            padding: 3rem 5%;
                            @include min-screen(48.1875rem) {
                                margin: 0 auto;
                                max-width: 90em;
                                width: 95%;
                                padding: 4.5rem 0 2rem;
                            }
                            @include min-screen(75rem) {
                                padding-left: 0;
                                padding-right: 0;
                            }
                            .section__tabs--tabnav {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -ms-flex-wrap: wrap;
                                flex-wrap: wrap;
                                -webkit-box-pack: justify;
                                -ms-flex-pack: justify;
                                justify-content: space-between;
                                @include min-screen(48.1875rem) {
                                    -ms-flex-wrap: nowrap;
                                    flex-wrap: nowrap;
                                    margin: 0 auto;
                                    max-width: 61.25rem;
                                    padding: 0 2rem;
                                    width: 90%;
                                }
                                label {
                                    -webkit-transition: all 0.3s ease-in-out;
                                    padding: 0.813rem 1rem;
                                    cursor: pointer;
                                    text-align: center;
                                    transition: all 0.3s ease-in-out;
                                    border-radius: 0.25em;
                                    color: color('grey', 'base');
                                    font-size: 0.813rem;
                                    font-weight: 500;
                                    margin: 0 0.5rem 0.5rem;
                                    text-transform: uppercase;
                                    width: calc(50% - 1rem);
                                    background-color: #fafafa;
                                    border: 1px solid #ededee;
                                    box-shadow: 0 0 5px 0 rgba(182, 92, 0, 0);
                                    color: #515356;
                                    @include min-screen(771px) {
                                        max-width: 11.25rem;
                                    }
                                    @include min-screen(48.1875rem) {
                                        padding: 0.625rem 1rem;
                                        width: 25%;
                                    }
                                    span {
                                        display: block;
                                        font-size: 0.75em;
                                        font-weight: bold;
                                    }
                                    &.active,
                                    &:hover {
                                        background-color: $primary-green;
                                        box-shadow: 0 0 5px 0 rgba(182,92,0,0.18);
                                        color: #fff;
                                    }
                                }
                            }
                            .section__tabs--tabcontainer {
                                position: relative;
                                .section__tabs--tabtrack {
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -ms-flex-wrap: nowrap;
                                    flex-wrap: nowrap;
                                    @include min-screen(48.1875rem) {
                                        margin: 2rem auto 3rem;
                                    }
                                    .tabpanel {
                                        opacity: 0;
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        width: 100%;
                                        z-index: -1;
                                        -webkit-transition: opacity 0.25s ease-in-out;
                                        transition: opacity 0.25s ease-in-out;
                                        .tabpanel__wrapper {
                                            margin: 2rem 0 0;
                                            @include min-screen(48.1875rem) {
                                                display: -webkit-box;
                                                display: -ms-flexbox;
                                                display: flex;
                                                -webkit-box-align: start;
                                                -ms-flex-align: start;
                                                align-items: flex-start;
                                                padding: 2rem 0 0;
                                            }
                                            .tabpanel__image {
                                                position: relative;
                                                margin-bottom: 4rem;
                                                text-align: center;
                                                @include min-screen(48.1875rem) {
                                                    width: 45%;
                                                }
                                                @include min-screen(75rem) {
                                                    width: 50%;
                                                }
                                                img {
                                                    margin: 0 auto;
                                                    position: relative;
                                                    max-width: 11.25rem; // 180px
                                                    @include min-screen(771px) {
                                                        max-width: 50%;
                                                    }
                                                    span {
                                                        @include min-screen(1200px) {
                                                            background-size: 26rem auto;
                                                        }
                                                        @include min-screen(771px) {
                                                            display: block;
                                                            padding: 0 12.5%;
                                                        }
                                                        @include min-screen(600px) {
                                                            display: block;
                                                        }
                                                        &:before,
                                                        &:after {
                                                            content: '';
                                                            height: 100%;
                                                            width: 100%;
                                                            position: absolute;
                                                            bottom: 0.5rem;
                                                            left: 0;
                                                            z-index: 0;
                                                        }
                                                        &:before {
                                                            background-image: url('../images/grass.png');
                                                            background-repeat: no-repeat;
                                                            background-position: center bottom;
                                                            background-size: 18rem auto;
                                                            bottom: -2rem;
                                                            left: -0.5rem;
                                                            z-index: 0;
                                                            @include min-screen(771px) {
                                                                content: '\b7\a0';
                                                                display: inline-block;
                                                                font-size: 1.5em;
                                                                line-height: 1;
                                                                vertical-align: middle;
                                                            }
                                                        }
                                                        &:after {
                                                            background-image: url('../images/grass.png');
                                                            background-repeat: no-repeat;
                                                            background-position: center bottom;
                                                            background-size: 17rem auto;
                                                            bottom: -2rem;
                                                            z-index: 1;
                                                            @include min-screen(771px) {
                                                                background-size: 92% auto;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            .tabpanel__text {
                                                .turfbuilder--headline {
                                                    @include font-roboto-condensed(2rem, false, 600);
                                                    text-align: left;
                                                    margin: 0;
                                                    @include min-screen(771px) {
                                                        text-align: left;
                                                    }
                                                }
                                                h4 {
                                                    color: orange;
                                                    text-transform: uppercase;
                                                }

                                                p, li {
                                                    font-size: 0.875rem;
                                                    font-weight: 100;
                                                }

                                                ul {
                                                    @include min-screen(771px) {
                                                        margin-left: 0;
                                                    }
                                                    margin-bottom: 0;
                                                    li {
                                                        margin-left: 1.25em;
                                                        @include min-screen(771px) {
                                                            margin-left: 0;
                                                        }
                                                        @include min-screen(600px) {
                                                            margin-left: 0;
                                                        }
                                                    }
                                                }
                                                @include min-screen(48.1875rem) {
                                                    padding-left: 7%;
                                                    padding-right: 7%;
                                                    width: 55%;
                                                }
                                                @include min-screen(75rem) {
                                                    padding-left: 0;
                                                    width: 50%;
                                                }
                                            }
                                        }
                                    }
                                    .tabs__radio {
                                        display: none;
                                        opacity: 0;
                                        visibility: hidden;
                                        &:checked {
                                            border: 1px solid $primary-green;
                                        }
                                    }
                                    .tabs__radio:checked + .tabpanel {
                                        opacity: 1;
                                        z-index: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .section__app {
                .section__app--wrapper {
                    max-width: 1280px;
                    margin: 0 auto;
                    padding: 4.5rem 0;
                    @include max-screen($screen__m) {
                        padding: 3rem 10%;
                    }
                    .section__app--image {
                        box-sizing: border-box;
                        padding: 0 1.5rem;
                        text-align: center;
                    }
                    .section__app--text {
                        max-width: 40rem;
                        @include max-screen($screen__m) {
                            text-align: center;
                        }
                        .turfbuilder--headline {
                            @include font-roboto-condensed(2rem, $white, 600);
                            text-transform: uppercase;
                        }
                        p {
                            @include font-roboto(0.875rem, $white, 100);
                        }
                        .section__app--links {
                            p {
                                display: inline-block;
                                margin: 1.5rem 0 0 0;
                            }
                            .link-badge {
                                &:hover {
                                    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.abs-product-link, 
.product-item-name,
.product.name a{
	> a{
		color: $color_black20_shade;
		text-decoration: none;
		font-weight: bold;
	}
}
.clnt-hide{
    display:none;
}

.customer-account-create,
.customer-account-forgotpassword,
.customer-account-login{
	input[type="text"], 
	input[type="password"],
	input[type="email"]{
		width: 100% !important;
		height: 29px;
	}
}
.customer-account-create,
.customer-account-forgotpassword{
	 .actions-toolbar .primary{
		float:right;
	 }
	 .actions-toolbar .secondary{
		float:left;
	 }
}
.customer-account-create,
.customer-account-login,
.customer-account-forgotpassword{
	.page-title-wrapper{
		margin-top: 30px;
	}
}
.customer-account-login {
	.actions-toolbar .secondary{
		float: left;
		margin-left: 30px;
	}
	.login-container .fieldset:after{
		display:none;
	}
	.block.block-customer-login{
		border-right: 1px solid #e8e8e8;
		padding-right: 15px;
	}
}

.product-image-container {
    width: 100% !important;
}


a#totop {
    height: 29px;
    position: absolute;
    right: 114px;
    width: 40px;
    z-index: 9999;
    top: -90px;
    background-color: #ef962a;
    font-size: 11px;
    color: #fff;
    text-align: center;
    line-height: 1;
    padding: 18px 13px;
	display:none;
    border-radius: 53px;
	text-decoration: none;
}
.cms-scotts-lawn-care-program-home-page {
	a#totop {
		display:block;
	}
}
.return-policy-content p{
	text-align: justify;
}
.return-policy-content{
	padding-right: 40px;
}
.landingPageOptions-container .howItWorks__wrapper .section__steps--item {
    vertical-align: top;
}
.faq-content{
	padding-right: 40px;
}
.page-footer{
	position: relative;
}
.landingPageOptions-container{ 
	.tabSection__wrapper section.section__tabs{ 
		.section__tabs--wrapper {
			.section__tabs--tabcontainer{ 
				.section__tabs--tabtrack{ 
					.tabpanel{ 
						.tabpanel__wrapper{ 
							.tabpanel__text{ 
								.turfbuilder--headline{
								   margin-top: 2.5rem;
								   margin-bottom: 1rem;
								}
							}
						}
					}
				}
			}
		}
	}
}
.section__hero--purchase{
	 a {
		  color: #085534;
	   }
}
.landingPageOptions-container{ 
	.tabSection__wrapper section.section__tabs{ 
		.section__tabs--wrapper .section__tabs--tabcontainer{ 
			.section__tabs--tabtrack .tabpanel{ 
				.tabpanel__wrapper{ 
					.tabpanel__text ul,
					.tabpanel__text li
					{
						font-size: 0.875rem;
						color: #515356;
						font-weight: normal !important;
					}
				}
				.tabpanel__text p{
					margin: 0 0 1.5em !important;
					font-size: 0.875rem !important;
					color: #515356;
					font-weight: normal !important;
                    @include max-screen($screen__s) {
                        margin: 0 0 1.5em 1.5em!important;
                    }
				}
			}
		}
	}

}

@media screen and (min-width: $screen_768) {
 
}


//Causing Title Section to appear on all pages commenting out for now
// Don't know what the design reason was for this
/*
.page-wrapper .page-main .page-title-wrapper{
  display: block;
  margin-top: 0rem;
  font-size:2rem !important;
}
*/

.column.main{
    .landingPageOptions-container{
        .tabSection__wrapper section.section__tabs{
            .section__tabs--wrapper{
                .section__tabs--tabnav label.tabnav-label.active{
                    font-weight:700;
                }
                .section__tabs--tabnav label.tabnav-label:hover{
                    font-weight:700;
                }
            }
        }
    }
}

.actions-toolbar{
    .primary{
        .action-add.primary{
            text-align:center;
        }   
    } 
}
button.action{
    text-align:center;
}


.messages{
	.message.error{
		font-size:16px;
	}
}

.catalog-product-view{
	#maincontent{
		margin-top:40px;
	}
}

.tabpanel__wrapper{
	.tabpanel__image{
		img{
			width: 250px;
			height:350px;
			max-height:350px;
		}
	}
}

.faq-wrapper{
	.faq-content{
		.page-title{
			@include max-screen($screen__s){
				margin-top:70px;
			}
		}
	}
}

.column.main{
    .landingPageOptions-container{
        .tabSection__wrapper{
            section.section__tabs{
                .section__tabs--wrapper{
                    .section__tabs--tabnav{
                        label.tabnav-label{
                            min-width: 8.25rem;
                        }
                    }
                }
            }
        }
    }
}

.modal-inner-wrap {
	.modal-footer {
		text-align:right;
		.action-primary {
			background: #075534;
			color: #fff;
			width: 57px;
		}
	}
}
