// Scotts Program Base
.page-wrapper {
    .page-header {
        background: $primary-green;
        height: 3.25rem;
        .header.content {
            padding: 0;
            .logo {
                position: absolute;
                top: 1rem;
                @include max-screen($screen__m) {
                    float: none;
                    position: relative;
                    top: 0;
                }
                > img {
                    @include max-screen($screen__m) {
                        margin: 0 auto;
                    }
                }
            }
            .shipping-message {
                text-align: center;
                color: white;
                font-size: 0.9rem;
                padding: 1rem 0;
                @include max-screen($screen__m) {
                    display: none;
                    visibility: hidden;
                }
            }
        }
    }
    .page-footer {
        @include max-screen($screen__m) {
            padding: 3rem 10%;
        }
        .footer {
            letter-spacing: 0.35px;
            .social-links {
                @include font-roboto(0.65rem, #515356, 400, 1.2rem);
                border-left: none;
                text-align: left;
                @include max-screen($screen__m) {
                    text-align: center;
                }
                .footer__social-links {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: start;
                    -ms-flex-align: start;
                    align-items: start;
                    -webkit-box-pack: start;
                    -ms-flex-pack: start;
                    justify-content: left;
                    font-size: 1rem;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li {
                        display: inline-block;
                        margin-right: 1rem;
                        @include max-screen($screen__m) {
                            margin-right: 0;
                        }
                    }
                    a {
                        color: inherit;
                        text-decoration: none;
                    }
                    svg {
                        fill: #515356;
                        height: 3em;
                        width: 3em;
                        -webkit-transition: fill 0.3s ease-out;
                        transition: fill 0.3s ease-out;
                        @include max-screen($screen__m) {
                            margin: 0 0.5rem;
                        }
                        &:hover {
                            fill: #76797d;
                        }
                    }
                    @include max-screen($screen__m) {
                        justify-content: center;
                    }
                }
            }
            .contact-info {
                border-left: 1px solid #ededee;
                box-sizing: border-box;
                padding: 2rem;
                text-align: left;
                @include max-screen($screen__m) {
                    border-left: none;
                    text-align: center;
                }
                .footer__section--header {
                    @include font-roboto(0.75rem, #636363, 700, 1.2rem);
                    letter-spacing: 1.2px;
                    margin: 1rem 0;
                    text-transform: uppercase;
                }
                ul {
                    list-style-type: none;
                    margin-bottom: 1rem;
                    padding: 0;
                    li {
                        @include font-roboto(0.85rem, #515356, 400, 1.2rem);
                        margin: 0;
                    }
                }
            }
            .company-links {
                border-left: 1px solid #ededee;
                box-sizing: border-box;
                padding: 2rem;
                text-align: left;
                @include max-screen($screen__m) {
                    border-left: none;
                    border-top: 1px solid #ededee;
                    text-align: center;
                }
                ul {
                    padding: 0;
                    li {
                        list-style-type: none;
                        margin-bottom: 0.25rem;
                        a {
                            @include font-roboto(0.85rem, #515356, 400);
                            -webkit-transition: color 0.2s ease-in-out;
                            transition: color 0.2s ease-in-out;
                            text-decoration: none;
                            &:hover {
                                color: #ed9016;
                            }
                        }
                    }
                }
            }
        }
    }
}
.page-main {
    .columns {
        .column.main {
            .section__app {
                .section__app--wrapper {
                    max-width: 1280px;
                    margin: 0 auto;
                    padding: 4.5rem 0;
                    @include max-screen($screen__m) {
                        padding: 3rem 10%;
                    }
                    .section__app--image {
                        box-sizing: border-box;
                        padding: 0 1.5rem;
                        text-align: center;
                    }
                    .section__app--text {
                        max-width: 40rem;
                        @include max-screen($screen__m) {
                            text-align: center;
                        }
                        .turfbuilder--headline {
                            @include font-roboto-condensed(2rem, $white, 600);
                            text-transform: uppercase;
                        }
                        p {
                            @include font-roboto(0.875rem, $white, 100);
                        }
                        .section__app--links {
                            p {
                                display: inline-block;
                                margin: 1.5rem 0 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
// Cart Styles
.checkout-cart-index {
    .page-main {
        .page-title-wrapper {
            .page-title {
                @include font-roboto(2.2rem, $secondary-dark-gray, false, false, 0.5px);
            }
        }
        .columns {
            .column {
                .cart-container {
                    .cart-summary {
                        .summary.title {
                            @include font-roboto(1.6rem, $secondary-dark-gray);
                        }
                        .block.shipping,
                        .block.discount,
                        .block.giftcard {
                            .title {
                                #block-shipping-heading,
                                #block-discount-heading,
                                #block-giftcard-heading {
                                    @include font-roboto(1rem, $secondary-dark-gray);
                                }
                            }
                        }
                        .checkout-methods-items {
                            .item {
                                .action.checkout {
                                    @include font-roboto(1.4rem, $white);
                                    -webkit-transition: background 0.2s;
                                    -moz-transition: background 0.2s;
                                    -ms-transition: background 0.2s;
                                    -o-transition: background 0.2s;
                                    transition: background 0.2s;
                                    background: $primary-green;
                                    border: none;
                                    &:hover {
                                        -webkit-transition: background 0.2s;
                                        -moz-transition: background 0.2s;
                                        -ms-transition: background 0.2s;
                                        -o-transition: background 0.2s;
                                        transition: background 0.2s;
                                        background: #005d49;
                                    }
                                }
                                .action.multicheckout {
                                    color: $primary-green;
                                    text-decoration: underline;
                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                    .form-cart {
                        .cart.table-wrapper {
                            thead {
                                tr {
                                    .col {
                                        margin: 0;
                                        padding: 0;
                                        width: 25%;
                                        @include max-screen($screen__m) {
                                            padding: 0.5rem;
                                        }
                                    }
                                }
                            }
                            .cart.item {
                                .item-info {
                                    .col {
                                        margin: 0;
                                        padding: 1rem 0;
                                        width: 25%;
                                    }
                                    .item {
                                        .product-item-photo {
                                            @include max-screen($screen__m) {
                                                max-width: none;
                                                position: static;
                                                text-align: center;
                                            }
                                        }
                                        .product-item-details {
                                            @include max-screen($screen__m) {
                                                text-align: center;
                                            }
                                            .product-item-name {
                                                a {
                                                    color: $secondary-dark-gray;
                                                }
                                                @include max-screen($screen__m) {
                                                    font-size: 0.75rem;
                                                }
                                            }
                                        }
                                    }
                                    .qty {
                                        .control.qty {
                                            .qty {
                                                border: 1px solid $secondary-dark-gray;
                                            }
                                        }
                                    }
                                    .price-including-tax,
                                    .price-excluding-tax {
                                        color: $secondary-dark-gray;
                                        font-size: 1.4rem;
                                        @include max-screen($screen__m) {
                                            font-size: 1rem;
                                        }
                                    }
                                }
                                .item-actions {
                                    td {
                                        padding: 0;
                                    }
                                    .actions-toolbar {
                                        height: 3rem;
                                        .action-edit {
                                            display: none;
                                            visibility: hidden;
                                        }
                                        .action-delete {
                                            -webkit-transition: background 0.2s;
                                            -moz-transition: background 0.2s;
                                            -ms-transition: background 0.2s;
                                            -o-transition: background 0.2s;
                                            transition: background 0.2s;
                                            background: $secondary-dark-gray;
                                            color: $white;
                                            font-size: 0.85rem;
                                            padding: 0.25rem 1rem;
                                            border-radius: 5px;
                                            &:hover {
                                                -webkit-transition: background 0.2s;
                                                -moz-transition: background 0.2s;
                                                -ms-transition: background 0.2s;
                                                -o-transition: background 0.2s;
                                                transition: background 0.2s;
                                                background: #505050;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .cart.actions {
                            .action.continue,
                            .action.clear,
                            .action.update {
                                @include font-roboto(1rem, $secondary-dark-gray, 400);
                            }
                            .action.continue {
                                &:before {
                                    line-height: 1.4rem;
                                }
                            }
                        }
                    }
                    #gift-options-cart {
                        .cart-gift-item {
                            .gift-item-block {
                                .title {
                                    @include font-roboto(1rem, $secondary-dark-gray, 400);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// Checkout Styles
.checkout-index-index {
    .page-wrapper {
        .page-header {
            .header.content {
                .logo {
                    @include max-screen($screen__m) {
                        // Specific Style for logo when menu isn't present
                        left: 0;
                    }
                }
            }
        }
        .page-main {
            margin-top: 2rem;
            .columns {
                .column.main {
                    .checkout-container {
                        .opc-progress-bar {
                            .opc-progress-bar-item {
                                &._active {
                                    &:before {
                                        background: $primary-green;
                                    }
                                    span {
                                        &:before {
                                            background: $primary-green;
                                        }
                                    }
                                }
                                span {
                                    font-size: 1.2rem;
                                    &:after {
                                        font-size: 1.2rem;
                                    }
                                }
                            }
                        }
                        .opc-estimated-wrapper {
                            .minicart-wrapper {
                                .action.showcart {
                                    .counter.qty {
                                        background: $primary-green;
                                    }
                                }
                            }
                        }
                        .opc-wrapper {
                            @include max-screen($screen__m) {
                                padding: 1rem;
                            }
                            .opc {
                                .checkout-shipping-address {
                                    .step-content {
                                        .form-login {
                                            border-bottom: 1px solid #c2c2c2;
                                            padding-bottom: 1rem;
                                        }
                                        .form-login,
                                        .form-shipping-address {
                                            .fieldset {
                                                .label {
                                                    width: auto;
                                                }
                                                .control {
                                                    float: none;
                                                    width: auto;
                                                }
                                            }
                                            .hidden-fields {
                                                .actions-toolbar {
                                                    margin-left: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                                .checkout-shipping-method {
                                    .checkout-shipping-method {
                                        .step-title {
                                            font-size: 2rem;
                                        }
                                        .step-content {
                                            .methods-shipping {
                                                .actions-toolbar {
                                                    .primary {
                                                        .action.primary {
                                                            @include font-roboto(1.2rem, $white, 400);
                                                            background-color: $primary-green;
                                                            line-height: 0;
                                                            padding: 1rem 2rem;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .checkout-payment-method {
                                    .step-content {
                                        .form.payments {
                                            .fieldset {
                                                .opc-payment {
                                                    .items.payment-methods {
                                                        .payment-group {
                                                            .payment-method._active {
                                                                .payment-method-content {
                                                                    .actions-toolbar {
                                                                        .primary {
                                                                            .action.primary.checkout {
                                                                                @include font-roboto(1.4rem, $white);
                                                                                -webkit-transition: background 0.2s;
                                                                                -moz-transition: background 0.2s;
                                                                                -ms-transition: background 0.2s;
                                                                                -o-transition: background 0.2s;
                                                                                transition: background 0.2s;
                                                                                background: $primary-green;
                                                                                border: none;
                                                                                &:hover {
                                                                                    -webkit-transition: background 0.2s;
                                                                                    -moz-transition: background 0.2s;
                                                                                    -ms-transition: background 0.2s;
                                                                                    -o-transition: background 0.2s;
                                                                                    transition: background 0.2s;
                                                                                    background: #005d49;
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            .opc-payment-additional {
                                                .payment-option-title {
                                                    .action-toggle {
                                                        color: $primary-green;
                                                    }
                                                }
                                                .payment-option-content {
                                                    .form-discount {
                                                        .actions-toolbar {
                                                            .primary {
                                                                button {
                                                                    @include font-roboto(1rem, $white);
                                                                    -webkit-transition: background 0.2s;
                                                                    -moz-transition: background 0.2s;
                                                                    -ms-transition: background 0.2s;
                                                                    -o-transition: background 0.2s;
                                                                    transition: background 0.2s;
                                                                    background: $secondary-dark-gray;
                                                                    border: none;
                                                                    &:hover {
                                                                        -webkit-transition: background 0.2s;
                                                                        -moz-transition: background 0.2s;
                                                                        -ms-transition: background 0.2s;
                                                                        -o-transition: background 0.2s;
                                                                        transition: background 0.2s;
                                                                        background: $secondary-dark-gray;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                    .form-giftcard-account {
                                                        .actions-toolbar {
                                                            .primary {
                                                                margin-left: 1rem;
                                                                .action-add.primary {
                                                                    @include font-roboto(1rem, $white);
                                                                    -webkit-transition: background 0.2s;
                                                                    -moz-transition: background 0.2s;
                                                                    -ms-transition: background 0.2s;
                                                                    -o-transition: background 0.2s;
                                                                    transition: background 0.2s;
                                                                    background: $secondary-dark-gray;
                                                                    border: none;
                                                                    &:hover {
                                                                        -webkit-transition: background 0.2s;
                                                                        -moz-transition: background 0.2s;
                                                                        -ms-transition: background 0.2s;
                                                                        -o-transition: background 0.2s;
                                                                        transition: background 0.2s;
                                                                        background: $secondary-dark-gray;
                                                                    }
                                                                }
                                                            }
                                                            .secondary {
                                                                .action-check {
                                                                    @include font-roboto(1rem, $white);
                                                                    -webkit-transition: background 0.2s;
                                                                    -moz-transition: background 0.2s;
                                                                    -ms-transition: background 0.2s;
                                                                    -o-transition: background 0.2s;
                                                                    transition: background 0.2s;
                                                                    background: $secondary-dark-gray;
                                                                    border: none;
                                                                    &:hover {
                                                                        -webkit-transition: background 0.2s;
                                                                        -moz-transition: background 0.2s;
                                                                        -ms-transition: background 0.2s;
                                                                        -o-transition: background 0.2s;
                                                                        transition: background 0.2s;
                                                                        background: $secondary-dark-gray;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .opc-sidebar.custom-slide {
                            left: 0;
                            .modal-inner-wrap {
                                .modal-content {
                                    #opc-sidebar {
                                        .opc-block-summary {
                                            .title {
                                                font-size: 2rem;
                                            }
                                            .table-totals {
                                                tbody {
                                                    .totals.discount {
                                                        .mark {
                                                            .title {
                                                                font-size: 1rem;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            .items-in-cart {
                                                .minicart-items {
                                                    margin-top: 0.5rem;
                                                    @include max-screen($screen__m) {
                                                        margin-top: 0.5rem;
                                                    }
                                                    .product-item {
                                                        .product {
                                                            .product-item-details {
                                                                .product-item-name-block {
                                                                    .product-item-name {
                                                                        margin: 0;
                                                                        @include max-screen($screen__m) {
                                                                            margin: 0;
                                                                        }
                                                                    }
                                                                    .details-qty {
                                                                        margin: 0;
                                                                        @include max-screen($screen__m) {
                                                                            margin: 0;
                                                                        }
                                                                    }
                                                                }
                                                                .subtotal {
                                                                    .price-excluding-tax,
                                                                    .price-including-tax {
                                                                        .cart-price {
                                                                            .price {
                                                                                font-size: 1.2rem;
                                                                                font-weight: 700;
                                                                                @include max-screen($screen__m) {
                                                                                    font-size: 1.2rem;
                                                                                    font-weight: 700;
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .opc-block-shipping-information {
                                            .shipping-information {
                                                .ship-to {
                                                    .shipping-information-title {
                                                        span {
                                                            font-size: 2rem;
                                                        }
                                                    }
                                                }
                                                .ship-via {
                                                    .shipping-information-title {
                                                        span {
                                                            font-size: 2rem;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


