// Scotts Program Mixins

// Fonts //
@mixin font-roboto($size: false, $color: false, $weight: false, $lh: false, $ls: false) {
    font-family: $roboto;
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
    @if $ls { letter-spacing: $ls; }
}

@mixin font-roboto-condensed($size: false, $color: false, $weight: false, $lh: false, $ls: false) {
    font-family: $roboto-condensed;
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
    @if $ls { letter-spacing: $ls; }
}
@mixin defaultwrap($center: true) {
    @if $center == false {
        margin: 0;
    }
    @else {
        margin: 0 auto;
    }

    max-width: 90em;
    width: 95%;
}


/*------- 11042019 Custom Changes - Start --------*/
@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}
@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}
@mixin transition($x...){
	-webkit-transition: $x;
	-moz-transition: $x;
	-ms-transition: $x;
	-o-transition: $x;
	transition: $x;
}
/*------- 11042019 Custom Changes - End --------*/