<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SMG\Recommendations\Api\Quiz\TemplateInterface" type="SMG\Recommendations\Model\Quiz\Template" />
    <preference for="SMG\Recommendations\Api\Quiz\LawnZoneInterface" type="SMG\Recommendations\Model\Quiz\LawnZone" />
</config>