<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Block\Adminhtml\Order\Creditmemo\Create\Items" type="SMG\Sales\Block\Adminhtml\Order\Creditmemo\Create\Items" />
    <preference for="Magento\Sales\Block\Adminhtml\Order\View\Info" type="SMG\Sales\Block\Adminhtml\Order\View\Info" />
    <preference for="Magento\Sales\Model\Order" type="SMG\Sales\Model\Order" />

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="smg_plugin_orderrepositoryinterface" type="SMG\Sales\Plugin\Api\OrderRepositoryInterface" sortOrder="1" />
    </type>
    <type name="Magento\Sales\Model\Order\Creditmemo">
        <plugin name="smg_plugin_order_creditmemo" type="SMG\Sales\Plugin\Model\Order\Creditmemo" />
    </type>
    <type name="Magento\Sales\Model\Order\Payment">
        <plugin name="smg_plugin_order_payment" type="SMG\Sales\Plugin\Model\Order\Payment" />
    </type>
	<type name="Magento\Backend\Block\Widget\Button\Toolbar">
        <plugin name="smg_plugin_order_toolbarbuttons" type="SMG\Sales\Plugin\Block\Widget\Button\Toolbar" />
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\Create\Billing\Method\Form">
        <plugin name="smg_plugin_block_billing_method_form" type="SMG\Sales\Plugin\Block\Adminhtml\Order\Create\Billing\Method\Form" />
    </type>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="master_subscription_id" xsi:type="string">sales_order.master_subscription_id</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="smg_sales_plugin_ordermanagement" type="SMG\Sales\Plugin\OrderManagement"/>
    </type>
</config>