<div
    class="sp-form-group field"
    data-bind="
        visible: visible,
        attr: {'name': element.dataScope},
        css: additionalClasses
    "
>
    <!-- ko template: element.elementTmpl --><!-- /ko -->

    <label class="sp-form-label" data-bind="attr: { for: element.uid }">
        <!-- ko if: element.label -->
        <span></span>
        <!-- /ko -->
    </label>

    <!-- ko if: element.tooltip -->
        <!-- ko template: element.tooltipTpl --><!-- /ko -->
    <!-- /ko -->

    <!-- ko if: element.notice -->
        <div class="field-note" data-bind="attr: { id: element.noticeId }">
            <span data-bind="text: element.notice"></span>
        </div>
    <!-- /ko -->

    <!-- ko if: element.error() -->
        <div class="sp-form-error" data-bind="attr: { id: element.errorId }" generated="true">
            <span data-bind="text: element.error"></span>
        </div>
    <!-- /ko -->

    <!-- ko if: element.warn() -->
        <div role="alert" class="message warning" data-bind="attr: { id: element.warningId }" generated="true">
            <span data-bind="text: element.warn"></span>
        </div>
    <!-- /ko -->
</div>
<!-- /ko -->
