<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2019 SMG, LLC
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\GroupedProduct\Block\Product\View\Type\Grouped">
        <plugin name="grouped_product_plugin"
                type="SMG\GroupedAssociatedProducts\Plugin\Grouped" />
    </type>
</config>