// Magento UI Variables //
$primary__color:                                                #5FB061; // green
$secondary__color:                                              #005a97; // blue

//  Roundup Var Overrides
//  ---------------------------------------------

// Iframes //
$iframe-addtocart-btn-border:                                    none;
$iframe-addtocart-btn-border-radius:                             0;
$iframe-addtocart-btn-color:                                     $color_white;
$iframe-addtocart-btn-color-hover:                               $color_white;
$iframe-addtocart-btn-background:                                $secondary__color;
$iframe-addtocart-btn-background-hover:                          $primary__color;

$iframe-cart-checkout-now-txt:                                   $primary__color;

$iframe-cart-icon-size:                                         37px;
$iframe-cart-mobile-icon-size:                                  38px;

$iframe-cart-icon-line-height:                                  18px;
$iframe-cart-icon-mobile-line-height:                           18px;

$iframe-cart-count-margin:                                      0;
$iframe-cart-count-mobile-margin:                               0;


// Drupal Scotts - Colors
$drupal-roundup-gray:                                           #8f8f8f;

// Lato defined action
$lato:                                                 'Lato', sans-serif;

// Cart / Checkout Colors
$checkout-blue:                                                  #005a97;
$checkout-dark-blue:                                             #01375F;
$checkout-accent-color:                                          $checkout-blue;
$checkout-button-color:                                          $checkout-blue;
$checkout-button-color-active:                                   $checkout-dark-blue;
$checkout-promo-color:                                           #2f79c2;

// Cart / Checkout Button Customization
$cart-checkout-button__background-color:                         $checkout-button-color;
$cart-checkout-button__background-hover:                         $checkout-button-color;
$cart-checkout-button__active__color:                            $checkout-button-color;
$cart-checkout-button__background-active:                        $checkout-button-color-active;


//  Iframe Vars
$iframe-cart-icon:                                              $drupal-roundup-gray;