.recurly-main-section > .entry-edit-head {
	background: url("images/recurly-logo.png") no-repeat scroll 0 50% / 18rem auto;
	padding: 1rem 0 1rem 20rem;
}

.recurly-main-section .button-container {
	float: right;
}