<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <smg>
         <subscription>
            <expired_days>14</expired_days>
         </subscription>
        </smg>
        <payment>
            <recurly>
                <active>1</active>
                <title>Recurly</title>
                <order_status>pending_payment</order_status>
                <payment_action>true</payment_action>
                <model>SMG\SubscriptionApi\Model\RecurlyPayment</model>
                <group>offline</group>
            </recurly>
        </payment>
    </default>
</config>