<!-- ko if: quiz.complete() -->
<div class="sp-quiz__content sp-flex-auto sp-py-12">
    <div class="sp-container sp-h-full sp-flex sp-flex-column sp-justify-center sp-text-center">
        <div class="sp-mb-6 sp-text-center">
            <img src="https://test_magento_image_repo.storage.googleapis.com/clipboard.png" alt="Clipboard">
        </div>
        <h1 class="sp-h1 sp-mt-0 sp-mb-6">Hang Tight</h1>
        <h2 class="sp-h2--long sp-mt-0 lg:sp-mb-24">Creating your custom lawn plan.</h2>
    </div>
</div>
<!-- /ko -->
