/* Widget Start - Location - App / design / frontend / Scottsbase / default / SMG_ProdcutCalloutVideo / styles */
body {
    .product-callout-video-widget.product-info-container {
        .product-info.text-left {
            text-align: left;
            font-size: 20px;
            span.productvideotxt {
                font-size: 16px;
                border-bottom: 2px solid;
                padding-bottom: 5px;
                font-weight: 700;
            }
        }
        .product-info.text-right {
            text-align: right;
            font-size: 20px;
            span.productvideotxt {
                font-size: 16px;
                border-bottom: 2px solid;
                padding-bottom: 5px;
                font-weight: 700;
            }
        }
        .video-overlay {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 8;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, .9);
            visibility: hidden;
            opacity: 0;
            transition: .2s visibility linear, .2s opacity linear;
        }
        .video-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            width: 100%;
            max-width: 1000px;
            transform: translate(-50%, -50%);
            z-index: 9;
            .video-frame {
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
                padding-top: 25px;
                height: 0;
            }
            .video-frame iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

body {
  .product-callout-video-widget.product-info-container {
      .product-info {
          .video {
              .watch-video {
                  i {
                      height: 36px;
                      width: 36px;
                      line-height: 36px;
                      color: #ffffff;
                      font-size: 15px;
                      background: #000000;
                      border-radius: 50%;
                      text-align: center;
                      display: inline-block;
                      margin-right: 1%;
                      padding: 10px;
                  }
                  span {
                      display: inline-block;
                      color: #ffffff;
                      font-size: 16px;
                      font-family: "Hellix-Heavy";
                      letter-spacing: 0.5px;
                      border-bottom: 2px solid #000000;
                      padding-bottom: 3px;
                      position: relative;
                      top: -3px;
                  }
                  span.embed-code {
                      display: none !important;
                  }
              }
              .icon-play:before {
                  content: "\e901";
              }
          }
      }
  }
}

/* Styling relating to the Product Callout Video Widget */
body.video-open {
    .product-callout-video-widget.product-info-container {
        .video-overlay {
            visibility: visible;
            opacity: 1;
        }
        .video-container {
            display: block;
        }
    }
}
