<li id="shipping" class="checkout-shipping-address" data-bind="fadeVisible: visible()">
    <div
        class="sp-checkout-title sp-h4 sp-uppercase"
        translate="'Shipping Address'"
        data-role="title"
    ></div>
    <div id="checkout-step-shipping"
         class="step-content"
         data-role="content">

        <each if="!quoteIsVirtual" args="getRegion('customer-email')" render=""></each>

        <each args="getRegion('before-form')" render=""></each>

        <!-- Inline address form -->
        <render args="shippingFormTemplate" />
    </div>
</li>

<!--Shipping method template-->
<li id="opc-shipping_method"
    class="checkout-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    role="presentation">
    <div class="checkout-shipping-method">
        <each args="getRegion('before-shipping-method-form')" render=""></each>

        <div id="checkout-step-shipping_method"
             class="step-content"
             data-role="content"
             role="tabpanel"
             aria-hidden="false">
            <form id="co-shipping-method-form"
                  class="form methods-shipping"
                  if="rates().length"
                  submit="setShippingInformation"
                  novalidate="novalidate">

                <div id="onepage-checkout-shipping-method-additional-load">
                    <each args="getRegion('shippingAdditional')" render=""></each>
                </div>
                <div role="alert"
                     if="errorValidationMessage().length"
                     class="message notice">
                    <span text="errorValidationMessage()"></span>
                </div>
                <div class="actions-toolbar" id="shipping-method-buttons-container">
                    <button data-role="opc-continue" type="submit" class="sp-button sp-button--primary">
                        <span translate="'Continue to Review and Payment'"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</li>
