<div class="payment-method _active">
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <div class="sp-checkout-title sp-h4 sp-uppercase">Billing Address</div>
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <!-- Recurly form -->
        <div class="">
            <div class="sp-checkout-title sp-h4 sp-uppercase">Payment Method</div>
            <form class="recurly-form">
                <input type="hidden" data-recurly="first_name">
                <input type="hidden" data-recurly="last_name">
                <input type="hidden" data-recurly="address1">
                <input type="hidden" data-recurly="address2">
                <input type="hidden" data-recurly="city">
                <input type="hidden" data-recurly="country">
                <input type="hidden" data-recurly="postal_code">
                <input type="hidden" data-recurly="state">
                <div class="sp-flex sp-flex-wrap sp--mx-2">
                    <div
                        data-recurly="card"
                        class="sp-form-group sp-px-2 sp-w-full"
                        data-bind="afterRender: initializeRecurly"
                    >
                    </div>
                    <p class="sp-form-error recurly-form-error"></p>
                </div>

                <div class="form-group sp-px-2 sp-w-full">
                    <label class="sp-flex">
                        <input
                            class="sp-checkbox sp-mr-2"
                            name="rsco_accept"
                            aria-required="true"
                            type="checkbox"
                            value="true"
                            data-bind="checked: rscoChecked"
                        >
                        <span
                            class="sp-p2 sp-text-green-1"
                            data-bind="if: subscriptionType() === 'annual'"
                        >
                            By checking this box you confirm that your subscription will
                            automatically renew on an annual basis and you will continue to receive
                            new shipments as outlined in your Scotts Program Lawn Plan unless you tell us to stop
                            and your credit card on file will be automatically charged for your entire plan as outlined
                            in your account on the date of renewal. You will be notified by email at the address
                            provided between 30-60 days days prior to each charge. You may cancel your subscription at
                            any time through our website <a class="sp-p2" href="https://program.scotts.com">program.scotts.com</a>.
                            To avoid the next charge you must cancel your subscription by the date indicated in the
                            notice.
                        </span>
                        <span
                            class="sp-p2 sp-text-green-1"
                            data-bind="if: subscriptionType() === 'seasonal'"
                        >
                            By checking this box you confirm that your subscription will automatically renew and you
                            will continue to receive new shipments as outlined in your Scotts Program Lawn Plan unless
                            you tell us to stop and your credit card on file will be automatically charged the
                            applicable shipment cost as outlined in your account. You will be notified by email at
                            the address provided 7 days prior to each charge. You may cancel your subscription at any
                            time through our website
                            <a target="_blank" class="sp-p2" href="https://program.scotts.com">program.scotts.com</a>.
                            To avoid the next charge you must cancel your
                            subscription by the date indicated in the notice.
                        </span>
                    </label>
                </div>

                <input type="hidden" name="recurly-token" data-recurly="token">
                <button style="display: none;">Submit</button>
            </form>
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="sp-mt-6 sp-text-center md:sp-text-left">
            <button
                class="primary checkout sp-button sp-button--primary sp-button--get-started"
                data-bind="
                    click: myPlaceOrder,
                    attr: {
                        title: $t('Place Order'),
                        disabled: checkoutButtonDisabled
                    },
                    css: {
                        'sp-button--inactive': checkoutButtonDisabled,
                        'sp-button--inactive sp-button--loading': orderProcessing()
                    }
                    "
                type="submit"
            >
                <span data-bind="i18n: 'Place Order'"></span>
            </button>
        </div>
    </div>
</div>

<div id="zip-popup-modal" class="content sp-hide">
    <p class="sp-p1 sp-text-center">
        The products in your plan are based on the ZIP code provided previously. To change your ZIP code for shipping, you will need to create a new plan to ensure the products are suitable for your area.
    </p>
    <p class="sp-p1 sp-text-center"><strong>
        For questions, email us at scotts-orders@scotts.com or call us at <a href="tel:18772203091">1-877-220-3091</a>.</strong>
    </p>
</div>

<div id="error-modal" class="content sp-hide">
    <p class="sp-p1">
        We’re sorry, but your order could not be completed at this time. You
        have not been charged. Please try to place your order again.
    </p>
    <p class="sp-p1">
        If you are still encountering problems, our consumer services team is
        available to help. Please contact us at
        <a href="mailto:scotts-orders@scotts.com">scotts-orders@scotts.com</a>
        or call us at
        <a href="tel:+18772203091">1-877-220-3091</a>.
    </p>
</div>


<div id="submitting-modal" class="content sp-hide">
    <ul class="sp-p1">
        <li>
            Please do not close this window or click the back button on your browser
        </li>
        <li>
            This could take around 30 seconds
        </li>
        <li>
            The page will refresh when your order is complete
        </li>
    </ul>

    <p class="sp-h4 sp-mb-6 sp-font-bold sp-text-center">
      Have a problem or question?<br />
      Email us at scotts-orders@scotts.com or<br />
      call us at 1-877-220-3091.
    </p>
  </div>
