<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_creditmemo_save_after">
		<observer instance="Creditvantiv\Payment\Observer\Backend\Sales\OrderCreditmemoSaveAfter" name="creditvantiv_payment_observer_backend_sales_ordercreditmemosaveafter"/>
	</event>
</config>
