<div
    class="sp-quiz__progress lg:sp-hide sp-bg-white sp-text-black sp-text-right"
    data-bind="if: quiz.currentGroup()"
>
    <!-- ko template: "SMG_RecommendationQuiz/progress-bar" --><!-- /ko -->
</div>

<div
    class="sp-quiz__footer sp-quiz__progress-buttons sp-bg-white sp-text-black sp-text-right"
    data-bind="if: quiz.currentGroup()"
>
    <div class="sp-container sp-flex sp-items-center sp-justify-between sp-py-4 lg:sp-py-0">
        <!-- Previous button -->
        <div class="lg:sp-w-1/8">
            <button
                class="sp-quiz__previous sp-label sp-text-green-1"
                type="button"
                data-bind="visible: quiz.previousGroups().length, click: previousQuestionGroup"
            >
                Previous
            </button>
        </div>

        <div
            class="sp-quiz__progress sp-hide lg:sp-block sp-bg-white sp-text-black sp-text-right"
            data-bind="if: quiz.currentGroup()"
        >
            <!-- ko template: "SMG_RecommendationQuiz/progress-bar" --><!-- /ko -->
        </div>

        <!-- Next button -->
        <div class="lg:sp-w-1/8">
            <button
                class="sp-quiz__next sp-button sp-button--primary"
                type="button"
                data-bind="
                    click: validateResponse,
                    attr: { disabled: !quiz.isCurrentGroupValid() || quiz.isAnimating() },
                    css: { 'sp-button--disabled': !quiz.isCurrentGroupValid() || quiz.isAnimating() }
                "
                data-qa="NextButton"
            >
                Next
            </button>
        </div>
    </div>
</div>
