<!-- Progress bar -->
<div class="sp-flex sp-quiz__progress-container sp-mx-auto sp-py-4 sp-shadow lg:sp-w-3/4 sp-w-full">
    <ul
        class="sp-quiz__progress-list sp-mx-auto lg:sp-w-3/4 sp-w-full"
        data-bind="foreach: { data: quiz.progressBarCategories, noChildContext: true } "
    >
        <li
            data-bind="css: { progressBarSelected: $parent.quiz.previousGroups().length === $index(), progressBarVisited: $parent.quiz.previousGroups().length > $index(), progressBarEnd: $parent.quiz.previousGroups().length > $index() && $index() === 4 }"
            class="sp-quiz__progress-item"
        >
            <!-- Progress label -->
            <span
                class="sp-quiz__progress-item-label sp-label"
                data-bind="text: label"
            ></span>
            <span class="sp-quiz__progress-item-dot"></span>
        </li>
    </ul>
</div>
