<!-- ko if: isDisplayed() -->
<div
    class="sp-p2 sp-font-bold sp-mb-2"
    data-bind="text: subscriptionData().subscription_type === 'annual' ? 'Total Today:' : 'First Shipment'"
>
</div>
sadfasdf
<div
        class="sp-p2 sp-font-bold sp-mb-2"
        data-bind="text: result"
>


</div>
<table class="data table table-totals sp-table-totals">
    <caption class="table-caption" data-bind="i18n: 'Order Summary'"></caption>
    <tbody>
    <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
    </tbody>
</table>
<!-- /ko -->
