<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="subscriptions" translate="label" sortOrder="400">
            <label>Subscriptions</label>
        </tab>
        <section id="recurly" translate="label" type="text" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Recurly</label>
            <tab>subscriptions</tab>
            <resource>SMG_Subscriptions::recurly</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Recurly</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="apikey" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <comment>e.g 012345678901234567890123456789ab</comment>
                    <validate>required-entry validate-no-html-tags</validate>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="subdomain" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subdomain</label>
                    <comment>e.g your-subdomain (https://[your-subdomain].recurly.com)</comment>
                    <validate>required-entry validate-no-html-tags</validate>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
