<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="recurly_payment" sortOrder="7" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Recurly</label>
                <comment><![CDATA[The subscription management platform delivering unrivaled results to smart brands worldwide.]]></comment>
                <fieldset_css>complex recurly-main-section with-button</fieldset_css>
                <frontend_model>SMG\Subscriptions\Block\Adminhtml\System\Config\Fieldset\Section</frontend_model>
                <attribute type="displayIn">recommended_solutions</attribute>
                <group id="recurly_payment_settings" sortOrder="10" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Recurly Settings</label>
                    <field id="apikey" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Key</label>
                        <comment>e.g 012345678901234567890123456789ab</comment>
                        <validate>required-entry validate-no-html-tags</validate>
                        <config_path>vrecurly/payment/apikey</config_path>
                    </field>
                    <field id="subdomain" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Subdomain</label>
                        <validate>required-entry validate-no-html-tags</validate>
                        <config_path>recurly/payment/subdomain</config_path>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
