// Overrides Cart.scss for Drupal Scotts

.iframes-cart-index .nav__cart .nav__cart--wrapper {
    .nav__cart--icon {
        &:before {
            line-height: 18px;
            color: $drupalRoundup-gray;
        }
    }
    .nav__cart--label {
        color: $drupalRoundup-gray;
        .count {
            margin: 0;
        }
    }
}
