// Magento UI Variables //
$primary__color:                                                #ED1B2B; // red
$secondary__color:                                              $color-black;

//  Ortho Var Overrides
//  ---------------------------------------------

// Iframes //
$iframe-addtocart-btn-border:                                   2px solid $primary__color;
$iframe-addtocart-btn-border-radius:                            15px 0;
$iframe-addtocart-btn-color:                                    $color_white;
$iframe-addtocart-btn-color-hover:                              $primary__color;
$iframe-addtocart-btn-background:                               $primary__color;
$iframe-addtocart-btn-background-hover:                         $color-white;

$iframe-cart-checkout-now-txt:                                  $primary__color;

$iframe-cart-icon-size:                                         '37px';

$iframe-cart-icon-lineheight:                                   '25px';

// iFrame Colors 
$drupal-scotts-gray:                                            #646569;


// Cart / Checkout Colors
$checkout-red:                                                  #ca0b0b;
$checkout-dark-red:                                             #7E0101;
$checkout-accent-color:                                         $color-black;
$checkout-button-color:                                         $checkout-red;
$checkout-button-color-active:                                  $checkout-dark-red;
$checkout-promo-color:                                          $color-black;

// Cart / Checkout Button Customization
$cart-checkout-button__background-color:                        $checkout-button-color;
$cart-checkout-button__background-hover:                        $checkout-button-color;
$cart-checkout-button__active__color:                           $checkout-button-color;
$cart-checkout-button__background-active:                       $checkout-button-color-active;


//  Iframe Vars
$iframe-cart-icon:                                              $drupal-scotts-gray;