// Drupal Mixins

// Fonts //
@mixin font-iframe($size: false, $color: false, $weight: false, $lh: false, $ls: false) {
  font-family: $lato;
  @if $size { font-size: $size; }
  @if $color { color: $color; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
  @if $ls { letter-spacing: $ls; }
}

//  Iframe 'Add to Cart' Button //
@mixin lib-button-iframe-addtocart(
  $_button-border-radius: $iframe-addtocart-btn-border-radius
) {
  @include lib-button(
          $_button-border:              $iframe-addtocart-btn-border,
          $_button-border-hover:        $iframe-addtocart-btn-border,
          $_button-color:               $iframe-addtocart-btn-color,
          $_button-color-hover:         $iframe-addtocart-btn-color-hover,
          $_button-background:          $iframe-addtocart-btn-background,
          $_button-background-hover:    $iframe-addtocart-btn-background-hover,
          $_button-font-size:           1.6rem,
          $_button-font-weight:         400,
          $_button-font-family:         $lato,
          $_button-padding:             17px 15px,
          $_button-line-height:         0,
          $_button-color-active:        $iframe-addtocart-btn-color,
          $_button-background-active:   $iframe-addtocart-btn-background
  );
  border-radius: $_button-border-radius;
  width: 100%;
}
