//  Iframe Vars
//  ---------------------------------------------
$iframe-addtocart-btn-border: none;
$iframe-addtocart-btn-border-radius: 0;
$iframe-addtocart-btn-color: $color_white;
$iframe-addtocart-btn-color-hover: $color_white;
$iframe-addtocart-btn-background: $primary__color;
$iframe-addtocart-btn-background-hover: $secondary__color;

$iframe-cart-checkout-now-txt: $primary__color;

// Lato defined
$lato: 'Lato', sans-serif;