<!-- ko if: quiz && quiz.currentGroup() && quiz.currentGroup().questions[0].questionType === 2 -->
<div class="sp-quiz__question sp-container sp-mb-8">

    <!-- Showing banner image if it exists -->
    <div class="sp-quiz__banner sp-max-w-lg sp-mx-auto sp-text-center" data-bind="if: quiz.currentGroup().imageUrl">
        <img alt="Quiz Banner" data-bind="attr:{src: quiz.currentGroup().imageUrl}"/>
    </div>

    <h2
        class="sp-quiz__question-title sp-h2 sp-max-w-lg sp-mt-0 sp-mx-auto sp-text-center roll"
        data-bind="text: quiz.currentGroup().title"
    >
    </h2>

    <p class="sp-max-w-lg sp-mx-auto sp-text-center" data-bind="text: quiz.currentGroup().subtitle"></p>

    <!-- Process Questions -->
    <div>

        <div
            class="sp-mx-auto lg:sp-w-3/4 sp-w-full"
            data-bind="foreach: { data: quiz.currentGroup().questions, as: 'question', noChildContext: true }"
        >
            <div>

                <div
                    class="sp-quiz__options sp-flex sp-flex-wrap sp-justify-center sp--mx-1"
                    data-bind="foreach: { data: question.options, as: 'option', noChildContext: true }"
                >

                    <div
                        class="sp-quiz-option sp-w-full lg:sp-w-1/2 sp-text-center sp-p-1"
                    >
                        <input
                            class="sp-quiz-option__input sp-quiz-checkbox sp-hidden poop"
                            data-bind="
                                attr: {
                                    checked: $data.quiz.isOptionSelected(question.id, option.id),
                                    'data-label': option.label,
                                    id: option.id,
                                    name: question.id,
                                    value: option.id
                                },
                                event: { change: $data.quiz.setAnswer }
                            "
                            type="checkbox"
                        />

                        <label
                            class="sp-quiz__option-label sp-block sp-h-full"
                            data-bind="attr: { for: option.id, 'data-qa': 'QuizButton' + $data.quiz.currentGroup().label + '-' + ($index()+1) }"
                        >
                            <span class="sp-quiz__option-content sp-bg-white sp-flex sp-items-center sp-justify-center sp-p-4 sp-rounded sp-shadow-md">
                                <span class="sp-block sp-mb-0 sp-text-black" data-bind="text: option.label"></span>
                            </span>
                        </label>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>

<!-- /ko -->
