<!-- ko if: quiz && quiz.currentGroup() && quiz.currentGroup().questions[0].questionType === 3 -->
<div
    class="sp-quiz__question sp-container sp-quiz__slider-box sp-mb-8"
>
    <!-- Showing banner image if it exists -->
    <div
        class="sp-quiz__banner sp-max-w-lg sp-mx-auto sp-text-center"
        data-bind="visible: quiz.currentGroup().imageUrl"
    >
        <img data-bind="attr:{src: quiz.currentGroup().imageUrl}" alt="Quiz Banner"/>
    </div>

    <h2
        class="sp-quiz__question-title sp-h2 sp-max-w-lg sp-mt-0 sp-mx-auto sp-text-center"
        data-bind="text: quiz.currentGroup().title"
    >
    </h2>

    <p class="sp-max-w-lg sp-mx-auto sp-text-center" data-bind="text: quiz.currentGroup().subtitle"></p>

    <!-- Process Questions -->
    <div class="sp-quiz__slider-box sp-bg-white sp-mx-auto sp-shadow-md sp-rounded sp-text-center sp-p-8 sp-pt-4 sp-wrapper md:sp-w-1/2">

        <div
            id="sliderImage"
            class="sp-quiz__slider-images"
        >
            <img
                alt="Grass Color"
                class="sp-quiz__slider-image"
                data-bind="attr: { src: quiz.sliderImages()[quiz.currentGroup().questions[1].id] }"
            />
            <img
                alt="Grass Thickness"
                class="sp-quiz__slider-image"
                data-bind="attr: { src: quiz.sliderImages()[quiz.currentGroup().questions[0].id] }"
            />
            <img
                alt="Grass Weeds"
                class="sp-quiz__slider-image"
                data-bind="attr: { src: quiz.sliderImages()[quiz.currentGroup().questions[2].id] }"
            />
        </div>

        <div
            class="sp-mx-auto sp-w-full"
            data-bind="foreach: { data: quiz.currentGroup().questions, as: 'question', noChildContext: true }"
        >

            <div
                class="sliderContainer"
                data-bind="attr: { id: 'slider_' + question.label }"
            >
                <div
                    class="sp-quiz__options sp-quiz__silder-labels sp-flex sp-flex-wrap sp-justify-center sp--mx-1 sp-mb-1 sp-px-2"
                    data-bind="foreach: { data: question.options, as: 'option', noChildContext: true }"
                >
                        <span
                            class="sp-quiz__slider-label sp-p2 sp-text-green-1 sp-font-bold"
                            data-bind="
                                attr: { 'data-optid': option.value },
                                text: option.label,
                                visible: +$parents[1].quiz.getQuestionAnswer(question.id) === ($index() + 1)
                            "
                        >
                        </span>
                </div>

                <div
                    class="sp-slider-container sp-relative sp-rounded sp-flex sp-items-center"
                >
                    <ul class="sp-slider-hashes sp-absolute sp-flex sp-justify-between">
                        <li class="sp-hash"></li>
                        <li class="sp-hash"></li>
                        <li class="sp-hash"></li>
                        <li class="sp-hash"></li>
                        <li class="sp-hash"></li>
                    </ul>

                    <input
                        class="sp-slider sp-flex-auto sp-relative"
                        min="1"
                        step="1"
                        type="range"
                        value="3"
                        data-bind="
                                attr: {
                                   'data-sliderid': $index(),
                                    max : question.options.length,
                                    name: question.id,
                                    value: $parents[0].quiz.getQuestionAnswer(question.id) || 3
                                },
                                event: {
                                    input: function (data, event) {
                                        $parents[0].updateSlider(data, event);
                                        $parents[0].quiz.setAnswer(data, event);
                                    }
                                },
                                afterRender: $parents[0].initializeSlider
                            "
                    />
                    <div class="sp-slider-progress"></div>
                </div>

                <!-- Hash marks for the datalist are only supported in Chrome -->
                <!--
                <datalist
                    data-bind="attr: { id: 'sideticks_' + question.label }, foreach: { data: question.options, as: 'option', noChildContext: true }"
                >
                    <option data-bind="attr: { value: option.value - 1 }"></option>
                </datalist>
                -->

                <div data-bind="foreach: { data: question.options, as: 'option', noChildContext: true }">
                    <div data-bind="attr: { for: option.id }">
                        <div data-bind="if: option.value === '1'">
                            <label id="slider_label_left" data-bind="text: option.label"> </label>
                        </div>
                    </div>
                    <div data-bind="attr: { for: option.id }">
                        <div data-bind="if: option.value === '5'">
                            <label id="slider_label_right" data-bind="text: option.label"> </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->



    
