<!-- ko if: quiz.questions()[0] && quiz.questions()[0].questionType == 5 && quiz.usingGoogleMaps -->
<div class="sp-quiz__question sp-container md:sp-mb-4 sp-overflow-hidden">
    <!-- Process Questions -->
    <div class="sp-h-full sp-mx-auto lg:sp-w-5/6">
        <div class="sp-flex sp-flex-column md:sp-flex-row sp-h-full sp--mx-6">
            <div class="sp-w-full lg:sp-w-2/5 sp-px-6 md:sp-p-6 sp-text-center md:sp-text-left">
                <div class="md:sp-block" data-bind="css: { 'sp-hide': quiz.map() && quiz.map().address() }">
                    <h2
                        class="sp-quiz__question-title sp-h2 sp-max-w-lg sp-mt-0 sp-mx-auto"
                        data-bind="text: quiz.currentGroup().title"
                    >
                    </h2>

                    <p
                        class="sp-text-left sp-mb-4"
                        data-bind="text: quiz.currentGroup().subtitle"
                    ></p>
                </div>

                <div
                    class="sp-quiz-map--step-1 md:sp-mb-8 sp-p-6 md:sp-p-8 sp-rounded sp-shadow-md sp-text-black sp-text-left"
                    data-bind="css: {
                        'sp-bg-green-4': !quiz.map() || !quiz.map().address(),
                        'sp-bg-white': quiz.map() && quiz.map().address()
                    }"
                >
                    <label
                        class="sp-block sp-p1 sp-mb-4"
                        for="address-autocomplete"
                    >
                        1. Where is your lawn?
                    </label>
                    <div
                        class="sp-form-group sp-mb-0"
                        data-bind="visible: quiz.map() && !quiz.map().address()"
                    >
                        <input
                            id="address-autocomplete"
                            class="sp-input sp-w-full"
                            type="text"
                            placeholder="Address"
                        />
                        <label class="sp-form-label" for="address-autocomplete">Address</label>
                    </div>
                    <div
                        class="sp-p2 sp-flex sp-items-center sp-justify-between sp-font-bold"
                        data-bind="visible: quiz.map() && quiz.map().address()"
                    >
                        <span
                            data-bind="text: quiz.map() && quiz.map().address()"
                        >
                        </span>
                        <button class="sp-link sp-ml-2" data-bind="click: quiz.map() && quiz.map().clearAddress" type="button">Change</button>
                    </div>
                    <!-- ko if: quiz.invalidZipCode() -->
                    <div class="sp-form-error">Scotts Program is available in the continental US only</div>
                    <!-- /ko -->
                </div>

                <div class="sp-quiz-map--step-2 sp-hide md:sp-block sp-bg-white sp-mb-8 sp-p-8 sp-rounded sp-shadow-md sp-text-black">
                    <p
                        class="sp-p1"
                        data-bind="css: {
                            'sp-mb-0': !quiz.map() || !quiz.map().address(),
                            'sp-mb-4': quiz.map() && quiz.map().address()
                        }"
                    >
                        2. Outline your lawn.
                    </p>
                    <p
                        class="sp-p2 sp-mb-0"
                        data-bind="visible: quiz.map() && quiz.map().address()"
                    >
                        No need to be too precise--we're just looking for an
                        approximate size.
                    </p>
                    <p
                        class="sp-p2 sp-font-bold sp-mb-0 sp-mt-4"
                        data-bind="visible: quiz.map() && quiz.map().lawnSize(), text: quiz.map() && ('Total Lawn Size: ' + quiz.formatNumber(quiz.map().lawnSize()) + ' SQFT')"
                    >
                    </p>
                </div>

                <!-- Link to manual lawn square footage are input screen -->
                <button
                    class="sp-quiz__manual-entry sp-mt-12"
                    data-bind="
                        click: quiz.toggleGoogleMaps,
                        css: {
                            'sp-hide lg:sp-block': quiz.map() && quiz.map().address()
                        },
                        text: quiz.currentGroup().displayMainPageCTA
                    "
                ></button>
            </div>

            <div
                class="sp-flex-auto md:sp-flex-none sp-w-full sp-h-full md:sp-block md:sp-w-3/5 sp-px-6 md:sp-p-6"
                data-bind="css: { 'sp-hide': !quiz.map() || !quiz.map().address() }"
            >
                <div class="sp-quiz-map sp-relative sp-aspect-ratio md:sp-aspect-ratio--4x3">
                    <img class="sp-quiz-map__info" src="https://test_magento_image_repo.storage.googleapis.com/mapHelperIcon.svg" alt="Calculate Lawn Size" data-bind="click: quiz.map() && quiz.map().toggleInfo">
                    <div id="map" class="sp-quiz-map__placeholder sp-aspect-ratio--object"></div>

                    <!-- ko if: quiz.map() -->
                    <button
                        class="sp-quiz-map__undo sp-button sp-button--inverted sp-shadow-md"
                        type="button"
                        data-bind="click: quiz.map() && quiz.map().undo"
                    >
                        Clear
                    </button>
                    <!-- /ko -->

                    <div
                        class="sp-quiz-map__helper sp-bg-white sp-flex sp-flex-column sp-items-center sp-justify-center sp-p-6 sp-rounded sp-text-black"
                        data-bind="visible: quiz.map() && quiz.map().showInstructions()"
                    >
                        <div class="sp-quiz__question-mark-icon sp-mb-2 md:sp-mb-4 sp-text-center">
                            <img src="https://test_magento_image_repo.storage.googleapis.com/mapHelperIcon.svg" alt="Calculate Lawn Size">
                        </div>

                        <h5 class="sp-h4--long sp-mt-0 sp-mb-2 md:sp-mb-4 sp-text-center sp-uppercase">
                            "Tap Tap Taparoo"<br/>
                        </h5>

                        <ul class="sp-mb-2 md:sp-mb-4">
                            <li class="sp-p2 sp-mb-0">TAP a corner of your lawn</li>
                            <li class="sp-p2 sp-mb-0">Continue tapping points at the corners of your lawn</li>
                            <li class="sp-p2 sp-mb-0">You can make multiple shapes for different parts of your lawn</li>
                        </ul>

                        <img src="https://test_magento_image_repo.storage.googleapis.com/LawnSizeCalc_InstructionOverlayAnimation_01242020.gif" class="sp-quiz__question-draw-image sp-mb-2 md:sp-mb-4" alt="Draw Lawn Area">

                        <div class="sp-text-center">
                            <button
                                class="sp-button sp-button--primary"
                                type="button"
                                disabled="disabled"
                                data-bind="click: quiz.map() && quiz.map().hideInstructions,
                                attr: { disabled: quiz.map() && quiz.map().mapInstructionsDisabled() }"
                            >
                                Start
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="sp-w-full md:sp-hide sp-px-6"
                data-bind="css: { 'sp-hide': !quiz.map() || !quiz.map().address() }"
            >
                <div
                    class="sp-quiz-map--step-2 sp-bg-green-4 sp-p-6 sp-rounded sp-shadow-md sp-text-black sp-text-center"
                >
                    <p
                        class="sp-p1"
                        data-bind="css: {
                            'sp-mb-0': !quiz.map() || !quiz.map().lawnSize(),
                            'sp-mb-2': quiz.map() && quiz.map().lawnSize()
                        }"
                    >
                        2. Outline your lawn.
                    </p>
                    <p
                        class="sp-p2 sp-font-bold sp-mb-0"
                        data-bind="visible: quiz.map() && quiz.map().lawnSize(), text: quiz.map() && ('Total Lawn Size: ' + quiz.map().lawnSize() + ' SQFT')"
                    >
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
