<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Block\Adminhtml\Order\Create\Items\Grid" type="SMG\OrderReason\Block\Adminhtml\Order\Create\Items\Grid"/>
    <type name="Magento\Sales\Api\Data\OrderInterface">
      <plugin name="SMG_OrderReason_Plugin_OrderInterface" type="SMG\OrderReason\Plugin\Api\Data\OrderInterface" sortOrder="1"/>
    </type>
</config>
