/* Landing Page Options Widget Styling */
.landingPageOptions-container {
    .hero__wrapper {
        text-align: center;
        section.section__hero {
            /*background-position: left -25px top 50%;*/
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            position: relative;
            width: 100%;
            max-width: 1425px;
            @media only screen and (max-width: 1130px) {
                height: 300px;
                background-position: center;
            }
            @media only screen and (max-width: 480px) {
                height: 225px;
          }
        }
        .section__hero--wrapper {
            .section__hero--purchase {
                display: inline-block;
                position: relative;
                background-color: #ffffff;
                float: right;
                margin-right: 1%;
                margin-top: 2%;
                margin-bottom: 2%;
                padding: 2%;
                border-radius: 0.25rem;
                max-width: 400px;
                text-align: left;
                @media only screen and (max-width: 1130px) {
                    display: block;
                    float: inherit;
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 250px;
                    width: 85%;
                    text-align: center;
                    max-width: 1000px;
                }
                @media only screen and (max-width: 480px) {
                    width: 90%;
                    margin-top: 180px;
                }
                .section__hero--text {
                    h1 {
                        color: #ed9016;
                    }
                    h2 {
                        margin-top: 1.0rem;
                        margin-bottom: 1.0rem;
                    }
                }
            }
        }
        .section__hero--select {
            h4 {
                margin-bottom: 0.75rem;
            }
            .section__hero--option {
                form {
                    margin-bottom: 1.5rem;
                    button {
                        span {
                            float: right;
                        }
                    }
                    small.section__hero--linkinfo {
                        display: inline-block;
                    }
                }
            }
        }
        .widget-static-block {
            .section__hero--promo {
                img {
                    height: 25px;
                    float: left;
                }
                p {
                    margin-left: 2%;
                    margin-bottom: 2%;
                    display: inline-block;
                    position: relative;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-family: 'Roboto Condensed';
                    font-size: 1.0rem;
                    color: #075534;
                }
                small {
                    display: inline-block;
                    position: relative;
                  width: 100%;
                }
            }
        }
    }
    .howItWorks__wrapper {
        text-align: center;
        margin-top: 90px;
        .section__steps--item {
            display: inline-block;
            position: relative;
            .widget-static-block {
                p {
                    font-weight: 100;
                    font-size: 0.85rem;
                    width: 80%;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    .tabSection__wrapper {
        section.section__tabs {
            .section__tabs--wrapper {
                .section__tabs--tabnav {
                    text-align: center;
                    margin-top:100px;
                    label.tabnav-label {
                        display: inline-block;
                        position: relative;
                        background-color: #fafafa;
                        border: 1px solid #ededee;
                        border-radius: 0.25rem;
                        font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
                        color: #515356;
                        font-size: 0.65rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        padding: 10px 35px;
                        cursor: pointer;
                    }
                    label.tabnav-label.active {
                        background-color: #075534;
                        box-shadow: 0 0 5px 0 rgba(182, 92, 0, 0.18);
                        color: #fff;
                        font-weight: 400;
                    }
                    label.tabnav-label.hover {
                        background-color: #075534;
                        box-shadow: 0 0 5px 0 rgba(182, 92, 0, 0.18);
                        color: #fff;
                        font-weight: 400;
                    }
                }
                .section__tabs--tabcontainer {
                    margin-top: 100px;
                    .section__tabs--tabtrack {
                        input.tabs__radio {
                            display: none;
                            opacity: 0;
                            visibility: hidden;
                        }
                        .tabpanel {
                            display: none;
                            .tabpanel__wrapper {
                                display: inline-block;
                                position: relative;
                                .tabpanel__image {
                                    display: inline-block;
                                    position: absolute;
                                    bottom: 0;
                                    float: left;
                                    @media only screen and (max-width: 1130px) {
                                        position: relative;
                                    }
                                    span {
                                      display: inherit;
                                      position: relative;
                                      text-align: center;
                                          img {
                                              display: inline-block;
                                              position: relative;
                                              max-width: 250px;
                                              vertical-align: bottom;
                                          }
                                    }
                                }
                                .tabpanel__text {
                                    display: inline-block;
                                    position: relative;
                                    float: right;
                                    .turfbuilder--headline {
                                        margin: 0;
                                    }
                                    p {
                                        font-weight: 100;
                                        font-size: 0.85rem;
                                    }
                                    ul {
                                        font-weight: 100;
                                        font-size: 0.85rem;
                                    }
                                }
                            }
                        }
                        .tabpanel.active {
                            display: inline-block;
                            position: relative;
                        }
                    }
                }
                p {
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }
}
