/* Landing Page Options Widget Styling */
.landingPageOptions-container {
    .hero__wrapper {
        text-align: center;
        section.section__hero {
            background-position: left -60px top 50%;;
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            position: relative;
            width: 100%;
            max-width: 1560px;
        }
        .section__hero--wrapper {
            .section__hero--purchase {
                display: inline-block;
                position: relative;
                background-color: #ffffff;
                float: right;
                margin-right: 1%;
                margin-top: 2%;
                margin-bottom: 2%;
                padding: 2%;
                border-radius: 0.25rem;
                max-width: 400px;
                text-align: left;
                .section__hero--text {
                    h1 {
                        font-size: 1rem;
                        font-weight: 700;
                    }
                    h2 {
                        margin-top: 1.0rem;
                        margin-bottom: 1.0rem;
                    }
                }
            }
        }
        .section__hero--select {
            h4 {
                margin-bottom: 0.75rem;
            }
            .section__hero--option {
                form {
                    margin-bottom: 1.5rem;
                    button {
                        color: #ffffff;
                        font-weight: 700;
                        text-transform: uppercase;
                        /*background-color: $primary-color;*/
                        background-color: $color-white;
                        border-radius: 0.313rem;
                        width: 100%;
                        text-align: left;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        span {
                            float: right;
                        }
                    }
                    small.section__hero--linkinfo {
                        display: inline-block;
                    }
                }
            }
        }
        .widget-static-block {
            .section__hero--promo {
                img {
                    height: 25px;
                    float: left;
                }
                p {
                    margin-left: 2%;
                    margin-bottom: 2%;
                    display: inline-block;
                    position: relative;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-family: 'Roboto Condensed';
                    font-size: 1.0rem;
                    color: #075534;
                }
                small {
                    display: inline-block;
                    position: relative;
                }
            }
        }
    }
}