<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_creditmemo_save_before">
        <observer instance="SMG\CreditReason\Observer\Backend\Sales\OrderCreditMemoSaveBefore" name="smg_creditreason_observer_backend_sales_ordercreditmemosavebefore"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer instance="SMG\CreditReason\Observer\Backend\Sales\OrderCreditMemoSaveAfter" name="smg_creditreason_observer_backend_sales_ordercreditmemosaveafter"/>
    </event>
</config>