<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales">
            <group id="creditmemo"
                   translate="label"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1"
                   type="text"
                   sortOrder="100">
                <label>Unit5 Fields</label>
                <field id="test"
                       translate="label comment"
                       type="select"
                       sortOrder="4"
                       showInWebsite="0"
                       showInStore="0"
                       showInDefault="1">
                    <label>Test Field</label>
                    <comment><![CDATA[This is test select field]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
