// Magento UI Variables //
$primary__color:                                               #075534; // dark green
$secondary__color:                                             #138e51; // medium green

//  Scotts Var Overrides
//  ---------------------------------------------

// Iframes //
$iframe-addtocart-btn-border:                                  none;
$iframe-addtocart-btn-border-radius:                           0;
$iframe-addtocart-btn-color:                                   $color_white;
$iframe-addtocart-btn-color-hover:                             $color_white;
$iframe-addtocart-btn-background:                              $primary__color;
$iframe-addtocart-btn-background-hover:                        $secondary__color;

$iframe-cart-checkout-now-txt:                                 $primary__color;


// iFrame Colors 
$drupal-scotts-gray:                                            #646569;


// Cart / Checkout Colors
$checkout-green:                                               #1d5632;
$checkout-light-green:                                         #028c45;
$checkout-dark-green:                                          #012E19;
$checkout-accent-color:                                        $checkout-green;
$checkout-button-color:                                        $checkout-green;
$checkout-button-color-active:                                 $checkout-dark-green;
$checkout-promo-color:                                         #2f79c2;

// Cart / Checkout Button Customization
$cart-checkout-button__background-color:                       $checkout-button-color;
$cart-checkout-button__background-hover:                       $checkout-button-color;
$cart-checkout-button__active__color:                          $checkout-button-color;
$cart-checkout-button__background-active:                      $checkout-button-color-active;


//  Iframe Vars
$iframe-cart-icon:                                              $drupal-scotts-gray;