// Colors
$white: #FFF;
$black: #000;
$primary-green: #075534;
$primary-light-green: #138E51;
$secondary-dark-gray: #2A2A2A;
$secondary-gray: #4D4D4E;
$secondary-light-gray: #959393;
$secondary-lighter-gray: #F3F3F3;
$accent-orange: #FCAF19;

// Fonts
$lato: 'Lato', sans-serif;
$opensans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;
$rokkitt: 'Rokkitt', serif;
