// Mixins


//  ---------------------------------------------
//  General Styling
//  ---------------------------------------------


@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}


@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}


@mixin defaultwrap($center: true) {
  @if $center == false {
    margin: 0;
  }
  @else {
    margin: 0 auto;
  }

  max-width: 90em;
  width: 95%;
}


@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}


@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}


@mixin transition($x...){
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}


//  ---------------------------------------------
//  Typography
//  ---------------------------------------------

@mixin font-lato($size: false, $color: false, $weight: false, $lh: false, $ls: false) {
    font-family: $lato;
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
    @if $ls { letter-spacing: $ls; }
}


@mixin font-open-sans($size: false, $color: false, $weight: false, $lh: false, $ls: false) {
    font-family: $opensans;
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
    @if $ls { letter-spacing: $ls; }
}


@mixin roboto-regular($size: $font-size__base, $color: $color-black, $weight: false, $lh: false, $ls: false) {
  font-family: $font-family__quaternary;
  @if $size { font-size: $size; }
  @if $color { color: $color; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
  @if $ls { letter-spacing: $ls; }
}


//Cart & Checkout - Body Font (Mobile)
@mixin cart-checkout-body-font-mobile($size: $font-size__s, $lh: 18px) {
  @if $size { font-size: $size; }
  @if $lh { line-height: $lh; }
}


//Cart & Checkout - Body Font
@mixin cart-checkout-body-font($size: $font-size__base, $color: $color-black, $weight: false, $lh: 20px, $ls: false) {
  font-family: $font-family__quaternary;
  @if $size { font-size: $size; }
  @if $color { color: $color; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
  @if $ls { letter-spacing: $ls; }
}


//Cart & Checkout - H2 Font (Mobile)
@mixin cart-checkout-h2-font-mobile($size: $font-size__l, $ls: $cart-checkout-h2-letter-spacing-mobile) {
  @if $size { font-size: $size; }
  @if $ls { letter-spacing: $ls; }
}


//Cart & Checkout - H2 Font
@mixin cart-checkout-h2-font($size: $font-size__xl, $color: $color-black, $weight: 700, $ls: $cart-checkout-h2-letter-spacing, $text-transform: uppercase, $padding: $cart-checkout-h2-padding, $border: $cart-checkout-h2-border) {
  font-family: $font-family__quaternary;
  @if $size { font-size: $size; }
  @if $color { color: $color; }
  @if $weight { font-weight: $weight; }
  @if $ls { letter-spacing: $ls; }
  @if $text-transform { text-transform: $text-transform; }
  @if $padding { padding: $padding; }
  @if $border { border-bottom: $border; }
  @include max-screen($screen__m) {
      @include cart-checkout-h2-font-mobile()
  }
}




//  ---------------------------------------------
//  Buttons
//  ---------------------------------------------


//Cart / Checkout - Buttons
@mixin cart-checkout-button-l ($_button-border-radius: $cart-checkout-button__border-radius) {
    @include lib-button(
            $_button-font-family:         $cart-checkout-button__font-family,
            $_button-font-weight:         $cart-checkout-button__font-weight,
            $_button-line-height:         $cart-checkout-button__line-height,
            $_button-background:          $cart-checkout-button__background,
            $_button-background-hover:    $cart-checkout-button__background_hover,
            $_button-color:               $cart-checkout-button__font-color,
            $_button-color-active:        $cart-checkout-button__active__color,
            $_button-font-size:           $cart-checkout-button__font-size__l,
            $_button-padding:             $cart-checkout-button__padding__l
    );
    border-radius: $_button-border-radius;
    width: 100%;
    text-transform: uppercase;
    &:hover {
        @include lib-css(background, $cart-checkout-button__background_hover);
        @include lib-css(color, $cart-checkout-button__font-color);
    }
}


@mixin cart-checkout-button-s ($_button-border-radius: $cart-checkout-button__border-radius) {
  @include lib-button(
          $_button-font-family          : $cart-checkout-button__font-family,
          $_button-font-weight          : $cart-checkout-button__font-weight,
          $_button-line-height          : $cart-checkout-button__line-height,
          $_button-background           : $cart-checkout-button__background,
          $_button-background-hover     : $cart-checkout-button__background_hover,
          $_button-color                : $cart-checkout-button__font-color,
          $_button-color-active         : $cart-checkout-button__active__color,
          $_button-font-size            : $cart-checkout-button__font-size__s,
          $_button-padding              :$cart-checkout-button__padding__s
  );
  border-radius: $_button-border-radius;
  width: 100%;
  text-transform: uppercase;
  &:hover {
    @include lib-css(background, $cart-checkout-button__background_hover);
    @include lib-css(color, $cart-checkout-button__font-color);
  }
}


@mixin cart-checkout-button-disabled (){
    @include lib-button(
        $_button-background           : $checkout-light_grey,
        $_button-color                : $color-black,
        $_button-disabled-opacity     : $cart-checkout-button__disabled__opacity,
        $_button-font-family          : $cart-checkout-button__font-family,
        $_button-font-weight          : $cart-checkout-button-disabled__font-weight,
        $_button-line-height          : $cart-checkout-button__line-height,
        $_button-font-size            : $cart-checkout-button__font-size__l,
        $_button-padding              : $cart-checkout-button__padding__l
    );
}








