// Mixins

// General //
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

// Fonts //
@mixin font-lato($size: false, $color: false, $weight: false, $lh: false, $ls: false) {
    font-family: $lato;
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
    @if $ls { letter-spacing: $ls; }
}

@mixin font-open-sans($size: false, $color: false, $weight: false, $lh: false, $ls: false) {
    font-family: $opensans;
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
    @if $ls { letter-spacing: $ls; }
}

@mixin font-oswald($size: false, $color: false, $weight: false, $lh: false, $ls: false) {
    font-family: $oswald;
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
    @if $ls { letter-spacing: $ls; }
}

@mixin font-rokkitt($size: false, $color: false, $weight: false, $lh: false, $ls: false) {
    font-family: $rokkitt;
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
    @if $ls { letter-spacing: $ls; }
}

@mixin defaultwrap($center: true) {
    @if $center == false {
        margin: 0;
    }
    @else {
        margin: 0 auto;
    }

    max-width: 90em;
    width: 95%;
}

@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}