// Checkout Page - Start //
.checkout-index-index {
    .page-header {
        .header.content {
            .minicart-wrapper {
                display: none;
            }
            .nav-sections {
                display: none !important;
            }
        }
    }
}
// Checkout Page - End //


//Style Titles / Steps
.opc-wrapper {
    .step-title {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 0 0 10px 0;
        border-bottom: 1px solid #ccc;
    }
}

//Style Update Cart and Remove Item link
.checkout-cart-index .cart-container .form-cart {
    .action.update {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-decoration: underline;
        text-align: left;
        font-size: 0.8rem;
        margin-left: 0;
        padding-left: 0;
        cursor: pointer;
        &:before {
            display: none;
        }
    }
    .actions-toolbar {
        a.action-delete {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-decoration: underline;
            font-size: 0.8rem;
        }
    }
}



//Estimate Shipping link on summary div
.cart-summary > .pop-cust-click.title {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    color: #333333;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 5px;
    &:hover {
        -webkit-transition: background 0.2s;
        -moz-transition: background 0.2s;
        -ms-transition: background 0.2s;
        -o-transition: background 0.2s;
        transition: background 0.2s;
        color: $color_black;
    }
}

//Default styling for Order Summary Total
.cart-totals .grand .amount strong,
.cart-container .cart-totals .grand.totals .mark strong,
.opc-block-summary .table-totals .mark strong,
.opc-block-summary .table-totals .grand .amount strong,
.cart-container .cart-totals .grand.totals .mark strong {
    color: #333333;
    font-weight: 700 !important;
}


//Checkout - Hide Country Field in Checkout Shipping Page (Will need to be nested correctly):
.opc-wrapper .fieldset > .field._required[name="shippingAddress.country_id"] {
  display: none;
}



//Avalara "Change your Address" Message stying
.checkout-index-index .page-wrapper .page-main .columns .column.main .checkout-container .opc-wrapper .opc .checkout-validate-address .step-content .instructions.noError a.edit-address {
  text-decoration: underline;
}

td#label_carrier_flat-rate-shipping_flatrate,
td#label_carrier_fedex-2ndday_flatrate,
td#label_carrier_fedex-nextday_flatrate {
    display:none;
}

.checkout-index-index {
    .table-checkout-shipping-method tbody td {
        border: 0;

        &.col-price {
            width: 48px;
        }
    }
    .table-checkout-shipping-method tbody tr {
        border-top: 1px solid #ccc;
    }
    .table-checkout-shipping-method tbody tr:first-child{
        border-top: none;
    }
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
    }

    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: $color_white;
        border: 2px solid $scotts-secondary-green;
    }

    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 6px;
        height: 6px;
        background: $scotts-secondary-green;
        position: absolute;
        top: -10px;
        left: 4px;
        border-radius: 100%;
        @include transition(all 0.2s ease);
    }

    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .payment-method [type="radio"]:checked + label:after,
    .payment-method [type="radio"]:not(:checked) + label:after {
        top: 4px !important;
    }

    .field-error {
        font-size: 0.9375rem;
    }
}

@media screen and (max-width: $screen__m) {
    .checkout-cart-index #shopping-cart-table .col.item .product-item-details {
        width: 100%;
        text-align: left;
        display: inline-block;
        position: relative;
    }

    .checkout-cart-index #shopping-cart-table td .product-item-name {
        font-size: 1.1rem;
    }

    .checkout-cart-index #shopping-cart-table td, .checkout-cart-index #shopping-cart-table td.col.price {
        padding: 0;
    }

    .checkout-cart-index #shopping-cart-table td.subtotal {
        display: none;
    }

    .checkout-cart-index #shopping-cart-table thead {
        display: none;
    }

    .checkout-cart-index .cart-summary-divlink #discount-coupon-form .action.apply.primary {
        margin: 0 0 25px 0;
        margin-left: 0 !important;
    }


    //Shipping Page Styles - Start
    .checkout-index-index #shipping-method-buttons-container {
        width: 100%;
    }

    .checkout-index-index .page-wrapper .page-main .columns .column.main .checkout-container .opc-estimated-wrapper .minicart-wrapper .action.showcart {
        background: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        &:hover {
            background: #fff;
        }
    }

    .opc-estimated-wrapper {
      .minicart-wrapper {
        .action.showcart {
          .counter.qty {
            @include max-screen($screen__l) {
              background: #fff;
              color: #4d4d4e;
            }
            background: $primary__color;
          }
        }
      }
    }

    .opc-estimated-wrapper .minicart-wrapper .action.showcart:before {
        color: #333;
    }
    //Shipping Page Styles - End

    .checkout-index-index .checkout-billing-address .fieldset .actions-toolbar{
      margin-top: 10px;
    }

}

@media screen and (max-width: $screen__l) {
  .fieldset > .field:not(.choice) > .label {
        padding: 6px 15px 0 0;
        text-align: right;
        box-sizing: border-box;
        float: left;
    }
    .fieldset > .field:not(.choice) > .control {
        float: left;
    }
  .cart-summary {
    width: 100% !important;
  }
  .checkout-payment-method .payment-option-title {
    padding-left: 0;
  }
  .checkout-payment-method .payment-option-content {
    padding: 0;
  }
  .checkout-index-index #payment #checkout-step-payment .payment-option .payment-option-content #discount-form .primary {
    width: 100%;
    margin-left:0 !important;

  }
  .checkout-index-index #discount-form .payment-option-inner {
    margin: 0 0 0 0;
  }
  .checkout-index-index #discount-form label {
    padding: 6px 10px 0 0;
  }

  .checkout-index-index #payment #checkout-step-payment .payment-option .payment-option-content #discount-form .actions-toolbar {
    margin-left: 0 !important;
    margin-top: 10px !important;
    display: inline-block;
    width: 100%;
  }
}
