//  ---------------------------------------------
//  Scotts Base -  Colors
//  ---------------------------------------------

$scotts-green                                                 : #075534;
$scotts-secondary-green                                       : #138E51;
$scotts-black                                                 : #2A2A2A;
$scotts-gray                                                  : #4d4d4e;
$scotts-light-gray                                            : #959393;
$scotts-white                                                 : #f3f3f3;
$scotts-accent-orange                                         : #fcaf19;
