<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 SMG, LLC. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SMG\CustomerServiceEmail\Api\OrderManagementInterface"
                type="SMG\CustomerServiceEmail\Model\Service\OrderService"/>
    <preference for="SMG\CustomerServiceEmail\Api\Data\ItemInterface"
                type="SMG\CustomerServiceEmail\Model\Order\Item"/>
</config>
