.sp-button {
  border: none;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: $font-size-label;
  font-weight: 700;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out, transform .25s ease-in-out;
  white-space: nowrap;

  &:active {
    color: $white;
  }

  &:hover {
    box-shadow: $shadow-md;
    color: $white;
    text-decoration: none;
    transform: translateY(-1px);
  }

  &:focus {
    color: $white;
    outline: 2px auto;
    outline-offset: 1px;
    text-decoration: none;
  }
}

.sp-button--primary {
  background-color: $green-1;
  color: $white;

  &:active {
    background-color: $black;
    color: $white;
  }

  &:focus {
    color: $white;
    outline-color: $green-1;
  }
}

.sp-button--secondary {
  background-color: $black;
  color: $white;

  &:active {
    background-color: $gray-1;
    color: $white;
  }

  &:focus {
    color: $white;
    outline-color: $black;
  }
}

.sp-button--inverted {
  background-color: $white;
  color: $black;

  &:hover {
    color: $black;
  }

  &:active {
    background-color: $green-4;
    color: $black;
  }

  &:focus {
    color: $black;
    outline-color: $white;
  }
}

.sp-button--inactive {
  background-color: $gray-2;
  color: $gray-1;
  cursor: not-allowed;

  &:hover {
    background-color: $gray-2;
    color: $gray-1;
    box-shadow: none;
    transform: none;
  }

  &:focus {
    color: $gray-1;
    outline-color: $gray-1;
  }
}

.sp-button--get-started {
  min-width: 250px;
}
