.opc-block-summary {
	.discount {
		&.coupon {
			display: block;
		}
		.title {
			display: none;
		}
	}
}

.checkout-container {
	.opc-progress-bar {
		width: 100%;
		text-align: center;
		position: relative;
	}

	.opc-progress-bar-item {
		width: 50%;

		&:before {
			top: 19px;
			content: '';
			height: 4px;
			left: 0;
			position: absolute;
			width: 100%;
		}

		&span:before {
			height: 18px;
			margin-left: -9px;
			width: 18px;
			border-radius: 50%;
			content: '';
			left: 50%;
			position: absolute;
			top: 11px;
		}

		&._active:before {
			background: #1d5632;
		}

		&._active span:before {
			background: #1d5632;
		}

		&._active span:after {
			font-size: 1.8rem;
		}
	}
}
