a {
  @extend .sp-p1;

  color: $green-1;
  text-decoration: none;
  transition: color .25s ease-in-out;

  &:active,
  &:hover {
    color: $gray-1;
    text-decoration: underline;
  }

  &:focus {
    outline: 2px auto $gray-1;
    outline-offset: 1px;
    text-decoration: underline;
  }
}

.sp-link {
  @extend .sp-label;

  background-color: transparent;
  border: none;
  color: $green-1;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  &:active,
  &:hover {
    border: none;
    background-color: transparent;
    color: $gray-1;
    text-decoration: underline;
  }

  &:focus {
    border: none;
    background-color: transparent;
    outline-color: $green-1;
    text-decoration: underline;
  }
}
