.modal-popup.modal-slide {
  left: 1rem;
  right: 1rem;
}

.modal-popup.modal-slide._inner-scroll .modal-inner-wrap {
  margin: 2rem auto;
}

.modal-popup._inner-scroll .modal-inner-wrap {
  border: 2px solid $green-1;
}

.modal-custom .action-close:before, .modal-popup .action-close:before, .modal-slide .action-close:before {
  color: $green-1;
}

.modal-popup.modal-slide .modal-footer {
  border-top: 0;
  padding: 0 0 30px 0;
  text-align: center;
}

.modal-popup--subscriptions {
  position: relative;

  .modal-popup-cta {
    margin-bottom: 15px;
  }

  .modal-popup--subscriptions__close,
  .modal-popup--subscriptions__close:hover {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-image: url(https://test_magento_image_repo.storage.googleapis.com/icon-close.svg);
    width: 20px;
    height: 20px;
    display: block;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    padding: 0;
  }
}

.modal-popup .modal-inner-wrap {
  max-width: 640px;
}

.modal-popup.modal-slide._inner-scroll .modal-inner-wrap {
  min-height: unset;
}

.checkout-index-index .modal-popup .modal-inner-wrap {
  margin: 0 auto;
  max-width: 640px;
  left: 0;
}

.modal-popup.modal-slide .modal-inner-wrap[class] {
  background-color: #fff;
}
