.modal-popup._inner-scroll .modal-inner-wrap {
	border: 2px solid $green-1;
}

.modal-custom .action-close:before, .modal-popup .action-close:before, .modal-slide .action-close:before {
	color: $green-1;
}

.modal-popup.modal-slide .modal-footer {
	border-top: 0;
	padding: 0 0 30px 0;
	text-align: center;
}

.modal-popup--subscriptions {
	.modal-popup-cta {
		margin-bottom: 15px;
	}
}