.sp-quiz {
	height: calc(100% - #{$header-height});
}

.yourplan-options-index {
	&.sp-overflow-hidden {
		overflow: unset;
	}
}

@supports (-webkit-overflow-scrolling: touch) {
  .sp-quiz {
    height: 100%;
  }
}