.sp-widget {

}

.sp-widget-line {
	margin-bottom: 15px;
	width: 100%;
	height: 2px;
	background-color: $green-1;
}

.sp-widget-address {
	margin-bottom: 30px;
	font-size: $font-size-base;
	color: $black;
}