//Scss file for the SMG SpecList Widget

.product-info-container {
    display: inline-block;
    width: 100%;
}

.page-wrapper .page-main .grid > {
    h2.specListHeader {
        display: inline-block;
        position: relative;
        margin: 0;
        float: left;
    }
    ul.specListDetails {
        list-style: none;
        display: inline-block;
        position: relative;
        padding: 0;
        float: right;
        li.specListDetailCell {
            display: inline-block;
        }
    }
}



