.sp-quiz__content {
  overflow: auto;
}

.sp-quiz__previous {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.sp-quiz__previous:active,
.sp-quiz__previous:hover {
  background-color: transparent;
  border: none;
  color: #454545;
}

.sp-quiz__previous:focus {
  outline: 2px auto #454545;
  outline-offset: 1px;
  text-decoration: underline;
}

.sp-quiz__next {
  width: 80px;
}

.sp-quiz__option-label {
  border-radius: 0.5rem;
  padding: 6px; /** Padding used to generate border around option content **/
  transition: background-color 0.25s ease;
}

.sp-quiz__option-content {
  height: 100%;
  transition: background-color 0.25s ease;
}

.sp-quiz-checkbox:checked + .sp-quiz__option-label {
  background-color: #028c45;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.26);
}

.sp-quiz-checkbox:checked + .sp-quiz__option-label .sp-quiz__option-content {
  background-color: #edf4e1;
  box-shadow: none;
}

.sp-quiz__option-image {
  display: block;
  height: auto;
  max-width: 100px;
  margin: 0 auto;
  width: 100%;
}

.sp-quiz__progress-container {
  width: 400px;
  height: 30px;
  border: 1px solid black;
  position: relative;
}

.sp-quiz__progress-fill {
  left:0;
  top:0;
  background:#1D5632;
  width: 0;
  height: 100%;
  overflow:hidden;
}