<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Response\HeaderProvider\XFrameOptions">
        <plugin name="SMG_Framework_App_Response_HeaderProvider_XFrameOptions" type="SMG\Framework\Plugin\App\Response\HeaderProvider\XFrameOptions" sortOrder="1" />
    </type>
    
    <!-- 
    	Unfortunately I had to do an override to add a check for deadlocks and then do a retry.  This should affect all
    	queries in the database.  This is based on the errors found in the NewRelic logs.
    	
    	Unfortuantely we had to do a full override because we need access to protected functions which can't
    	be done when extending the class.
     -->
    <preference for="Magento\Framework\DB\Adapter\Pdo\Mysql" type="SMG\Framework\DB\Adapter\Pdo\Mysql" />
</config>
