<div data-bind="if: quiz" class="sp-quiz__content sp-flex-auto sp-py-12">
    <div
        class="sp-quiz__question sp-container"
        data-bind="if: quiz.currentGroup()"
    >
        <!-- Showing banner image if it exists -->
        <div class="sp-quiz__banner sp-text-center" data-bind="if: quiz.currentGroup().imageUrl">
            <img data-bind="attr:{src: quiz.currentGroup().imageUrl}" alt="Quiz Banner" />
        </div>

        <h2
            class="sp-quiz__question-title sp-h2 sp-max-w-md sp-mt-0 sp-mx-auto sp-text-center"
            data-bind="text: quiz.currentGroup().title"
        >
        </h2>

        <p class="sp-text-center" data-bind="text: quiz.currentGroup().subtitle"></p>

        <!-- Single Question no Images === 2 -->
        <div data-bind="if: quiz.currentGroup().questionGroupType === 2">
            <div
                    class="sp-mx-auto lg:sp-w-3/4"
                    data-bind="foreach: { data: quiz.currentGroup().questions, as: 'question', noChildContext: true }"
            >

                <div
                        class="sp-quiz__options sp-flex sp-flex-wrap sp-justify-center sp--mx-1"
                        data-bind="foreach: { data: question.options, as: 'option', noChildContext: true }"
                >
                    <div
                            class="sp-quiz-option sp-w-1/2 lg:sp-w-1/2 sp-text-center sp-p-1"
                            data-bind="css: { 'sp-quiz-option--multiple': question.questionType === 2 }"
                    >
                        <input
                                class="sp-quiz-option__input sp-quiz-checkbox sp-hidden"
                                data-bind="attr: { id: option.id, name: question.id, value: option.id }"
                                type="checkbox"
                        />

                        <label
                                class="sp-quiz__option-label sp-block sp-h-full"
                                data-bind="attr: { for: option.id }"
                        >
                        <span class="sp-quiz__option-content sp-bg-white sp-block sp-p-4 sp-rounded sp-shadow-md">
                            <span class="sp-block sp-mb-0 sp-text-black" data-bind="text: option.label"></span>
                        </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Questions with Image === 1 -->
        <!-- Multiple Questions === 3 -->
        <div data-bind="if: quiz.currentGroup().questionGroupType === 1 || quiz.currentGroup().questionGroupType === 3">

            <div
                class="sp-mx-auto lg:sp-w-3/4"
                data-bind="foreach: { data: quiz.currentGroup().questions, as: 'question', noChildContext: true }"
            >

                <div
                        class="sp-quiz__options sp-flex sp-flex-wrap sp-justify-center sp--mx-1"
                        data-bind="foreach: { data: question.options, as: 'option', noChildContext: true }"
                >
                    <div
                            class="sp-quiz-option sp-w-1/2 lg:sp-w-1/4 sp-text-center sp-p-1"
                            data-bind="css: { 'sp-quiz-option--multiple': question.questionType === 2 }"
                    >
                        <input
                                class="sp-quiz-option__input sp-quiz-checkbox sp-hidden"
                                data-bind="attr: { id: option.id, name: question.id, value: option.id }"
                                type="checkbox"
                        />

                        <label
                                class="sp-quiz__option-label sp-block sp-h-full"
                                data-bind="attr: { for: option.id }"
                        >
                            <span class="sp-quiz__option-content sp-bg-white sp-block sp-p-4 sp-rounded sp-shadow-md">
                                <span class="sp-block sp-my-4">
                                    <img
                                            alt="Quiz Option"
                                            class="sp-quiz__option-image"
                                            data-bind="attr: { src: option.imageUrl }"
                                    />
                                </span>
                                <span class="sp-block sp-mb-0 sp-text-black" data-bind="text: option.label"></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div
    class="sp-quiz__progress sp-bg-white sp-text-black sp-text-right"
    data-bind="if: quiz.currentGroup()"
>
    <!-- Progress bar -->    
    <div class="sp-flex sp-quiz__progress-container sp-mx-auto lg:sp-w-3/4">
        <ul class="sp-quiz__progress-list sp-mx-auto lg:sp-w-3/4" data-bind="foreach: { data: quiz.progressBarCategories, noChildContext: true } ">
            <li 
                data-bind="css: { progressBarSelected: $parent.quiz.previousGroups().length === $index(), progressBarVisited: $parent.quiz.previousGroups().length > $index(), progressBarEnd: $parent.quiz.previousGroups().length > $index() && $index() === 4 }" 
                class="sp-quiz__progress-item"
            >
            <span class="sp-quiz__progress-item-label sp-label" data-bind="text: label"></span>
            <span class="sp-quiz__progress-item-dot"></span>
        </li>
        </ul>
    </div>

    <div class="sp-container sp-flex sp-items-center sp-justify-between sp-py-6">
        <!-- Previous button -->    
        <div class="lg:sp-w-1/8">
            <button
                class="sp-quiz__previous sp-label sp-text-green-1"
                type="button"
                data-bind="visible: quiz.previousGroups().length, click: previousQuestionGroup"
            >
                Previous
            </button>
        </div>

        <div class="sp-quiz__progress-bar lg:sp-w-3/4">
            <p class="sp-label sp-mb-0 sp-text-center" data-bind="text: quiz.currentGroup().label"></p>
        </div>

        <!-- Next button -->    
        <div class="lg:sp-w-1/8">
            <button
                class="sp-quiz__next sp-button sp-button--primary"
                type="button"
                data-bind="click: validateResponse"
            >
                Next
            </button>
        </div>
    </div>
</div>
