<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name ="SMG_UnsupportedBrowser" setup_version="1.0.0">
        <!-- <sequence>
            <module name="SMG_RecommendationApi"/>
            <module name="SMG_RecommendationQuiz"/>
            <module name="SMG_RecommendationResults"/>
        </sequence> -->
    </module>
</config>
