// Import scottsbasevars and scottsbase-colors
@import '../../../../default/web/css/source/scottsbase-colors';
@import '../../../../default/web/css/source/scottsbasevars';

//  MyGro Brand Colors
$mygro-green                                                  : #008065;
$mygro-dark-green                                             : #00634f;
$mygro-light-green                                            : #59988b;
$mygro-dark-gray                                              : #383838;
$mygro-gray                                                   : #909090;
$mygro-gray-alt                                               : #636363;
$mygro-accent-blue                                            : #2c5999;
$mygro-black                                                  : #222222;
$mygro-black-alt                                              : #231f20;

$bundle-light-gray                                            : #DCDCDC;

//  Fonts
$font-family-name__secondary                                  : 'Open-Sans';
$font-family__secondary                                       : $font-family-name__secondary, $font-family__sans-serif;


// Font Sizes //
$font10: 10px;
$font12: 12px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font18: 18px;
$font19: 19px;
$font20: 20px;
$font27: 27px;
$font32: 32px;

$font_normal: normal;


// Navigation //
$navigation-desktop_letter-spacing                            : $letter-spacing_l;


// Screen Sizes //
$screen_1023: 1023px;
$screen_1024: 1024px;
$screen_768: 768px;
$screen_769: 769px;
$screen_568: 568px;
