<!--ko if: hasResults()-->

<!--Your Plan-->
<div class="sp-bg-green-4">
	<div class="sp-container">
		<div class="sp-text-center">
			<div class="sp-mx-auto lg:sp-w-1/2">
				<h1 class="sp-h1 sp-mx-auto sp-text-green-1 sp-text-center">Choose Your Subscription</h1>
				<p class="sp-text-base sp-text-center">
					Select a subscription option to continue with your purchase.
				</p>
			</div>
			<div>
				<div class="sp-options__your-plan sp-inline-block sp-bg-white sp-pt-8 sp-pb-4 sp-px-4 lg:sp-mx-8 md:sp-mx-auto sp-relative sp-rounded sp-my-8 md:sp-my-12">
					<h2 class="sp-text-center sp-h4 sp-m-0 sp-mb-4 sp-uppercase">Your Plan</h2>

					<ul
						class="sp-options__list sp-flex sp-flex-row sp-flex-wrap lg:sp-flex-no-wrap sp-m-0 sp-mb-6 sp--mx-2 sp-p-0 sp-justify-around sp-relative"
						data-bind="foreach: seasons()"
					>
						<li class="sp-options__your-plan-product sp-text-center sp-mx-4 md:sp-mx-0 sp-px-2">
							<div class="sp-flex sp-items-center sp-justify-center sp--mx-1" data-bind="foreach: products">
								<div class="sp-px-1">
									<img
										class="sp-align-center sp-block sp-mb-1 sp-options__product-image"
										data-bind="attr: { src: thumbnailImage, alt: meta_title }"
									/>
								</div>
							</div>
							<div
								class="sp-options__your-plan-label sp-text-center sp-p2"
								data-bind="html: season"
							>
							</div>
							<strong
								class="sp-text-center sp-label"
								data-bind="html: $parent.formatCurrency(total)"
							>
							</strong>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Available Plans-->
<div class="sp-relative sp-mb-16">
	<div class="sp-options__plan-bg sp-bg-green-4"></div>
    <div class="sp-container sp-relative sp-z-1">
		<div class="sp-mx-auto lg:sp-w-5/6">
			<div class="sp-options__plans sp-flex sp-flex-column md:sp-flex-row sp--mx-2">

				<!--Annual Subscription-->
				<div
					class="sp-options__plan sp-mb-8 md:sp-mb-0 sp-px-2 md:sp-w-1/2"
					data-bind="css: { 'sp-options__plan--selected': subscriptionType() === 'annual' }"
				>
					<label class="sp-options__plan-container sp-bg-white sp-flex sp-flex-column sp-h-full sp-rounded sp-shadow-md">
						<h2 class="sp-options__plan-header sp-h4--long sp-my-0 sp-p-4 sp-text-center">
							One Yearly Discounted Payment - Best Value
						</h2>
						<div class="sp-flex sp-flex-column sp-flex-auto sp-px-6 lg:sp-px-12">
							<h3 class="sp-h2--long sp-mb-6">Annual Subscription</h3>
							<p class="sp-mb-0 sp-p1 sp-text-green-1">Subscribe annually and save 10% off MSRP</p>
							<div class="subscription-card-price sp-mb-6">
								<span class="--old-price" data-bind="html: formatCurrency(total())"></span>
								<span class="--current-price sp-h4--long sp-text-green-1" data-bind="html: formatCurrency(total() * .9)"></span>
							</div>
							<ul class="sp-pl-4">
								<li class="sp-p1">Full amount charged now</li>
								<li class="sp-p1">Products are delivered when it is time to apply</li>
								<li class="sp-p1">Subscription automatically renews for each shipment and then starts again the following year until canceled. Cancel anytime.</li>
								<li class="sp-p1">Free shipping</li>
							</ul>
							<div class="sp-options__plan-selector sp-flex-auto sp-flex sp-flex-column sp-justify-end">
								<hr class="sp-options__divider sp-my-4 sp-w-full">
								<div class="sp-flex sp-items-center sp-justify-center sp-mb-4 sp-text-center sp-text-uppercase">
									<input
										class="sp-radio sp-mr-1"
										name="subscription_plan"
										type="radio"
										value="annual"
										data-bind="
											checked: subscriptionType(),
											event: { input: selectPlan }
										"
									/>
									<span class="sp-label">
										Select annual
									</span>
								</div>
							</div>
						</div>
					</label>
				</div>

				<!--Seasonal Subscription-->
				<div
					class="sp-options__plan sp-mb-8 md:sp-mb-0 sp-px-2 md:sp-w-1/2"
					data-bind="css: { 'sp-options__plan--selected': subscriptionType() === 'seasonal' }"
				>
					<label class="sp-options__plan-container sp-bg-white sp-flex sp-flex-column sp-h-full sp-rounded sp-shadow-md">
						<h2 class="sp-options__plan-header sp-h4--long sp-my-0 sp-p-4 sp-text-center">
							Pay Per Shipment
						</h2>
						<div class="sp-flex sp-flex-column sp-flex-auto sp-px-6 lg:sp-px-12">
							<h3 class="sp-h2--long sp-mb-6">Seasonal Subscription</h3>
							<ul class="sp-pl-0" data-bind="foreach: seasons()" style="list-style: none">
								<li class="sp-p1">
									<span data-bind="html: season"></span>
									<strong data-bind="html: $parent.formatCurrency(total)"></strong>
								</li>
							</ul>
							<ul class="sp-pl-4">
								<li class="sp-p1">Make multiple payments throughout the year</li>
								<li class="sp-p1">Products are delivered when it is time to apply</li>
								<li class="sp-p1">Subscription automatically renews for each shipment and then starts again the following year until canceled. Cancel anytime.</li>
								<li class="sp-p1">Free shipping</li>
							</ul>
							<div class="sp-options__plan-selector sp-flex-auto sp-flex sp-flex-column sp-justify-end">
								<hr class="sp-options__divider sp-my-4 sp-w-full">
								<span class="sp-flex sp-items-center sp-justify-center sp-mb-4 sp-text-center sp-text-uppercase">
									<input
										class="sp-radio sp-mr-1"
										name="subscription_plan"
										type="radio"
										value="seasonal"
										data-bind="
											checked: subscriptionType(),
											event: { input: selectPlan }
										"
									/>
									<span class="sp-label">
										Select seasonal
									</span>
								</span>
							</div>
						</div>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>

	<!--Recommended Add-ons-->
	<!--ko if: addOn()-->
	<div class="sp-options__add-ons sp-container sp-mb-16">
		<div class="sp-container lg:sp-w-5/6">
			<h4 class="sp-h4 sp-mb-4 sp-mt-0 sp-uppercase">
				Recommended one time add-ons
			</h4>
			<hr class="sp-mt-4 sp-mb-8">

			<div class="sp-options__add-on sp-px-4 sp-py-8 md:sp-p-8">
				<div class="sp-flex sp-flex-column md:sp-flex-row sp-py-4 sp-px-8">
					<div class="sp-flex-none sp-mb-2 md:sp-mb-0 md:sp-mr-8 sp-text-center">
						<img
							class="sp-options__product-image sp-options__product-image--lg"
							data-bind="attr: { src: addOn().thumbnailImage, alt: addOn().meta_title }"
						/>
					</div>
					<div class="sp-flex-auto sp-text-center md:sp-text-left">
						<div
							class="sp-label sp-mb-2 sp-pb-1"
							data-bind="html: formatCurrency(addOn().price * addOn().quantity)"
						>
						</div>
						<!-- ko if: addOn().quanityMeasuredinBags === 'no' -->
						<div class="sp-flex sp-justify-center md:sp-justify-start sp-mb-2">
							<div>Qty: 1</div>
						</div>
						<!-- /ko -->
						<!-- ko if: addOn().quanityMeasuredinBags === 'yes' -->
						<div class="sp-flex sp-justify-center md:sp-justify-start sp-mb-2">
							<div class="sp-options-count sp-label sp-text-sm sp-mr-2 sp-flex sp-justify-center sp-items-center sp-label sp-uppercase"
								 data-bind="html: addOn().quantity"></div>
							<span>Bag Count</span>
						</div>
						<!-- /ko -->
						<h4 class="sp-h4--long sp-mb-4 sp-mt-0" data-bind="html: addOn().displayName">
						</h4>
						<p class="sp-p1 sp-hide md:sp-block" data-bind="html: addOn().description"></p>

						<button type="button" class="sp-options__add-on-link sp-link" data-bind="click: togglePDP.bind($data, addOn())">
							More About This Product
						</button>


						<hr class="sp-options__divider sp-mb-6 sp-mt-4">

						<div class="sp-flex sp-flex-column md:sp-flex-row sp-items-center">
							<label class="sp-flex-none sp-mb-2 md:sp-mb-0 md:sp-mr-8">
								<input
									class="sp-checkbox sp-options__add-on-checkbox sp-mr-1"
									name="addon_products"
									type="checkbox"
									data-bind="checkedValue: addOn().sku, checked: selectedAddOns, attr: { checked: selectedAddOns.indexOf(addOn().sku) >= 0 }"
								/>
								<span class="sp-options__add sp-label sp-text-green-1">
									Add to Order
								</span>
								<span class="sp-options__added sp-hide sp-label sp-text-green-1">
									Added to Order
								</span>
							</label>
							<div class="sp-flex-auto">
								If you add this product to your order, it will
								only be included in the first shipment.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /ko -->

<div class="sp-options__footer sp-bg-green-1 sp-py-4">
    <div class="sp-container sp-flex sp-flex-column md:sp-flex-row sp-items-center sp-justify-end">
		<form action="/your-results">
		<button type="submit"
				class="sp-link sp-link--inverted sp-flex-none md:sp-mr-12 sp-order-1 md:sp-order-0"

		>
			Back to Plan Results
		</button></form>
        <a
			class="sp-button sp-button--inverted sp-button--get-started sp-order-0 md:sp-order-1"
			data-bind="
				attr: { disabled: false },
				click: proceedToCheckout,
				css: { 'sp-button--inactive sp-button--loading': loading() }
			"
		>
            Proceed to Checkout
        </a>
    </div>
</div>

<!-- ko if: pdp().visible && pdp().product  -->
<!-- ko template: "SMG_RecommendationResults/product-detail-modal.html" --><!-- /ko -->
<!-- /ko -->
