<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SMG\Api\Model\AuthReversalManagementInterface" type="SMG\Api\Model\Api\AuthReversalManagement" />
    <preference for="SMG\Api\Model\BatchCaptureManagementInterface" type="SMG\Api\Model\Api\BatchCaptureManagement" />
    <preference for="SMG\Api\Model\ConsumerDataManagementInterface" type="SMG\Api\Model\Api\ConsumerDataManagement" />
    <preference for="SMG\Api\Model\ConsumerDataSentManagementInterface" type="SMG\Api\Model\Api\ConsumerDataSentManagement" />
    <preference for="SMG\Api\Model\InvoiceReconciliationManagementInterface" type="SMG\Api\Model\Api\InvoiceReconciliationManagement" />
    <preference for="SMG\Api\Model\InvoiceReconciliationSentManagementInterface" type="SMG\Api\Model\Api\InvoiceReconciliationSentManagement" />
    <preference for="SMG\Api\Model\OrdersManagementInterface" type="SMG\Api\Model\Api\OrdersManagement" />
    <preference for="SMG\Api\Model\OrdersSentManagementInterface" type="SMG\Api\Model\Api\OrdersSentManagement" />
    <preference for="SMG\Api\Model\OrderStatusManagementInterface" type="SMG\Api\Model\Api\OrderStatusManagement" />
    <preference for="SMG\Api\Model\ProductImportManagementInterface" type="SMG\Api\Model\Api\ProductImportManagement" />
    <preference for="SMG\Api\Model\ShipmentManagementInterface" type="SMG\Api\Model\Api\ShipmentManagement" />
    <preference for="SMG\Api\Model\ProductExportManagementInterface" type="SMG\Api\Model\Api\ProductExportManagement" />
</config>