<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SMG\Api\Model\AuthReversalManagementInterface" type="SMG\Api\Model\Api\AuthReversalManagement" />
    <preference for="SMG\Api\Model\BatchCaptureManagementInterface" type="SMG\Api\Model\Api\BatchCaptureManagement" />
    <preference for="SMG\Api\Model\OrdersManagementInterface" type="SMG\Api\Model\Api\OrdersManagement" />
    <preference for="SMG\Api\Model\OrderStatusManagementInterface" type="SMG\Api\Model\Api\OrderStatusManagement" />
</config>