<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SMG\Api\Api\AuthReversalManagementInterface" type="SMG\Api\Model\AuthReversalManagement" />
    <preference for="SMG\Api\Api\BatchCaptureManagementInterface" type="SMG\Api\Model\BatchCaptureManagement" />
    <preference for="SMG\Api\Api\ConsumerDataManagementInterface" type="SMG\Api\Model\ConsumerDataManagement" />
    <preference for="SMG\Api\Api\ConsumerDataSentManagementInterface" type="SMG\Api\Model\ConsumerDataSentManagement" />
    <preference for="SMG\Api\Api\InvoiceReconciliationManagementInterface" type="SMG\Api\Model\InvoiceReconciliationManagement" />
    <preference for="SMG\Api\Api\InvoiceReconciliationSentManagementInterface" type="SMG\Api\Model\InvoiceReconciliationSentManagement" />
    <preference for="SMG\Api\Api\ManualShipmentManagementInterface" type="SMG\Api\Model\ManualShipmentManagement" />
    <preference for="SMG\Api\Api\OrdersManagementInterface" type="SMG\Api\Model\OrdersManagement" />
    <preference for="SMG\Api\Api\OrdersSentManagementInterface" type="SMG\Api\Model\OrdersSentManagement" />
    <preference for="SMG\Api\Api\OrderStatusManagementInterface" type="SMG\Api\Model\OrderStatusManagement" />
    <preference for="SMG\Api\Api\ProductImportManagementInterface" type="SMG\Api\Model\ProductImportManagement" />
    <preference for="SMG\Api\Api\ShipmentManagementInterface" type="SMG\Api\Model\ShipmentManagement" />
    <preference for="SMG\Api\Api\ProductExportManagementInterface" type="SMG\Api\Model\ProductExportManagement" />
    <preference for="SMG\Api\Api\OrderInfoManagementInterface" type="SMG\Api\Model\OrderInfoManagement" />
</config>