.iframes-addtocart-index {
  .page-wrapper .page-main {
    @include font-iframe(0.875rem, $color-black);
    margin: .5rem 0;
    padding: 0;

    // Turn off messages for iframe.
    .messages {
      display: none;
    }
  }

  // Price
  .price-box {
    .price-label, .price {
      @include font-iframe(1.375rem);
    }
  }

  // Iframe Container.
  .cta__container {

    // Contains Size, Quantity, and Button.
    .cta__container--options {
      .block__item {
        margin-top: 10px;

        // Format Labels.
        label {
          margin-right: 10px;
          text-transform: capitalize;
          @include font-iframe(0.875rem);
        }

        // Size.
        .configurable{
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;

          select {
            min-width: 159px;
            border-radius: 0;
          }
        }

        // Quantity.
        .block__subblock {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;

          #qty-wrap {
            display: flex;
            border: 1px solid $color-gray-light2;
            width: 126px;
            box-shadow: 0 1px 1px $color-gray82;

            .block__subblock--input{
              border: none;
              padding: 0;
              font-size: 14px;
              width: 100%;
              text-align: center;
              border-radius: 0;
              box-shadow: none;
            }

            // Plus and Minus Sign buttons.
            .minus, .plus {
              color: $color-gray19;
              font-size: 20px;
              padding: 10px 15px;
              background-color: $color-gray-light0;
              border: none;
              border-radius: 0;
              border-left: 1px solid $color-gray-light2;
            }
          }

        }

        // "Add to Cart" Button.
        .button--cart {
          @include lib-button-iframe-addtocart();
        }
      }
    }
  }
}
