.iframes-cart-index {
  .page-wrapper .page-main {
    margin: 0;
    padding: 0;

    // Turn off messages for iframe.
    .messages {
      display: none;
    }
  }

  .nav__cart {
    width: fit-content;
    cursor: pointer;

    .nav__cart--wrapper {
      .nav__cart--icon {
        &:before {
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 37px;
          line-height: 25px;
          color: $drupalScotts-gray;
          content: "";
          font-family: "icons-blank-theme";
          display: inline-block;
          width: 1.875rem;
          height: 1.875rem;
          vertical-align: middle;
          @media only screen and (max-width: $screen__m){
              font-size: 38px;
              line-height: 26px;
          }
        }
      }
      .nav__cart--label {
        font-family: $lato;
        color: $drupalScotts-gray;
        display: inline-block;
        font-size: $font-size__base;
        text-transform: uppercase;
        margin: 2px 0 0 10px;

        .count {
          display: inline-block;
          vertical-align: top;
          margin: 2px 0 0 0;
          @media only screen and (max-width: $screen__m){
            margin: 3px 0 0 0;
        }

          &:before, &:after {
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
          }

          &:before {
            content: '(';
          }

          &:after {
            content: ')';
          }
        }
      }
    }
  }
}
