.iframes-cart-index {
  .page-wrapper .page-main {
    margin: 0;
    padding: 0;

    // Turn off messages for iframe.
    .messages {
      display: none;
    }
  }

  .nav__cart {
    width: fit-content;
    cursor: pointer;

    .nav__cart--wrapper {
      .nav__cart--icon {
        &:before {
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: $iframe-cart-icon-size;
          line-height: $iframe-cart-icon-line-height;
          color: $iframe-cart-icon;
          content: "";
          font-family: "icons-blank-theme";
          display: inline-block;
          width: 1.875rem;
          height: 1.875rem;
          vertical-align: middle;
          @media only screen and (max-width: $screen__m){
            font-size: $iframe-cart-mobile-icon-size;
            line-height: $iframe-cart-icon-mobile-line-height;
        }
        }
      }
      .nav__cart--label {
        font-family: $lato;
        color: $iframe-cart-icon;
        display: inline-block;
        font-size: $font-size__base;
        text-transform: uppercase;
        margin: 2px 0 0 10px;

        .count {
          display: inline-block;
          vertical-align: top;

          &:before, &:after {
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
          }

          &:before {
            content: '(';
          }

          &:after {
            content: ')';
          }
        }
      }
      .checkout-now {
        font-family: $lato;
        text-transform: uppercase;
        font-size: $font-size__xxs;
        color: $iframe-cart-checkout-now-txt;
        text-align: center;
        line-height: 1.8rem;
      }
    }
  }
}
