.iframes-cart-index {
  .page-wrapper .page-main {
    margin: 0;
    padding: 0;
  }

  .nav__cart {
    width: fit-content;

    .nav__cart--wrapper {
      .nav__cart--icon {
        &:before {
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 35px;
          line-height: 33px;
          color: $color-gray56;
          content: "";
          font-family: "icons-blank-theme";
          display: inline-block;
          width: 1.875rem;
          height: 1.875rem;
          vertical-align: middle;
        }
      }
      .nav__cart--label {
        color: $color-gray56;
        display: inline-block;
        line-height: 1;
        font-size: 0.813rem;
        text-transform: uppercase;

        .count {
          display: inline-block;
          vertical-align: top;

          &:before, &:after {
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
          }

          &:before {
            content: '(';
          }

          &:after {
            content: ')';
          }
        }
      }
      .checkout-now {
        text-transform: uppercase;
        font-size: 10px;
        color: $iframe-cart-checkout-now-txt;
        text-align: center;
      }
    }
  }
}
