//  Iframe Vars
//  ---------------------------------------------
$iframe-addtocart-btn-border: none;
$iframe-addtocart-btn-color: #fff;
$iframe-addtocart-btn-color-hover: #fff;
$iframe-addtocart-btn-background: #509643;
$iframe-addtocart-btn-background-hover: #5fb061;

$iframe-cart-checkout-now-txt: #509643;
