<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="smg" translate="label" sortOrder="500">
            <label>SMG</label>
        </tab>
        <section id="smg_launch"  translate="label" type="text" sortOrder="3000" showInDefault="1" showInWebsite="1" showInStore="1" >
            <class>separator-top</class>
            <label>Smg Adobe Launch</label>
            <tab>smg</tab>
            <resource>SMG_Launch::config_smg_launch</resource>
            <group id="adobe" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Adobe Launch Code</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Script Url</label>
                    <comment>Development URL: //assets.adobedtm.com/launch-EN8dc7b7aa94134dcf94c01abd416cda6c-development.min.js
					Staging URL: //assets.adobedtm.com/launch-EN7b036364a3134eee87e52a2b21f58ddb-staging.min.js
					 Production URL: //assets.adobedtm.com/launch-ENdc5122c796634d54be3363c5024a184f.min.js
						
					</comment>
                </field>
            </group>
        </section>
    </system>
</config>
