<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="yourplan" frontName="your-plan">
            <module name="SMG_SubscriptionPlan"/>
        </route>
    </router>
</config>
