
// Font Family
$font-family-name__secondary                                    : 'Lato';
$font-family__sans-serif                                        : 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family__secondary                                         : $font-family-name__secondary, $font-family__sans-serif;


// Font Sizes
$pdp-product-title-size                                         : 32px; 
$pdp-product-body-size                                          : 14px;

// Font Weight
$font-weight__bold                                              : 700;

