
@mixin php-product-title($family: $font-family__pdp-title, $size: $pdp-product-title-size, $color: $php-product-title-color, $weight: $font-weight__bold) {
    @if $family { font-family: $family; }
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
}


@mixin php-product-body($family: $font-family__pdp-body, $size: $pdp-product-body-size, $color: $pdp-product-body-color, $weight: $font-weight__normal) {
    @if $family { font-family: $family; }
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
}

@mixin php-product-price($family: $font-family__pdp-body, $size: $pdp-product-price-size, $color: false, $weight: $font-weight__normal) {
    @if $family { font-family: $family; }
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
}

@mixin php-product-button($family: $font-family__pdp-body, $size: $pdp-product-btn-size, $color: false, $weight: $font-weight__normal) {
    @if $family { font-family: $family; }
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
}