.checkout-index-index .checkout-shipping-method .step-title {
  display: none;
}

.checkout-index-index .checkout-shipping-method .checkout-shipping-disclaimer {
  display: none;
}

.checkout-index-index .checkout-shipping-method .shipping-policy-block {
  display: none;
}

.checkout-index-index #checkout-shipping-method-load {
  display: none;
}

.checkout-index-index .totals.shipping.excl {
  display: none;
}

.checkout-index-index .shipping-information {
  display:none;
}
